{"openapi":"3.0.3","info":{"title":"Quoting API","description":"Real-time quoting API","contact":{"email":"quoting@beambenefits.com","name":"Quoting Engineering","url":"https://beambenefits.com"},"version":"v1"},"servers":[{"url":"https://api.beambenefits.com/{basePath}","description":"The production API server","variables":{"basePath":{"default":"quotes/api/v1/"}}},{"url":"http://api.beambenefits.localhost/{basePath}","description":"Local development server","variables":{"basePath":{"default":"quotes/api/v1/"}}},{"url":"https://api.{ephName}.services.beam.tools/{basePath}","description":"Ephemeral (staging) environment","variables":{"ephName":{"default":"my-first-eph","description":"Ephemeral name"},"basePath":{"default":"quotes/api/v1/"}}}],"tags":[{"name":"Commissions","description":"Commission configuration"},{"name":"Customers","description":"Customer activities"},{"name":"Customize Plan","description":"Customize Plan endpoint"},{"name":"Disclaimers","description":"Legal disclaimer language"},{"name":"Documents","description":"Endpoints for document fulfillment"},{"name":"Healthz","description":"Heartbeat endpoint"},{"name":"Census","description":"Demographic census actions"},{"name":"Permissions","description":"Permission actions"},{"name":"PlanQuotes","description":"Plan quote actions"},{"name":"Quote PDFs","description":"Work with Quote PDFs"},{"name":"Quotes","description":"Quoting activities"},{"name":"Rates","description":"Rate actions"},{"name":"DraftCensus","description":"Census editing endpoints"},{"name":"Quotable States","description":"List of quotable states for a partner"},{"name":"Quotable Products","description":"List of quotable products for a partner"}],"paths":{"/quotes":{"post":{"summary":"create quote","description":"create quote","operationId":"create-quote","tags":["Quotes"],"security":[{"Bearer":[]}],"parameters":[],"responses":{"201":{"description":"created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/get_quote"}}}},"401":{"$ref":"#/components/responses/401_unauthorized"}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/create_quote_post"},"examples":{"basicQuote":{"summary":"Creating a basic quote","value":{"data":{"attributes":{"subscriber_count":3,"eligible_employee_count":3,"zipcode":"43214","sic_code":"9999","state":"OH","insured_group_name":"Example Group 1","effective_date":"2024-01-01","coverage_types":["dental","vision"]}}}},"withCensus":{"summary":"Creating a quote with census","value":{"data":{"attributes":{"subscriber_count":3,"eligible_employee_count":3,"zipcode":"43214","sic_code":"9999","state":"OH","insured_group_name":"Example Group 1","effective_date":"2024-01-01","coverage_types":["dental","vision"],"census":[{"dob":"1970-03-15","zipcode":"43214"},{"dob":"1969-02-02","zipcode":"43212"},{"dob":"1984-07-05","zipcode":"43213"}]}}}},"withEnrichedCensus":{"summary":"Creating a quote with enriched census","value":{"data":{"attributes":{"subscriber_count":5,"eligible_employee_count":5,"zipcode":"43214","sic_code":"5221","state":"OH","insured_group_name":"Example Group 1","effective_date":"2024-06-01","coverage_types":["dental","vision","short_term_disability","long_term_disability"],"census":[{"dob":"1970-03-17","zipcode":"43214","salary_mode":"annually","salary":100000,"hours_per_week":32,"gender":"f"},{"dob":"1976-03-17","zipcode":"43214","salary_mode":"annually","salary":100002,"hours_per_week":32,"gender":"m"},{"dob":"1990-03-17","zipcode":"43214","salary_mode":"annually","salary":200000,"hours_per_week":32,"gender":"o"},{"dob":"1978-03-17","zipcode":"43214","salary_mode":"hourly","salary":19.75,"hours_per_week":32,"gender":"f"},{"dob":"1984-03-17","zipcode":"43214","salary_mode":"hourly","salary":"11.50","hours_per_week":32,"gender":"f"}]}}}}}}}}}},"/quotes/shelf_rated":{"post":{"summary":"create shelf-rated quote","description":"create shelf-rated quote","operationId":"create-shelf-rated-quote","tags":["Quotes"],"security":[{"Bearer":[]}],"parameters":[],"responses":{"201":{"description":"created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/get_quote"}}}},"401":{"$ref":"#/components/responses/401_unauthorized"}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/create_shelf_rated_quote_post"}}}}}},"/quotes/{quote_id}/rate_plan":{"post":{"summary":"rate plan","description":"rate plan","operationId":"rate-plan","tags":["Quotes"],"security":[{"Bearer":[]}],"parameters":[{"name":"quote_id","in":"path","schema":{"type":"integer"},"required":true}],"responses":{"200":{"description":"ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/dental_plan_quote"}}}},"401":{"$ref":"#/components/responses/401_unauthorized"}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/rate_plan_post"}}}}}},"/quotes/{quote_id}/promotions":{"get":{"summary":"List available promotions for the given quote_id.","description":"List available promotions for the given quote_id.","operationId":"get-promotions","tags":["Quotes"],"security":[{"Bearer":[]}],"parameters":[{"name":"quote_id","in":"path","schema":{"type":"integer"},"required":true}],"responses":{"200":{"description":"ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/list_promotions"}}}},"401":{"$ref":"#/components/responses/401_unauthorized"}}},"post":{"summary":"Update selected promotions for the given quote_id.","description":"Update selected promotions for the given quote_id.","operationId":"post-update-promotions","tags":["Quotes"],"security":[{"Bearer":[]}],"parameters":[{"name":"quote_id","in":"path","schema":{"type":"integer"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/update_quote_promotions"}}}},"responses":{"204":{"description":"ok","content":{}},"401":{"$ref":"#/components/responses/401_unauthorized"}}}},"/quotable_states":{"get":{"summary":"quotable states","description":"quotable states","operationId":"quotable-states","tags":["Quotable States"],"security":[{"Bearer":[]}],"responses":{"200":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/quotable_states_response"}}}},"401":{"$ref":"#/components/responses/401_unauthorized"},"404":{"$ref":"#/components/responses/404_not_found"}}}},"/commission_configurations":{"get":{"summary":"commission configurations","tags":["Commissions"],"security":[{"Bearer":[]}],"parameters":[{"name":"state","description":"a state abbreviation; if none is provided, commission configurations for all states are returned","in":"query","required":false,"schema":{"type":"string","minLength":2,"maxLength":2}},{"name":"coverage_type","description":"a coverage type string; if none is provided, commission configurations for all coverage types are returned","in":"query","required":false,"schema":{"$ref":"#/components/schemas/coverage_type"}},{"name":"effective_date","description":"the date in time when unit economics are effective; if none is provided, the current date is used","in":"query","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/commission_configuration"}}}},"401":{"$ref":"#/components/responses/401_unauthorized"},"404":{"$ref":"#/components/responses/404_not_found"}}}},"/customers":{"get":{"summary":"customer profile","description":"customer profile","operationId":"customer-profile","tags":["Customers"],"security":[{"Bearer":[]}],"parameters":[{"name":"user_id","in":"query","description":"## Get customer by user_id","schema":{"type":"string"},"required":false},{"name":"broker_profile_id","in":"query","description":"## Get customer by broker_profile_id","schema":{"type":"string"},"required":false}],"responses":{"200":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/customer_response"}}}},"401":{"$ref":"#/components/responses/401_unauthorized"},"404":{"$ref":"#/components/responses/404_not_found"}}}},"/disclaimers":{"get":{"summary":"a json disclaimer","description":"a json disclaimer","operationId":"fetch-disclaimers","tags":["Disclaimers"],"security":[],"parameters":[{"name":"effective_date","in":"query","description":"## Target date for the disclaimer generation","schema":{"type":"string","format":"date"},"required":false}],"responses":{"200":{"description":"success"},"422":{"$ref":"#/components/responses/422_unprocessible_entity"}}}},"/healthz":{"get":{"summary":"health status","description":"health status","operationId":"healthz","security":[{"Bearer":[]}],"tags":["Healthz"],"responses":{"200":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/health_check"}}}}}}},"/quotes/{id}/update_quote_census/{draft_census_group_id}":{"patch":{"summary":"update quote census","description":"update quote census","operationId":"update-quote-census","tags":["QuoteCensus"],"security":[{"Bearer":[]}],"parameters":[{"name":"id","in":"path","description":"the id of the quote to apply the census to","required":true,"schema":{"type":"string"}},{"name":"draft_census_group_id","in":"path","description":"the id of the draft census to apply to the quote","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"ok"},"401":{"$ref":"#/components/responses/401_unauthorized"}}}},"/quotes/parse_census":{"post":{"summary":"parse census","description":"parse census","operationId":"parse-census","tags":["Census"],"security":[{"Bearer":[]}],"parameters":[],"responses":{"200":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/get_parse_census"}}}},"401":{"$ref":"#/components/responses/401_unauthorized"}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/parse_census_post"}}}}}},"/permissions":{"get":{"summary":"index (list) permissions","description":"list permissions","operationId":"list-permissions","tags":["Permissions"],"security":[{"Bearer":[]}],"responses":{"200":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/permissions"}}}},"401":{"$ref":"#/components/responses/401_unauthorized"}}}},"/quotable_products":{"get":{"summary":"quotable_products","description":"quotable products","operationId":"get-quotable-products","tags":["Quotable Products"],"security":[{"Bearer":[]}],"parameters":[{"name":"state","in":"query","required":true,"schema":{"type":"string"}},{"name":"effective_date","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"subscriber_count","in":"query","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/quotable_products_response"}}}},"401":{"$ref":"#/components/responses/401_unauthorized"}}}},"/draft_census_group/{id}":{"get":{"summary":"show draft_census_group","description":"show draft census group","operationId":"show-draft-census-group","tags":["DraftCensus"],"security":[{"Bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/draft_census_group_response"}}}},"401":{"$ref":"#/components/responses/401_unauthorized"}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/draft_census_group_request"}}}}},"delete":{"summary":"delete draft_census_group","description":"delete draft census group","operationId":"delete-draft-census-group","tags":["DraftCensus"],"security":[{"Bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"ok"},"401":{"$ref":"#/components/responses/401_unauthorized"}}}},"/draft_census_group/upload":{"post":{"summary":"upload new draft_census_group","description":"upload new draft census group","operationId":"upload-draft-census-group","tags":["DraftCensus"],"security":[{"Bearer":[]}],"parameters":[],"responses":{"200":{"description":"ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/draft_census_group_response"}}}},"401":{"$ref":"#/components/responses/401_unauthorized"}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/draft_census_group_request"}}}}}},"/draft_census_row/{id}":{"patch":{"summary":"update draft_census_row","description":"update draft census row","operationId":"update-draft-census-row","tags":["DraftCensus"],"security":[{"Bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"dob","in":"query","schema":{"type":"string"}},{"name":"first_name","in":"query","schema":{"type":"string"}},{"name":"gender","in":"query","schema":{"type":"string"}},{"name":"hours_per_week","in":"query","schema":{"type":"string"}},{"name":"is_cobra","in":"query","schema":{"type":"string"}},{"name":"last_name","in":"query","schema":{"type":"string"}},{"name":"salary","in":"query","schema":{"type":"string"}},{"name":"salary_mode","in":"query","schema":{"type":"string"}},{"name":"zipcode","in":"query","schema":{"type":"string"}}],"responses":{"204":{"description":"ok"},"401":{"$ref":"#/components/responses/401_unauthorized"}}},"delete":{"summary":"delete draft_census_row","description":"delete draft census row","operationId":"delete-draft-census-row","tags":["DraftCensus"],"security":[{"Bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"ok"},"401":{"$ref":"#/components/responses/401_unauthorized"}}}},"/plan_quotes/{coverage_type}/{id}":{"patch":{"summary":"update plan_quote","description":"update plan quote","operationId":"update-plan-quote","tags":["PlanQuotes"],"security":[{"Bearer":[]}],"parameters":[{"name":"coverage_type","in":"path","required":true,"schema":{"$ref":"#/components/schemas/coverage_type"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"ok","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/update_vision_plan_quote"},{"$ref":"#/components/schemas/update_dental_plan_quote"},{"$ref":"#/components/schemas/update_multiple_plans_patch"}]}}}},"401":{"$ref":"#/components/responses/401_unauthorized"}},"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/update_vision_plan_quote"},{"$ref":"#/components/schemas/update_dental_plan_quote"},{"$ref":"#/components/schemas/update_multiple_plans_patch"}]}}}}}},"/plan_quotes/{coverage_type}/{id}/rate_history":{"get":{"summary":"get rate_history","description":"get rate history","operationId":"get-rate-history","tags":["RateHistory"],"security":[{"Bearer":[]}],"parameters":[{"name":"coverage_type","in":"path","required":true,"schema":{"$ref":"#/components/schemas/coverage_type"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rate_history_schema"}}}},"401":{"$ref":"#/components/responses/401_unauthorized"}}}},"/plan_quotes/dental/{id}/customize_plan":{"post":{"summary":"create customized dental plan","description":"create customized dental plan using parameters given","operationId":"customize-dental-plan-quote","tags":["PlanQuotes","Customize Plan"],"security":[{"Bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/plan_quote_rates"}}}},"404":{"$ref":"#/components/responses/404_not_found"}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/customize_dental_plan_post"}}}}}},"/plan_quotes/vision/{id}/customize_plan":{"post":{"summary":"create customized vision plan","description":"create customized plan using parameters given","operationId":"customize-vision-plan-quote","tags":["PlanQuotes","Customize Plan"],"security":[{"Bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/plan_quote_rates"}}}},"404":{"$ref":"#/components/responses/404_not_found"}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/customize_vision_plan_post"}}}}}},"/plan_quotes/basic_life/{id}/customize_plan":{"post":{"summary":"create customized basic life plan","description":"create customized plan using parameters given","operationId":"customize-basic_life-plan-quote","tags":["PlanQuotes","Customize Plan"],"security":[{"Bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/plan_quote_rates"}}}},"404":{"$ref":"#/components/responses/404_not_found"}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/customize_basic_life_plan_post"}}}}}},"/plan_quotes/long_term_disability/{id}/customize_plan":{"post":{"summary":"create customized long term disability plan","description":"create customized plan using parameters given","operationId":"customize-long_term_disability-plan-quote","tags":["PlanQuotes","Customize Plan"],"security":[{"Bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/plan_quote_rates"}}}},"404":{"$ref":"#/components/responses/404_not_found"}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/customize_long_term_disability_plan_post"}}}}}},"/plan_quotes/short_term_disability/{id}/customize_plan":{"post":{"summary":"create customized short term disability plan","description":"create customized plan using parameters given","operationId":"customize-short_term_disability-plan-quote","tags":["PlanQuotes","Customize Plan"],"security":[{"Bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/plan_quote_rates"}}}},"404":{"$ref":"#/components/responses/404_not_found"}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/customize_short_term_disability_plan_post"}}}}}},"/plan_quotes/accident/{id}/customize_plan":{"post":{"summary":"create customized accident plan","description":"create customized plan using parameters given","operationId":"customize-accident-plan-quote","tags":["PlanQuotes","Customize Plan"],"security":[{"Bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/plan_quote_rates"}}}},"404":{"$ref":"#/components/responses/404_not_found"}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/customize_generic_plan_post"}}}}}},"/plan_quotes/hospital_indemnity/{id}/customize_plan":{"post":{"summary":"create customized hospital indemnity plan","description":"create customized plan using parameters given","operationId":"customize-hospital_indemnity-plan-quote","tags":["PlanQuotes","Customize Plan"],"security":[{"Bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/plan_quote_rates"}}}},"404":{"$ref":"#/components/responses/404_not_found"}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/customize_generic_plan_post"}}}}}},"/plan_quotes/critical_illness/{id}/customize_plan":{"post":{"summary":"create customized critical illness plan","description":"create customized plan using parameters given","operationId":"customize-critical_illness-plan-quote","tags":["PlanQuotes","Customize Plan"],"security":[{"Bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/plan_quote_rates"}}}},"404":{"$ref":"#/components/responses/404_not_found"}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/customize_critical_illness_plan_post"}}}}}},"/plan_quotes/supplemental_life/{id}/customize_plan":{"post":{"summary":"create customized supplemental life plan","description":"create customized plan using parameters given","operationId":"customize-supplemental_life-plan-quote","tags":["PlanQuotes","Customize Plan"],"security":[{"Bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/plan_quote_rates"}}}},"404":{"$ref":"#/components/responses/404_not_found"}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/customize_supplemental_life_plan_post"}}}}}},"/plan_quotes/{coverage_type}/{id}/balance_premiums":{"post":{"summary":"Calculate rebalanced premiums","description":"Calculate rebalanced premiums for a plan_quote based on pricing intelligence","operationId":"balance_premiums","tags":["PlanQuotes"],"security":[{"Bearer":[]}],"parameters":[{"name":"coverage_type","in":"path","schema":{"$ref":"#/components/schemas/coverage_type"},"required":true},{"name":"id","in":"path","schema":{"type":"integer"},"required":true,"description":"The plan_quote_id to calculate the balanced premiums for"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/plan_quote_balance_premiums_request"}}}},"responses":{"200":{"description":"ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/plan_quote_balance_premiums_response"}}}},"401":{"$ref":"#/components/responses/401_unauthorized"},"403":{"$ref":"#/components/responses/403_forbidden"},"422":{"description":"unprocessible_entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unprocessible_entity"}}}}}}},"/plan_quotes/{coverage_type}/{id}/update_balanced_premiums":{"post":{"summary":"Update a plan quote with rebalanced premiums","description":"Update a plan quote with rebalanced premiums based on pricing intelligence","operationId":"update_balanced_premiums","tags":["PlanQuotes"],"security":[{"Bearer":[]}],"parameters":[{"name":"coverage_type","in":"path","schema":{"$ref":"#/components/schemas/coverage_type"},"required":true},{"name":"id","in":"path","schema":{"type":"integer"},"required":true,"description":"The plan_quote_id to update the balanced premiums for"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/plan_quote_balance_premiums_request"}}}},"responses":{"200":{"description":"ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/single_dental_plan_quote"}}}},"401":{"$ref":"#/components/responses/401_unauthorized"},"403":{"$ref":"#/components/responses/403_forbidden"},"422":{"description":"unprocessible_entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unprocessible_entity"}}}}}}},"/benefit_summaries/{coverage_type}/{product_id}":{"get":{"summary":"show benefit_summaries","description":"show benefit summaries","operationId":"show-benefit-summaries","tags":["Documents"],"security":[{"Bearer":[]}],"parameters":[{"name":"coverage_type","description":"## Coverage type for generating a benefit summary pdf","in":"path","required":true,"schema":{"$ref":"#/components/schemas/coverage_type"}},{"name":"product_id","description":"## Product ID for generating a benefit summary pdf","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"ok"},"422":{"$ref":"#/components/responses/422_unprocessible_entity"}}}},"/quotes/{id}/dental_plans/{plan_id}/quote_pdf":{"get":{"summary":"pdfs for dental plan quote","description":"pdfs for dental plan quote","operationId":"get-pdf-dental-plan-quote","tags":["Quote PDFs","Documents"],"security":[],"parameters":[{"name":"id","in":"path","description":"## Quote ID for generating a dental plan quote pdf","required":true,"schema":{"type":"integer"}},{"name":"plan_id","in":"path","description":"## DentalPlanQuote ID for generating a dental plan quote pdf","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"ok"},"422":{"$ref":"#/components/responses/422_unprocessible_entity"}}}},"/quotes/{id}/vision_plans/{plan_id}/quote_pdf":{"get":{"summary":"pdfs for vision plan quote","description":"pdfs for vision plan quote","operationId":"get-pdf-vision-plan-quote","tags":["Quote PDFs","Documents"],"security":[],"parameters":[{"name":"id","in":"path","description":"## Quote ID for generating a vision plan quote pdf","required":true,"schema":{"type":"integer"}},{"name":"plan_id","in":"path","description":"## VisionPlanQuote ID for generating a vision plan quote pdf","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"ok"},"422":{"$ref":"#/components/responses/422_unprocessible_entity"}}}},"/quotes/{id}/basic_life_plans/{plan_id}/quote_pdf":{"get":{"summary":"pdfs for basic life plan quote","description":"pdfs for basic life plan quote","operationId":"get-pdf-basic-life-quote","tags":["Quote PDFs","Documents"],"security":[],"parameters":[{"name":"id","in":"path","description":"## Quote ID for generating a basic_life plan quote pdf","required":true,"schema":{"type":"integer"}},{"name":"plan_id","in":"path","description":"## BasicLifePlanQuote ID for generating a basic life plan quote pdf","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"ok"},"422":{"description":"unprocessible_entity","content":{"application/pdf":{"schema":{"$ref":"#/components/schemas/unprocessible_entity"}}}}}}},"/quotes/{id}/long_term_disability_plans/{plan_id}/quote_pdf":{"get":{"summary":"pdfs for long term disability plan quote","description":"pdfs for long term disability plan quote","operationId":"get-pdf-ltd-plan-quote","tags":["Quote PDFs","Documents"],"security":[],"parameters":[{"name":"id","in":"path","description":"## Quote ID for generating a long_term_disability plan quote pdf","required":true,"schema":{"type":"integer"}},{"name":"plan_id","in":"path","description":"## LongTermDisabilityPlanQuote ID for generating a long term disability plan quote pdf","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"ok"},"422":{"$ref":"#/components/responses/422_unprocessible_entity"}}}},"/quotes/{id}/short_term_disability_plans/{plan_id}/quote_pdf":{"get":{"summary":"pdfs for short term disability plan quote","description":"pdfs for short term disability plan quote","operationId":"get-pdf-std-plan-quote","tags":["Quote PDFs","Documents"],"security":[],"parameters":[{"name":"id","in":"path","description":"## Quote ID for generating a short_term_disability plan quote pdf","required":true,"schema":{"type":"integer"}},{"name":"plan_id","in":"path","description":"## ShortTermDisabilityPlanQuote ID for generating a short term disability plan quote pdf","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"ok"},"422":{"$ref":"#/components/responses/422_unprocessible_entity"}}}},"/quotes/{id}/supplemental_life_plans/{plan_id}/quote_pdf":{"get":{"summary":"pdfs for supplemental life plan quote","description":"pdfs for supplemental life plan quote","operationId":"get-pdf-supplemental-life-plan-quote","tags":["Quote PDFs","Documents"],"security":[],"parameters":[{"name":"id","in":"path","description":"## Quote ID for generating a supplemental_life plan quote pdf","required":true,"schema":{"type":"integer"}},{"name":"plan_id","in":"path","description":"## SupplementalLifePlanQuote ID for generating a supplemental life plan quote pdf","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"ok"},"422":{"$ref":"#/components/responses/422_unprocessible_entity"}}}},"/quotes/{id}/accident_plans/{plan_id}/quote_pdf":{"get":{"summary":"pdfs for accident plan quote","description":"pdfs for accident plan quote","operationId":"get-pdf-accident-plan-quote","tags":["Quote PDFs","Documents"],"security":[],"parameters":[{"name":"id","in":"path","description":"## Quote ID for generating a accident plan quote pdf","required":true,"schema":{"type":"integer"}},{"name":"plan_id","in":"path","description":"## AccidentPlanQuote ID for generating a accident plan quote pdf","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"ok"},"422":{"$ref":"#/components/responses/422_unprocessible_entity"}}}},"/quotes/{id}/hospital_indemnity_plans/{plan_id}/quote_pdf":{"get":{"summary":"pdfs for hospital indemnity plan quote","description":"pdfs for hospital indemnity plan quote","operationId":"get-pdf-hospital-indemnity-plan-quote","tags":["Quote PDFs","Documents"],"security":[],"parameters":[{"name":"id","in":"path","description":"## Quote ID for generating a hospital_indemnity plan quote pdf","required":true,"schema":{"type":"integer"}},{"name":"plan_id","in":"path","description":"## HospitalIndemnityPlanQuote ID for generating a hospital indemnity plan quote pdf","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"ok"},"422":{"$ref":"#/components/responses/422_unprocessible_entity"}}}},"/quotes/{id}/critical_illness_plans/{plan_id}/quote_pdf":{"get":{"summary":"pdfs for critical illness plan quote","description":"pdfs for critical illness plan quote","operationId":"get-pdf-critical-illness-plan-quote","tags":["Quote PDFs","Documents"],"security":[],"parameters":[{"name":"id","in":"path","description":"## Quote ID for generating a critical_illness plan quote pdf","required":true,"schema":{"type":"integer"}},{"name":"plan_id","in":"path","description":"## CriticalIllnessPlanQuote ID for generating a critical illness plan quote pdf","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"ok"},"422":{"$ref":"#/components/responses/422_unprocessible_entity"}}}},"/quotes/{quote_id}/combine_quotes.pdf":{"get":{"summary":"pdfs for combined quote plans","description":"pdfs for combined quote plans","operationId":"get-pdf-combined-quote-plans","tags":["Quote PDFs","Documents"],"security":[],"parameters":[{"name":"quote_id","in":"path","description":"## Quote ID for generating a combined quote pdf","required":true,"schema":{"type":"integer"}},{"name":"dental_plan_ids[]","in":"query","schema":{"type":"array","items":{"type":"integer"}},"description":"## Array of DentalPlanQuoteID for generating a combined quote plans pdf"},{"name":"vision_plan_ids[]","in":"query","schema":{"type":"array","items":{"type":"integer"}},"description":"## Array of VisionPlanQuoteID for generating a combined quote plans pdf"},{"name":"basic_life_plan_ids[]","in":"query","schema":{"type":"array","items":{"type":"integer"}},"description":"## Array of BasicLifePlanQuoteID for generating a combined quote plans pdf"},{"name":"life_plan_ids[]","in":"query","schema":{"type":"array","items":{"type":"integer"}},"description":"## Array of LifePlanQuoteID for generating a combined quote plans pdf"},{"name":"long_term_disability_plan_ids[]","in":"query","schema":{"type":"array","items":{"type":"integer"}},"description":"## Array of LongTermDisabilityPlanQuoteID for generating a combined quote plans pdf"},{"name":"short_term_disability_plan_ids[]","in":"query","schema":{"type":"array","items":{"type":"integer"}},"description":"## Array of ShortTermDisabilityPlanQuoteID for generating a combined quote plans pdf"},{"name":"supplemental_life_plan_ids[]","in":"query","schema":{"type":"array","items":{"type":"integer"}},"description":"## Array of SupplementalLifePlanQuoteID for generating a combined quote plans pdf"},{"name":"accident_plan_ids[]","in":"query","schema":{"type":"array","items":{"type":"integer"}},"description":"## Array of AccidentPlanQuoteID for generating a combined quote plans pdf"},{"name":"hospital_indemnity_plan_ids[]","in":"query","schema":{"type":"array","items":{"type":"integer"}},"description":"## Array of HospitalIndemnityPlanQuoteID for generating a combined quote plans pdf"},{"name":"critical_illness_plan_ids[]","in":"query","schema":{"type":"array","items":{"type":"integer"}},"description":"## Array of CriticalIllnessPlanQuoteID for generating a combined quote plans pdf"}],"responses":{"200":{"description":"ok"},"422":{"$ref":"#/components/responses/422_unprocessible_entity"}}}},"/quotes/{quote_id}/rates":{"get":{"summary":"rates for quote","description":"rates for quote","operationId":"get-rates-for-quote","tags":["Rates"],"security":[{"Bearer":[]}],"parameters":[{"name":"quote_id","in":"path","schema":{"type":"integer"},"required":true}],"responses":{"200":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/quote_rate_set"}}}},"401":{"$ref":"#/components/responses/401_unauthorized"}}}},"/quotes/{quote_id}/rate_status":{"get":{"summary":"rate status for quote","description":"rate status for quote","operationId":"get-rate-status-for-quote","tags":["Rates"],"security":[{"Bearer":[]}],"parameters":[{"name":"quote_id","in":"path","schema":{"type":"integer"},"required":true}],"responses":{"200":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rate_status"}}}},"401":{"$ref":"#/components/responses/401_unauthorized"},"404":{"$ref":"#/components/responses/404_not_found"}}}},"/quotes/{quote_id}":{"get":{"summary":"show quote","description":"show quote","operationId":"show-quote","tags":["Quotes"],"security":[{"Bearer":[]}],"parameters":[{"name":"quote_id","in":"path","schema":{"type":"integer"},"required":true}],"responses":{"200":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/get_quote"}}}},"401":{"$ref":"#/components/responses/401_unauthorized"}}}},"/quotes/dental_product_variables":{"get":{"summary":"variables for a dental product","description":"variables for a dental product","operationId":"get-dental-product-variables","tags":["Rates"],"security":[{"Bearer":[]}],"parameters":[{"name":"state","in":"query","schema":{"type":"string"}},{"name":"annual_max","in":"query","schema":{"type":"integer"}},{"name":"subscriber_count","in":"query","schema":{"type":"integer"}}],"responses":{"200":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/dental_product_variables"}}}},"401":{"$ref":"#/components/responses/401_unauthorized"}}}},"/quotes/{quote_id}/win":{"post":{"summary":"win quote","description":"win quote","operationId":"post-win-quote","tags":["Quotes"],"security":[{"Bearer":[]}],"parameters":[{"name":"quote_id","in":"path","schema":{"type":"integer"},"required":true}],"responses":{"200":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/get_quote"}}}},"401":{"$ref":"#/components/responses/401_unauthorized"},"404":{"$ref":"#/components/responses/404_not_found"},"422":{"$ref":"#/components/responses/422_unprocessible_entity"}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/win_quote_post"}}}}}}},"components":{"securitySchemes":{"Bearer":{"type":"http","scheme":"bearer","bearerFormat":"JWT"},"OAuth":{"type":"oauth2","flows":{"password":{"tokenUrl":"","refreshUrl":"","scopes":{}},"clientCredentials":{"tokenUrl":"","refreshUrl":"","scopes":{}}}}},"responses":{"401":{"$ref":"#/components/responses/401_unauthorized"},"403":{"$ref":"#/components/responses/403_forbidden"},"404":{"$ref":"#/components/responses/404_not_found"},"422":{"$ref":"#/components/responses/422_unprocessible_entity"},"401_unauthorized":{"description":"unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","enum":["not authorized"]}}}}}}}},"404_not_found":{"description":"not_found","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string"}}}}}}}},"422_unprocessible_entity":{"description":"unprocessible_entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unprocessible_entity"}},"application/pdf":{"schema":{"$ref":"#/components/schemas/unprocessible_entity"}}}},"403_forbidden":{"description":"forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","enum":["forbidden"]}}}}}}}}},"schemas":{"age_banded_plan_quote_rates":{"type":"object","properties":{"EE":{"type":"array","items":{"$ref":"#/components/schemas/age_banded_rate"}},"EE1":{"type":"array","items":{"$ref":"#/components/schemas/age_banded_rate"}},"EECH":{"type":"array","items":{"$ref":"#/components/schemas/age_banded_rate"}},"EESP":{"type":"array","items":{"$ref":"#/components/schemas/age_banded_rate"}},"FAM":{"type":"array","items":{"$ref":"#/components/schemas/age_banded_rate"}},"SP":{"type":"array","items":{"$ref":"#/components/schemas/age_banded_rate"}},"CH":{"type":"array","items":{"$ref":"#/components/schemas/age_banded_rate"}},"tier":{"type":"string"}}},"age_banded_rate":{"type":"object","properties":{"rate":{"type":"number","format":"float"},"max_age":{"type":"integer","nullable":true,"x-nullable":true},"min_age":{"type":"integer","nullable":true,"x-nullable":true}}},"age_reduction_schedule":{"type":"object","properties":{"max_age":{"type":"integer","nullable":true,"x-nullable":true},"min_age":{"type":"integer","nullable":true,"x-nullable":true},"reduction_perc":{"type":"integer"}}},"bad_request":{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string"}}}}},"broker_commission":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","enum":["broker_commission"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"brokerage_detail_id":{"type":"integer"},"broker_name":{"type":"string","nullable":true,"x-nullable":true},"commission_rate":{"type":"number","format":"float"},"commission_cents":{"type":"integer"},"commission_type":{"type":"string"},"deal_role":{"type":"string","enum":["broker_of_record","broker","beam_ga","beam_ga_downline","hartford_ga"]}}}},"required":["id","attributes","type"]}},"required":["data"]},"brokerage_detail":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","enum":["brokerage_detail"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"agent_email":{"type":"string","nullable":true,"x-nullable":true},"agent_name":{"type":"string","nullable":true,"x-nullable":true},"brokerage_name":{"type":"string"},"is_broker_of_record":{"type":"boolean"},"is_implementation_contact":{"type":"boolean"},"brokerage_id":{"type":"string","nullable":true,"x-nullable":true},"deal_roles":{"type":"array","items":{"type":"string","enum":["broker_of_record","broker","beam_ga","beam_ga_downline","hartford_ga"]}}}}},"required":["id","attributes","type"]}},"required":["data"]},"census_group":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","enum":["census_group"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"is_valid_disability_census":{"type":"boolean"},"census_persons_count":{"type":"integer","nullable":true,"x-nullable":true}}}},"required":["id","attributes","type"]}},"required":["data"]},"commission_configuration":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["commission_configuration"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"state_":{"type":"string"},"coverage_type":{"$ref":"#/components/schemas/coverage_type"},"effective_date":{"type":"string","format":"date"},"carrier":{"type":"string"},"broker_commission_rate_default":{"type":"string","format":"decimal"},"brokerage_commission_rate_limit":{"type":"string","format":"decimal"},"general_agent_commission_rate_default":{"type":"string","format":"decimal"},"general_agent_commission_rate_limit":{"type":"string","format":"decimal"},"aggregate_commission_rate_limit":{"type":"string","format":"decimal"},"aggregate_commission_rate_allowed_values":{"type":"array","items":{"type":"string","format":"decimal"}}}}},"required":["id","attributes","type"]}}},"required":["data"]},"company_detail":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","enum":["company_detail"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"company_id":{"type":"string","nullable":true,"x-nullable":true},"common_name":{"type":"string","nullable":true,"x-nullable":true},"data_feed_partner_id":{"type":"integer","nullable":true,"x-nullable":true}}}},"required":["id","attributes","type"]}},"required":["data"]},"contract_detail":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","enum":["contract_detail"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"can_employee_opt_out":{"type":"boolean","nullable":true,"x-nullable":true},"has_section_125_plan":{"type":"boolean","nullable":true,"x-nullable":true},"industry_type":{"type":"string","nullable":true,"x-nullable":true},"management_carve_out":{"type":"boolean","nullable":true,"x-nullable":true},"min_fte_hours":{"type":"integer","nullable":true,"x-nullable":true},"projected_enrollment_type_code":{"type":"integer","nullable":true,"x-nullable":true},"rate_change_cap_percent":{"type":"number","format":"float","nullable":true,"x-nullable":true},"rate_change_cap_years":{"type":"integer","nullable":true,"x-nullable":true},"subscriber_definition":{"type":"string","nullable":true,"x-nullable":true}}}},"required":["id","attributes","type"]}},"required":["data"]},"contract_detail_post":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","enum":["contract_detail"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"can_employee_opt_out":{"type":"boolean","nullable":true,"x-nullable":true},"has_section_125_plan":{"type":"boolean","nullable":true,"x-nullable":true},"management_carve_out":{"type":"boolean","nullable":true,"x-nullable":true},"subscriber_definition":{"type":"string","nullable":true,"x-nullable":true},"industry_type":{"type":"string","nullable":true,"x-nullable":true},"projected_enrollment_type_code":{"type":"integer","nullable":true,"x-nullable":true},"min_fte_hours":{"type":"integer","nullable":true,"x-nullable":true},"rate_change_cap_years":{"type":"integer","nullable":true,"x-nullable":true},"rate_change_cap_percent":{"type":"number","format":"float","nullable":true,"x-nullable":true}}}},"required":["id","attributes","type"]}},"required":["data"]},"create_quote_post":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","enum":["quote"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"account_owner_user_id":{"type":"string","nullable":true,"x-nullable":true},"insured_group_name":{"type":"string"},"sic_code":{"type":"string"},"state":{"type":"string"},"coverage_types":{"type":"array","items":{"$ref":"#/components/schemas/coverage_type"}},"subscriber_count":{"type":"integer"},"eligible_employee_count":{"type":"integer","nullable":true,"x-nullable":true},"zipcode":{"type":"string"},"effective_date":{"type":"string","format":"date"},"requested_tier":{"type":"integer","nullable":true,"x-nullable":true},"dental_plans_offered":{"type":"integer","nullable":true,"x-nullable":true},"vision_plans_offered":{"type":"integer","nullable":true,"x-nullable":true},"primary_contribution":{"type":"integer","nullable":true,"x-nullable":true},"primary_dental_contribution":{"type":"integer","nullable":true,"x-nullable":true},"primary_vision_contribution":{"type":"integer","nullable":true,"x-nullable":true},"dependent_dental_contribution":{"type":"integer","nullable":true,"x-nullable":true},"dependent_vision_contribution":{"type":"integer","nullable":true,"x-nullable":true},"medical_rep_email":{"type":"string","nullable":true,"x-nullable":true},"create_proposal":{"type":"boolean"},"dental_coverage_effective_date":{"type":"string","nullable":true,"x-nullable":true,"format":"date"},"vision_coverage_effective_date":{"type":"string","nullable":true,"x-nullable":true,"format":"date"},"dental_coverage_duration":{"type":"integer","nullable":true,"x-nullable":true},"vision_coverage_duration":{"type":"integer","nullable":true,"x-nullable":true},"benefit_period_type":{"type":"string","nullable":true,"x-nullable":true},"takeover_of_coverage":{"type":"boolean","nullable":true,"x-nullable":true},"dental_tier":{"type":"integer","nullable":true,"x-nullable":true},"vision_tier":{"type":"integer","nullable":true,"x-nullable":true},"earnings_definition":{"type":"string","enum":["salary_only","salary_plus_commissions","w2_earnings"],"description":"Applicable to groups quoting Long-Term or Short-Term Disability."},"employees_related":{"type":"boolean","description":"Applicable to groups of 2-3 employees. A value of 'true' indicates that the employees are related by blood or by marriage. Relation by blood or marriage includes spouses, parents, children, siblings, aunts/uncles, nieces/nephews, cousins and in-laws."},"has_hartford_disability":{"type":"boolean","description":"Applicable to groups quoting Long-Term or Short-Term Disability. A value of 'true' indicates that this group already has active Disability policies through The Hartford."},"involves_cannabis":{"type":"boolean","description":"Applicable to all groups. A value of 'true' indicates that this group is involved in the operations, dispensing, or growing of cannabis."},"makes_firearms_or_asbestos":{"type":"boolean","description":"Applicable to all groups. A value of 'true' indicates that this group is involved in the manufacturing of firearms, or handling or manufacturing of asbestos."},"broker_commissions":{"type":"array","items":{"type":"object","properties":{"agent_name":{"type":"string","nullable":true,"x-nullable":true},"coverage_type":{"type":"string","nullable":true,"x-nullable":true},"brokerage_id":{"type":"string","nullable":true,"x-nullable":true},"broker_email":{"type":"string"},"broker_name":{"type":"string","nullable":true,"x-nullable":true},"commission_rate":{"type":"number","format":"float","nullable":true,"x-nullable":true},"is_implementation_contact":{"type":"boolean"},"deal_role":{"type":"string","enum":["broker_of_record","broker","beam_ga","beam_ga_downline","hartford_ga"]}},"required":["broker_email"]},"nullable":true,"x-nullable":true},"census":{"type":"array","items":{"type":"object","properties":{"dob":{"type":"string"},"zipcode":{"type":"string"},"gender":{"type":"string","nullable":true,"x-nullable":true,"enum":["m","f","o"]},"salary":{"oneOf":[{"type":"number","description":"Dollar amount with or without cents. Can be floating point or integer.","example":123.45,"nullable":true,"x-nullable":true},{"type":"string","description":"Dollar amount with or without cents expressed as a string, excluding currency symbol '$'.","example":"123.45","nullable":true,"x-nullable":true}]},"salary_mode":{"type":"string","nullable":true,"x-nullable":true,"enum":["hourly","annually","weekly","bi-weekly","monthly","semi-monthly"]},"hours_per_week":{"type":"integer","nullable":true,"x-nullable":true},"is_cobra":{"type":"boolean","nullable":true,"x-nullable":true}},"required":["dob","zipcode"]},"nullable":true,"x-nullable":true},"contract_detail":{"type":"object","properties":{"rate_change_cap_years":{"type":"integer","nullable":true,"x-nullable":true},"rate_change_cap_percent":{"type":"number","format":"float","nullable":true,"x-nullable":true}},"nullable":true,"x-nullable":true}},"required":["subscriber_count","zipcode","sic_code","state","insured_group_name","effective_date"]}},"required":["attributes"]}},"required":["data"]},"create_shelf_rated_quote_post":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","enum":["quote"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"benefit_period_type":{"type":"string","enum":["calendar_year","policy_year"]},"broker_commissions":{"type":"array","items":{"type":"object","properties":{"agent_name":{"type":"string"},"coverage_type":{"$ref":"#/components/schemas/coverage_type"},"brokerage_id":{"type":"string"},"broker_email":{"type":"string"},"broker_name":{"type":"string"},"commission_cents":{"type":"integer"},"commission_rate":{"type":"number","format":"float"},"commission_type":{"type":"string","enum":["fixed","percent"],"default":"percent"},"is_implementation_contact":{"type":"boolean"},"deal_role":{"type":"string","enum":["broker_of_record","broker","beam_ga","beam_ga_downline","hartford_ga"]}}}},"dental_plans_offered":{"type":"integer","default":1},"effective_date":{"type":"string","format":"date"},"insured_group_name":{"type":"string"},"plans":{"type":"object","properties":{"dental":{"type":"array","items":{"type":"object","properties":{"product_id":{"type":"string"},"primary_contribution":{"type":"integer"},"dependent_contribution":{"type":"integer"}},"required":["product_id"]}},"vision":{"type":"array","items":{"type":"object","properties":{"product_id":{"type":"string"},"primary_contribution":{"type":"integer"},"dependent_contribution":{"type":"integer"}},"required":["product_id"]}},"basic_life":{"type":"array","items":{"type":"object","properties":{"product_id":{"type":"string"}},"required":["product_id"]}},"life":{"type":"array","items":{"type":"object","properties":{"product_id":{"type":"string"}},"required":["product_id"]}},"a_d_and_d":{"type":"array","items":{"type":"object","properties":{"product_id":{"type":"string"}},"required":["product_id"]}},"long_term_disability":{"type":"array","items":{"type":"object","properties":{"product_id":{"type":"string"}},"required":["product_id"]}},"short_term_disability":{"type":"array","items":{"type":"object","properties":{"product_id":{"type":"string"}},"required":["product_id"]}},"dhmo":{"type":"array","items":{"type":"object","properties":{"product_id":{"type":"string"}},"required":["product_id"]}},"supplemental_life":{"type":"array","items":{"type":"object","properties":{"product_id":{"type":"string"}},"required":["product_id"]}},"accident":{"type":"array","items":{"type":"object","properties":{"product_id":{"type":"string"}},"required":["product_id"]}},"hospital_indemnity":{"type":"array","items":{"type":"object","properties":{"product_id":{"type":"string"}},"required":["product_id"]}},"critical_illness":{"type":"array","items":{"type":"object","properties":{"product_id":{"type":"string"}},"required":["product_id"]}}}},"sic_code":{"type":"string"},"state":{"type":"string"},"subscriber_count":{"type":"integer"},"eligible_employee_count":{"type":"integer","nullable":true,"x-nullable":true},"vision_plans_offered":{"type":"integer","default":1},"zipcode":{"type":"string"}}}},"required":["insured_group_name","effective_date","plans","sic_code","state","subscriber_count","zipcode"]}},"required":["data"]},"benefit_type":{"type":"string","enum":["flat","incremental","salary_based"]},"coverage_type":{"type":"string","enum":["dental","vision","basic_life","supplemental_life","long_term_disability","short_term_disability","accident","hospital_indemnity","critical_illness"]},"enrollment_type":{"type":"string","enum":["none","traditional_eoi","open_enrollment","modified_open_enrollment"]},"portability_option":{"type":"string","enum":["plus","prime","prime_accidental_death"],"nullable":true,"x-nullable":true},"round_option":{"type":"string","enum":["nearest","next_lower","next_higher"],"nullable":true,"x-nullable":true},"quotable_states_response":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["quotable_states"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"name":{"type":"string"},"quotable_states":{"type":"array","items":{"type":"string"}}}}},"required":["id","attributes","type"]}}},"required":["data"]},"customer_permissions":{"type":"object","properties":{"id":{"type":"integer"},"tokenizable_name":{"type":"string"},"human_name":{"type":"string"},"permission_group":{"type":"string"}}},"quotable_products_response":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["quoting_partner"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"name":{"type":"string"},"quotable_products":{"type":"array","items":{"anyOf":[{"$ref":"#/components/schemas/dental_product"},{"$ref":"#/components/schemas/basic_life_product"},{"$ref":"#/components/schemas/vision_product"},{"$ref":"#/components/schemas/hospital_indemnity_product"},{"$ref":"#/components/schemas/critical_illness_product"},{"$ref":"#/components/schemas/accident_product"},{"$ref":"#/components/schemas/long_term_disability_product"},{"$ref":"#/components/schemas/short_term_disability_product"}]}}}}},"required":["id","attributes","type"]}}},"required":["data"]},"customer_response":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["customer"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"name":{"type":"string"},"permissions":{"type":"array","items":{"$ref":"#/components/schemas/customer_permissions"}}}}},"required":["id","attributes","type"]}}},"required":["data"]},"dental_product_variables":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["dental_product_variables"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"oon_reimbursements":{"type":"array","items":{"type":"string"}},"annual_maxes":{"type":"array","items":{"type":"integer"}},"ortho_options":{"type":"array","items":{"type":"string"}},"ortho_lifetime_maxes":{"type":"array","items":{"type":"integer"}},"quotable_variables_only":{"type":"boolean","nullable":true,"x-nullable":true}}}},"required":["id","attributes","type"]}}},"required":["data"]},"get_combined_quote_plans":{"type":"object","properties":{"dental":{"type":"array","items":{"type":"string"},"nullable":true,"x-nullable":true},"vision":{"type":"array","items":{"type":"string"},"nullable":true,"x-nullable":true},"life":{"type":"array","items":{"type":"string"},"nullable":true,"x-nullable":true},"short_term_disability":{"type":"array","items":{"type":"string"},"nullable":true,"x-nullable":true},"long_term_disability":{"type":"array","items":{"type":"string"},"nullable":true,"x-nullable":true}}},"get_parse_census":{"type":"object","properties":{"data":{"type":"object","properties":{"valid_disability_census":{"type":"boolean"},"census":{"type":"array","items":{"type":"object","properties":{"dob":{"type":"string"},"zipcode":{"type":"string"},"gender":{"type":"string","nullable":true,"x-nullable":true,"enum":["m","f","o"]},"salary":{"type":"string","description":"String representation of the parsed salary dollar amount","example":"123.45","nullable":true,"x-nullable":true},"salary_cents":{"type":"integer","description":"The parsed salary dollar amount represented in cents","example":12345,"nullable":true,"x-nullable":true},"salary_mode":{"type":"string","nullable":true,"x-nullable":true,"enum":["hourly","annually","weekly","bi-weekly","monthly","semi-monthly"]},"hours_per_week":{"type":"integer","nullable":true,"x-nullable":true},"is_cobra":{"type":"boolean","nullable":true,"x-nullable":true}}}},"errors":{"type":"object","properties":{"general":{"type":"array","items":{"type":"string"}},"dob":{"type":"array","items":{"type":"string"}},"zip":{"type":"array","items":{"type":"string"}}}}}}}},"get_quote":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["quote"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"account_owner_user_id":{"type":"string","nullable":true,"x-nullable":true},"insured_group_name":{"type":"string"},"sic_code":{"type":"string"},"state":{"type":"string"},"subscriber_count":{"type":"integer"},"eligible_employee_count":{"type":"integer","nullable":true,"x-nullable":true},"disability_subscriber_count":{"type":"integer"},"zipcode":{"type":"string"},"effective_date":{"type":"string","format":"date"},"created_at":{"type":"string","format":"date"},"requested_tier":{"type":"integer","nullable":true,"x-nullable":true},"won":{"type":"boolean"},"won_at":{"type":"string","nullable":true,"x-nullable":true,"format":"date-time"},"company_id":{"type":"string","nullable":true,"x-nullable":true},"group_number":{"type":"string","nullable":true,"x-nullable":true},"submitter":{"type":"string","nullable":true,"x-nullable":true},"submitter_user_id":{"type":"string","nullable":true,"x-nullable":true},"existing_group_quote":{"type":"boolean"},"quote_attachments":{"type":"array","items":{"$ref":"#/components/schemas/quote_attachment"}},"rate_sets":{"type":"array","items":{"$ref":"#/components/schemas/quote_rate_set"},"nullable":true,"x-nullable":true}}}},"required":["id","attributes","type"]}}},"required":["data"]},"health_check":{"type":"object","properties":{"application":{"type":"string"},"status":{"type":"string","enum":["Beam Quotes Server is operational"]}},"required":["application","status"]},"page_links":{"type":"object","properties":{"first":{"type":"object"},"previous":{"type":"object"},"next":{"type":"object"},"self":{"type":"object"},"last":{"type":"object"}}},"parse_census_post":{"type":"object","properties":{"group_name":{"type":"string"},"file":{"type":"string"},"file_type":{"type":"string"},"eligible_employees":{"type":"string"},"userId":{"type":"string"},"is_internal":{"type":"boolean"}}},"permissions":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["permission"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"human_name":{"type":"string"},"tokenizable_name":{"type":"string"},"permission_group":{"type":"string"}}}},"required":["id","attributes","type"]}}},"required":["data"]},"plan_quote_rates":{"type":"object","properties":{"EE":{"type":"number","format":"float"},"EE1":{"type":"number","format":"float"},"EECH":{"type":"number","format":"float"},"EESP":{"type":"number","format":"float"},"FAM":{"type":"number","format":"float"}}},"quote_attachment":{"type":"object","properties":{"attachment_type":{"type":"string"},"upload_file":{"type":"string"},"quote_id":{"type":"integer"}}},"quote_rate_set":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["rate_set"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"quote_id":{"type":"integer"},"submitted_to_underwriting":{"type":"boolean"},"brokerage_details":{"type":"array","items":{"$ref":"#/components/schemas/brokerage_detail"}},"census_group":{"$ref":"#/components/schemas/census_group"},"contract_detail":{"$ref":"#/components/schemas/contract_detail"},"company_detail":{"$ref":"#/components/schemas/company_detail"},"submitter":{"type":"string","nullable":true,"x-nullable":true},"submitter_user_id":{"type":"string","nullable":true,"x-nullable":true},"account_owner_user_id":{"type":"string","nullable":true,"x-nullable":true},"account_owner_name":{"type":"string","nullable":true,"x-nullable":true},"version":{"type":"integer"},"state":{"type":"string","nullable":true,"x-nullable":true},"zipcode":{"type":"string","nullable":true,"x-nullable":true},"sic_code":{"type":"string","nullable":true,"x-nullable":true},"expiration_date":{"type":"string","nullable":true,"x-nullable":true},"insured_group_name":{"type":"string"},"subscriber_count":{"type":"integer"},"census_filename":{"type":"string","nullable":true,"x-nullable":true},"has_pending_deal_review":{"type":"boolean"},"is_shelf_rated":{"type":"boolean"},"is_self_service":{"type":"boolean"},"is_rate_locked":{"type":"boolean"},"is_read_only":{"type":"boolean"},"dental_plans":{"type":"array","items":{"$ref":"#/components/schemas/single_dental_plan_quote"}},"vision_plans":{"type":"array","items":{"$ref":"#/components/schemas/single_vision_plan_quote"}},"basic_life_plans":{"type":"array","items":{"$ref":"#/components/schemas/single_basic_life_plan_quote"}},"long_term_disability_plans":{"type":"array","items":{"$ref":"#/components/schemas/single_long_term_disability_plan_quote"}},"short_term_disability_plans":{"type":"array","items":{"$ref":"#/components/schemas/single_short_term_disability_plan_quote"}},"accident_plans":{"type":"array","items":{"$ref":"#/components/schemas/single_accident_plan_quote"}},"critical_illness_plans":{"type":"array","items":{"$ref":"#/components/schemas/single_critical_illness_plan_quote"}},"hospital_indemnity_plans":{"type":"array","items":{"$ref":"#/components/schemas/single_hospital_indemnity_plan_quote"}},"supplemental_life_plans":{"type":"array","items":{"$ref":"#/components/schemas/single_supplemental_life_plan_quote"}}}}},"required":["id","attributes","type"]}}},"required":["data"]},"rate_plan_post":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["quote"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"source_product_id":{"type":"string"},"number_of_cleanings":{"type":"integer","nullable":true,"x-nullable":true},"insurance_start_on":{"type":"string","format":"date"},"insurance_end_on":{"type":"string","format":"date"},"primary_contribution":{"type":"integer","nullable":true,"x-nullable":true},"primary_dental_contribution":{"type":"integer","nullable":true,"x-nullable":true},"primary_vision_contribution":{"type":"integer","nullable":true,"x-nullable":true},"dependent_contribution":{"type":"integer","nullable":true,"x-nullable":true},"dependent_dental_contribution":{"type":"integer","nullable":true,"x-nullable":true},"dependent_vision_contribution":{"type":"integer","nullable":true,"x-nullable":true},"annual_max":{"type":"integer","nullable":true,"x-nullable":true},"annual_rollover_amount_cents":{"type":"integer","nullable":true,"x-nullable":true},"below_qualifying_amount_cents":{"type":"integer","nullable":true,"x-nullable":true},"class_a_deductible_waived":{"type":"integer","nullable":true,"x-nullable":true},"class_a_max_waived":{"type":"boolean","nullable":true,"x-nullable":true},"coinsurance_a_inn":{"type":"integer","nullable":true,"x-nullable":true},"coinsurance_a_oon":{"type":"integer","nullable":true,"x-nullable":true},"coinsurance_b_inn":{"type":"integer","nullable":true,"x-nullable":true},"coinsurance_b_oon":{"type":"integer","nullable":true,"x-nullable":true},"coinsurance_c_inn":{"type":"integer","nullable":true,"x-nullable":true},"coinsurance_c_oon":{"type":"integer","nullable":true,"x-nullable":true},"coinsurance_d_inn":{"type":"integer","nullable":true,"x-nullable":true},"coinsurance_d_oon":{"type":"integer","nullable":true,"x-nullable":true},"deductible_amount":{"type":"integer","nullable":true,"x-nullable":true},"deductible_period":{"type":"string","nullable":true,"x-nullable":true},"endodontics":{"type":"string","nullable":true,"x-nullable":true},"family_limit":{"type":"string","nullable":true,"x-nullable":true},"inn_annual_max":{"type":"integer","nullable":true,"x-nullable":true},"max_cum_rollover_amount_cents":{"type":"integer","nullable":true,"x-nullable":true},"max_dependent_age":{"type":"integer","nullable":true,"x-nullable":true},"max_rollover":{"type":"boolean","nullable":true,"x-nullable":true},"oon_annual_max":{"type":"integer","nullable":true,"x-nullable":true},"oon_reimbursement":{"type":"string","nullable":true,"x-nullable":true},"oral_surgery":{"type":"string","nullable":true,"x-nullable":true},"ortho":{"type":"string","nullable":true,"x-nullable":true,"enum":["not_covered","child_only","child_and_adult"]},"ortho_lifetime_max":{"type":"integer","nullable":true,"x-nullable":true},"periodontics":{"type":"string","nullable":true,"x-nullable":true},"waiting_period_a":{"type":"integer","nullable":true,"x-nullable":true},"waiting_period_b":{"type":"integer","nullable":true,"x-nullable":true},"waiting_period_c":{"type":"integer","nullable":true,"x-nullable":true},"waiting_period_d":{"type":"integer","nullable":true,"x-nullable":true},"plans_offered":{"type":"integer","nullable":true,"x-nullable":true},"coverage_type":{"$ref":"#/components/schemas/coverage_type"},"benefit_period_type":{"type":"string","nullable":true,"x-nullable":true},"no_age_limit_for_fluoride":{"type":"boolean","nullable":true,"x-nullable":true},"no_age_limit_for_sealants":{"type":"boolean","nullable":true,"x-nullable":true},"broker_commissions":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"commission_rate":{"type":"number","format":"float"}},"nullable":true,"x-nullable":true},"nullable":true,"x-nullable":true},"tier":{"type":"integer","nullable":true,"x-nullable":true},"allow_dependents":{"type":"boolean"},"allow_spouse":{"type":"boolean"},"has_rider_a_d_and_d":{"type":"boolean"},"has_rider_wellness":{"type":"boolean"},"primary_benefit_increment":{"type":"integer","nullable":true,"x-nullable":true},"primary_benefit_max":{"type":"boolean","nullable":true,"x-nullable":true},"pricing_intelligence":{"type":"object","properties":{"effective_date":{"type":"string","nullable":true,"x-nullable":true},"rates":{"type":"object","properties":{"ee":{"type":"object","properties":{"rate":{"type":"number","format":"float","nullable":true,"x-nullable":true},"enrollees":{"type":"integer","nullable":true,"x-nullable":true}}},"ee1":{"type":"object","properties":{"rate":{"type":"number","format":"float","nullable":true,"x-nullable":true},"enrollees":{"type":"integer","nullable":true,"x-nullable":true}}},"fam":{"type":"object","properties":{"rate":{"type":"number","format":"float","nullable":true,"x-nullable":true},"enrollees":{"type":"integer","nullable":true,"x-nullable":true}}},"eech":{"type":"object","properties":{"rate":{"type":"number","format":"float","nullable":true,"x-nullable":true},"enrollees":{"type":"integer","nullable":true,"x-nullable":true}}},"eesp":{"type":"object","properties":{"rate":{"type":"number","format":"float","nullable":true,"x-nullable":true},"enrollees":{"type":"integer","nullable":true,"x-nullable":true}}}}}},"nullable":true,"x-nullable":true}}}},"required":["source_product_id","coverage_type"]}}},"required":["data"]},"customize_dental_plan_post":{"type":"object","properties":{"data":{"type":"object","properties":{"attributes":{"type":"object","properties":{"annual_max":{"type":"integer","nullable":true,"x-nullable":true,"description":"A combined field for inn_annual_max and oon_annual_max"},"annual_rollover_amount_cents":{"type":"integer","nullable":true,"x-nullable":true},"below_qualifying_amount_cents":{"type":"integer","nullable":true,"x-nullable":true},"benefit_period_type":{"type":"string","nullable":true,"x-nullable":true,"enum":["calendar_year","policy_year"]},"broker_commissions":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"commission_rate":{"type":"number","format":"float"}},"nullable":true,"x-nullable":true},"nullable":true,"x-nullable":true},"class_a_deductible_waived":{"type":"integer","nullable":true,"x-nullable":true},"class_a_max_waived":{"type":"boolean","nullable":true,"x-nullable":true},"coinsurance_a_inn":{"type":"integer","nullable":true,"x-nullable":true},"coinsurance_a_oon":{"type":"integer","nullable":true,"x-nullable":true},"coinsurance_b_inn":{"type":"integer","nullable":true,"x-nullable":true},"coinsurance_b_oon":{"type":"integer","nullable":true,"x-nullable":true},"coinsurance_c_inn":{"type":"integer","nullable":true,"x-nullable":true},"coinsurance_c_oon":{"type":"integer","nullable":true,"x-nullable":true},"coinsurance_d_inn":{"type":"integer","nullable":true,"x-nullable":true},"coinsurance_d_oon":{"type":"integer","nullable":true,"x-nullable":true},"deductible_amount":{"type":"integer","nullable":true,"x-nullable":true},"deductible_period":{"type":"string","nullable":true,"x-nullable":true,"enum":["Annual","Lifetime"]},"dependent_contribution":{"type":"integer","nullable":true,"x-nullable":true},"emergency_palliative_treatment":{"type":"string","nullable":true,"x-nullable":true,"enum":["A","B"]},"endodontics":{"type":"string","nullable":true,"x-nullable":true,"enum":["B","C"]},"family_limit":{"type":"string","nullable":true,"x-nullable":true,"enum":["None","2x","3x"]},"inn_annual_max":{"type":"integer","nullable":true,"x-nullable":true},"insurance_start_on":{"type":"string","format":"date"},"max_cum_rollover_amount_cents":{"type":"integer","nullable":true,"x-nullable":true},"max_rollover":{"type":"boolean","nullable":true,"x-nullable":true},"minor_restorative":{"type":"string","nullable":true,"x-nullable":true,"enum":["A","B"]},"no_age_limit_for_fluoride":{"type":"boolean","nullable":true,"x-nullable":true},"no_age_limit_for_sealants":{"type":"boolean","nullable":true,"x-nullable":true},"number_of_cleanings":{"type":"integer","nullable":true,"x-nullable":true,"enum":[2,3,4]},"oon_annual_max":{"type":"integer","nullable":true,"x-nullable":true},"oon_reimbursement":{"type":"string","nullable":true,"x-nullable":true},"oral_surgery":{"type":"string","nullable":true,"x-nullable":true,"enum":["B","C"]},"ortho":{"type":"string","nullable":true,"x-nullable":true,"enum":["not_covered","child_only","child_and_adult"]},"ortho_lifetime_max":{"type":"integer","nullable":true,"x-nullable":true},"periodontics":{"type":"string","nullable":true,"x-nullable":true,"enum":["B","C"]},"plans_offered":{"type":"string","nullable":true,"x-nullable":true,"enum":["1","2","3"]},"policy_length":{"type":"string","description":"The number of months a policy should last"},"primary_contribution":{"type":"integer","nullable":true,"x-nullable":true},"tier":{"type":"integer","nullable":true,"x-nullable":true,"enum":[2,3,4]},"tmj":{"type":"string","nullable":true,"x-nullable":true,"enum":["not_covered","C"]},"waiting_period_a":{"type":"integer","nullable":true,"x-nullable":true},"waiting_period_b":{"type":"integer","nullable":true,"x-nullable":true},"waiting_period_c":{"type":"integer","nullable":true,"x-nullable":true},"waiting_period_d":{"type":"integer","nullable":true,"x-nullable":true},"pricing_intelligence":{"type":"object","properties":{"effective_date":{"type":"string","nullable":true,"x-nullable":true},"rates":{"type":"object","properties":{"ee":{"type":"object","properties":{"rate":{"type":"number","format":"float","nullable":true,"x-nullable":true},"enrollees":{"type":"integer","nullable":true,"x-nullable":true}}},"ee1":{"type":"object","properties":{"rate":{"type":"number","format":"float","nullable":true,"x-nullable":true},"enrollees":{"type":"integer","nullable":true,"x-nullable":true}}},"fam":{"type":"object","properties":{"rate":{"type":"number","format":"float","nullable":true,"x-nullable":true},"enrollees":{"type":"integer","nullable":true,"x-nullable":true}}},"eech":{"type":"object","properties":{"rate":{"type":"number","format":"float","nullable":true,"x-nullable":true},"enrollees":{"type":"integer","nullable":true,"x-nullable":true}}},"eesp":{"type":"object","properties":{"rate":{"type":"number","format":"float","nullable":true,"x-nullable":true},"enrollees":{"type":"integer","nullable":true,"x-nullable":true}}}}}},"nullable":true,"x-nullable":true}}}}}},"required":["data"]},"customize_vision_plan_post":{"type":"object","properties":{"data":{"type":"object","properties":{"attributes":{"type":"object","properties":{"broker_commissions":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"commission_rate":{"type":"number","format":"float"}},"nullable":true,"x-nullable":true},"nullable":true,"x-nullable":true},"dependent_contribution":{"type":"integer","nullable":true,"x-nullable":true},"insurance_start_on":{"type":"string","format":"date"},"plans_offered":{"type":"string","nullable":true,"x-nullable":true,"enum":["1","2","3"]},"policy_length":{"type":"string","description":"The number of months a policy should last"},"primary_contribution":{"type":"integer","nullable":true,"x-nullable":true},"tier":{"type":"integer","nullable":true,"x-nullable":true,"enum":[2,3,4]}}}}}},"required":["data"]},"customize_basic_life_plan_post":{"type":"object","properties":{"data":{"type":"object","properties":{"attributes":{"type":"object","properties":{"insurance_start_on":{"type":"string","format":"date"},"policy_length":{"type":"string","description":"The number of months a policy should last"}}}}}},"required":["data"]},"customize_long_term_disability_plan_post":{"type":"object","properties":{"data":{"type":"object","properties":{"attributes":{"type":"object","properties":{"benefits_amount_pct":{"type":"number","format":"float","enum":[60,66.67]},"benefits_duration_weeks":{"type":"string"},"benefits_maximum_cents":{"type":"integer","enum":[1000000,900000,800000,700000,600000,500000]},"definition_of_disability_type":{"type":"string"},"earnings_test_any_occ_percentage":{"type":"integer"},"earnings_test_own_occ_percentage":{"type":"integer"},"elimination_period_days":{"type":"string","enum":["90","180"]},"has_fica_match":{"type":"boolean"},"is_gross_up":{"type":"boolean","nullable":true,"x-nullable":true},"insurance_start_on":{"type":"string","format":"date"},"policy_length":{"type":"string","description":"The number of months a policy should last"}}}}}},"required":["data"]},"customize_short_term_disability_plan_post":{"type":"object","properties":{"data":{"type":"object","properties":{"attributes":{"type":"object","properties":{"benefits_amount_pct":{"type":"number","format":"float","enum":[60,66.67]},"benefits_duration_weeks":{"type":"string","enum":["11","12","13","24","25","26"]},"benefits_maximum_cents":{"type":"integer"},"elimination_period_accident_days":{"type":"string","enum":["1","8","15"]},"elimination_period_illness_days":{"type":"string","enum":["8","15"]},"has_fica_match":{"type":"boolean"},"is_gross_up":{"type":"boolean"},"insurance_start_on":{"type":"string","format":"date"},"policy_length":{"type":"string","description":"The number of months a policy should last"}}}}}},"required":["data"]},"customize_generic_plan_post":{"type":"object","properties":{"data":{"type":"object","properties":{"attributes":{"type":"object","properties":{"policy_length":{"type":"string","description":"The number of months a policy should last"},"insurance_start_on":{"type":"string","format":"date"},"primary_contribution":{"type":"integer","nullable":true,"x-nullable":true},"dependent_contribution":{"type":"integer","nullable":true,"x-nullable":true},"broker_commissions":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"commission_rate":{"type":"number","format":"float"}},"nullable":true,"x-nullable":true},"nullable":true,"x-nullable":true}}}}}},"required":["data"]},"customize_critical_illness_plan_post":{"type":"object","properties":{"data":{"type":"object","properties":{"attributes":{"type":"object","properties":{"allow_dependents":{"type":"boolean"},"allow_spouse":{"type":"boolean"},"broker_commissions":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"commission_rate":{"type":"number","format":"float"}},"nullable":true,"x-nullable":true},"nullable":true,"x-nullable":true},"dependent_contribution":{"type":"integer","nullable":true,"x-nullable":true},"insurance_start_on":{"type":"string","format":"date"},"policy_length":{"type":"string","description":"The number of months a policy should last"},"primary_benefit_max":{"type":"integer","nullable":true,"x-nullable":true,"enum":[5000,10000]},"primary_contribution":{"type":"integer","nullable":true,"x-nullable":true},"takeover_of_coverage":{"type":"boolean","nullable":true,"x-nullable":true}}}}}},"required":["data"]},"customize_supplemental_life_plan_post":{"type":"object","properties":{"data":{"type":"object","properties":{"attributes":{"type":"object","properties":{"allow_dependents":{"type":"boolean"},"allow_spouse":{"type":"boolean"},"broker_commissions":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"commission_rate":{"type":"number","format":"float"}},"nullable":true,"x-nullable":true},"nullable":true,"x-nullable":true},"dependent_contribution":{"type":"integer","nullable":true,"x-nullable":true},"has_rider_a_d_and_d":{"type":"boolean"},"insurance_start_on":{"type":"string","format":"date"},"policy_length":{"type":"string","description":"The number of months a policy should last"},"primary_contribution":{"type":"integer","nullable":true,"x-nullable":true},"primary_benefit_increment":{"type":"integer","nullable":true,"x-nullable":true,"enum":[10000,25000]},"primary_benefit_max":{"type":"integer","nullable":true,"x-nullable":true},"primary_benefit_min":{"type":"integer","nullable":true,"x-nullable":true},"primary_benefit_type":{"$ref":"#/components/schemas/benefit_type"}}}}}},"required":["data"]},"rate_status":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["rate_status"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"quote_id":{"type":"integer"},"plans_total":{"type":"integer"},"plans_rated":{"type":"integer"},"proposal_created":{"type":"boolean","nullable":true,"x-nullable":true}}}},"required":["id","attributes","type"]}}},"required":["data"]},"save_proposal_post":{"type":"object","properties":{"selected_plan_ids":{"type":"object","properties":{"dental":{"type":"array","items":{"type":"string"},"nullable":true,"x-nullable":true},"vision":{"type":"array","items":{"type":"string"},"nullable":true,"x-nullable":true},"life":{"type":"array","items":{"type":"string"},"nullable":true,"x-nullable":true},"a_d_and_d":{"type":"array","items":{"type":"string"},"nullable":true,"x-nullable":true}},"nullable":true,"x-nullable":true}}},"unprocessible_entity":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"status":{"type":"string"},"source":{"type":"object","properties":{}},"detail":{"type":"string"}}}}}},"update_dental_plan_quote":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["dental_plan_quote"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"benefit_period_type":{"type":"string","nullable":true,"x-nullable":true},"no_age_limit_for_fluoride":{"type":"boolean","nullable":true,"x-nullable":true},"no_age_limit_for_sealants":{"type":"boolean","nullable":true,"x-nullable":true},"pricing_intelligence":{"type":"object","properties":{"effective_date":{"type":"string","nullable":true,"x-nullable":true},"rates":{"type":"object","properties":{"ee":{"type":"object","properties":{"rate":{"type":"number","format":"float","nullable":true,"x-nullable":true},"enrollees":{"type":"integer","nullable":true,"x-nullable":true}}},"ee1":{"type":"object","properties":{"rate":{"type":"number","format":"float","nullable":true,"x-nullable":true},"enrollees":{"type":"integer","nullable":true,"x-nullable":true}}},"fam":{"type":"object","properties":{"rate":{"type":"number","format":"float","nullable":true,"x-nullable":true},"enrollees":{"type":"integer","nullable":true,"x-nullable":true}}},"eech":{"type":"object","properties":{"rate":{"type":"number","format":"float","nullable":true,"x-nullable":true},"enrollees":{"type":"integer","nullable":true,"x-nullable":true}}},"eesp":{"type":"object","properties":{"rate":{"type":"number","format":"float","nullable":true,"x-nullable":true},"enrollees":{"type":"integer","nullable":true,"x-nullable":true}}}}}},"nullable":true,"x-nullable":true}}}},"required":["id","attributes","type"]}}},"required":["data"]},"update_multiple_plans_patch":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["update_multiple_plans"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"filter_type":{"type":"string"},"is_selected":{"type":"boolean"}}}},"required":["id","attributes","type"]}}},"required":["data"]},"update_vision_plan_quote":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["vision_plan_quote"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"pricing_intelligence":{"type":"object","properties":{"effective_date":{"type":"string","nullable":true,"x-nullable":true},"rates":{"type":"object","properties":{"ee":{"type":"object","properties":{"rate":{"type":"number","format":"float","nullable":true,"x-nullable":true},"enrollees":{"type":"integer","nullable":true,"x-nullable":true}}},"ee1":{"type":"object","properties":{"rate":{"type":"number","format":"float","nullable":true,"x-nullable":true},"enrollees":{"type":"integer","nullable":true,"x-nullable":true}}},"fam":{"type":"object","properties":{"rate":{"type":"number","format":"float","nullable":true,"x-nullable":true},"enrollees":{"type":"integer","nullable":true,"x-nullable":true}}},"eech":{"type":"object","properties":{"rate":{"type":"number","format":"float","nullable":true,"x-nullable":true},"enrollees":{"type":"integer","nullable":true,"x-nullable":true}}},"eesp":{"type":"object","properties":{"rate":{"type":"number","format":"float","nullable":true,"x-nullable":true},"enrollees":{"type":"integer","nullable":true,"x-nullable":true}}}}}},"nullable":true,"x-nullable":true}}}},"required":["id","attributes","type"]}}},"required":["data"]},"win_quote_post":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","enum":["win_quote"]},"id":{"type":"string"},"force_reinstatement":{"type":"boolean","nullable":true,"x-nullable":true},"attributes":{"type":"object","properties":{"dental_plans":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"}}}},"vision_plans":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"}}}},"basic_life_plans":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"}}}},"long_term_disability_plans":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"}}}},"short_term_disability_plans":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"}}}},"dhmo_plans":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"}}}},"supplemental_life_plans":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"}}}},"accident_plans":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"}}}},"hospital_indemnity_plans":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"}}}},"critical_illness_plans":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"}}}}}}},"required":["id","attributes","type"]}},"required":["data"]},"win_status":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["quote"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"won":{"type":"boolean"},"won_at":{"type":"string","nullable":true,"x-nullable":true,"format":"date-time"},"company_id":{"type":"string","nullable":true,"x-nullable":true}}}},"required":["id","attributes","type"]}}},"required":["data"]},"accident_plan_quote":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["accident_plan_quote"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"broker_commissions":{"type":"array","items":{"$ref":"#/components/schemas/broker_commission"}},"insurance_start_on":{"type":"string","format":"date"},"insurance_end_on":{"type":"string","format":"date"},"name":{"type":"string"},"primary_contribution":{"type":"integer","nullable":true,"x-nullable":true},"dependent_contribution":{"type":"integer","nullable":true,"x-nullable":true},"product":{"$ref":"#/components/schemas/single_accident_product"},"rates":{"$ref":"#/components/schemas/age_banded_plan_quote_rates"},"source_product_id":{"type":"string","nullable":true,"x-nullable":true},"tier":{"type":"integer"},"is_recommended":{"type":"boolean"},"rate_change_reason":{"type":"string","nullable":true}}}},"required":["id","attributes","type"]}}},"required":["data"]},"single_accident_plan_quote":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","enum":["accident_plan_quote"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"broker_commissions":{"type":"array","items":{"$ref":"#/components/schemas/broker_commission"}},"insurance_start_on":{"type":"string","format":"date"},"insurance_end_on":{"type":"string","format":"date"},"name":{"type":"string"},"primary_contribution":{"type":"integer","nullable":true,"x-nullable":true},"dependent_contribution":{"type":"integer","nullable":true,"x-nullable":true},"product":{"$ref":"#/components/schemas/single_accident_product"},"rates":{"$ref":"#/components/schemas/age_banded_plan_quote_rates"},"source_product_id":{"type":"string","nullable":true,"x-nullable":true},"tier":{"type":"integer"},"is_recommended":{"type":"boolean"},"rate_change_reason":{"type":"string","nullable":true}}}},"required":["id","attributes","type"]}},"required":["data"]},"critical_illness_plan_quote":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["critical_illness_plan_quote"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"broker_commissions":{"type":"array","items":{"$ref":"#/components/schemas/broker_commission"}},"insurance_start_on":{"type":"string","format":"date"},"insurance_end_on":{"type":"string","format":"date"},"name":{"type":"string"},"primary_contribution":{"type":"integer","nullable":true,"x-nullable":true},"product":{"$ref":"#/components/schemas/single_critical_illness_product"},"rates":{"$ref":"#/components/schemas/age_banded_plan_quote_rates"},"source_product_id":{"type":"string","nullable":true,"x-nullable":true},"tier":{"type":"integer"},"is_visible":{"type":"boolean"},"coverage_type":{"$ref":"#/components/schemas/coverage_type"},"is_recommended":{"type":"boolean"},"rate_change_reason":{"type":"string","nullable":true}}}},"required":["id","attributes","type"]}}},"required":["data"]},"single_critical_illness_plan_quote":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","enum":["critical_illness_plan_quote"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"broker_commissions":{"type":"array","items":{"$ref":"#/components/schemas/broker_commission"}},"insurance_start_on":{"type":"string","format":"date"},"insurance_end_on":{"type":"string","format":"date"},"name":{"type":"string"},"primary_contribution":{"type":"integer","nullable":true,"x-nullable":true},"product":{"$ref":"#/components/schemas/single_critical_illness_product"},"rates":{"$ref":"#/components/schemas/age_banded_plan_quote_rates"},"source_product_id":{"type":"string","nullable":true,"x-nullable":true},"tier":{"type":"integer"},"is_visible":{"type":"boolean"},"coverage_type":{"$ref":"#/components/schemas/coverage_type"},"is_recommended":{"type":"boolean"},"rate_change_reason":{"type":"string","nullable":true}}}},"required":["id","attributes","type"]}},"required":["data"]},"dental_plan_quote":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["dental_plan_quote"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"benefit_period_type":{"type":"string","nullable":true,"x-nullable":true},"broker_commissions":{"type":"array","items":{"$ref":"#/components/schemas/broker_commission"}},"deductible_amount":{"type":"integer","nullable":true,"x-nullable":true},"deductible_period":{"type":"string","nullable":true,"x-nullable":true},"dependent_contribution":{"type":"integer","nullable":true,"x-nullable":true},"insurance_start_on":{"type":"string","format":"date"},"insurance_end_on":{"type":"string","format":"date"},"name":{"type":"string"},"no_age_limit_for_fluoride":{"type":"boolean","nullable":true,"x-nullable":true},"no_age_limit_for_sealants":{"type":"boolean","nullable":true,"x-nullable":true},"number_of_cleanings":{"type":"integer"},"plans_offered":{"type":"integer"},"primary_contribution":{"type":"integer","nullable":true,"x-nullable":true},"product":{"$ref":"#/components/schemas/single_dental_product"},"rates":{"$ref":"#/components/schemas/plan_quote_rates"},"source_product_id":{"type":"string","nullable":true,"x-nullable":true},"tier":{"type":"integer"},"tlr":{"type":"number","format":"float"},"is_recommended":{"type":"boolean"},"rate_change_reason":{"type":"string","nullable":true}}}},"required":["id","attributes","type"]}}},"required":["data"]},"single_dental_plan_quote":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","enum":["dental_plan_quote"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"benefit_period_type":{"type":"string","nullable":true,"x-nullable":true},"broker_commissions":{"type":"array","items":{"$ref":"#/components/schemas/broker_commission"}},"deductible_amount":{"type":"integer","nullable":true,"x-nullable":true},"deductible_period":{"type":"string","nullable":true,"x-nullable":true},"dependent_contribution":{"type":"integer","nullable":true,"x-nullable":true},"insurance_start_on":{"type":"string","format":"date"},"insurance_end_on":{"type":"string","format":"date"},"name":{"type":"string"},"no_age_limit_for_fluoride":{"type":"boolean","nullable":true,"x-nullable":true},"no_age_limit_for_sealants":{"type":"boolean","nullable":true,"x-nullable":true},"number_of_cleanings":{"type":"integer"},"plans_offered":{"type":"integer"},"primary_contribution":{"type":"integer","nullable":true,"x-nullable":true},"product":{"$ref":"#/components/schemas/single_dental_product"},"rates":{"$ref":"#/components/schemas/plan_quote_rates"},"source_product_id":{"type":"string","nullable":true,"x-nullable":true},"tier":{"type":"integer"},"tlr":{"type":"number","format":"float"},"is_recommended":{"type":"boolean"},"rate_change_reason":{"type":"string","nullable":true}}}},"required":["id","attributes","type"]}},"required":["data"]},"hospital_indemnity_plan_quote":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["hospital_indemnity_plan_quote"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"broker_commissions":{"type":"array","items":{"$ref":"#/components/schemas/broker_commission"}},"insurance_start_on":{"type":"string","format":"date"},"insurance_end_on":{"type":"string","format":"date"},"name":{"type":"string"},"primary_contribution":{"type":"integer","nullable":true,"x-nullable":true},"product":{"$ref":"#/components/schemas/single_hospital_indemnity_product"},"rates":{"$ref":"#/components/schemas/age_banded_plan_quote_rates"},"source_product_id":{"type":"string","nullable":true,"x-nullable":true},"tier":{"type":"integer"},"is_recommended":{"type":"boolean"},"rate_change_reason":{"type":"string","nullable":true}}}},"required":["id","attributes","type"]}}},"required":["data"]},"single_hospital_indemnity_plan_quote":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","enum":["hospital_indemnity_plan_quote"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"broker_commissions":{"type":"array","items":{"$ref":"#/components/schemas/broker_commission"}},"insurance_start_on":{"type":"string","format":"date"},"insurance_end_on":{"type":"string","format":"date"},"name":{"type":"string"},"primary_contribution":{"type":"integer","nullable":true,"x-nullable":true},"product":{"$ref":"#/components/schemas/single_hospital_indemnity_product"},"rates":{"$ref":"#/components/schemas/age_banded_plan_quote_rates"},"source_product_id":{"type":"string","nullable":true,"x-nullable":true},"tier":{"type":"integer"},"is_recommended":{"type":"boolean"},"rate_change_reason":{"type":"string","nullable":true}}}},"required":["id","attributes","type"]}},"required":["data"]},"single_basic_life_plan_quote":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","enum":["basic_life_plan_quote"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"insurance_start_on":{"type":"string","format":"date"},"insurance_end_on":{"type":"string","format":"date"},"name":{"type":"string"},"product":{"$ref":"#/components/schemas/single_basic_life_product"},"rates":{"$ref":"#/components/schemas/age_banded_plan_quote_rates"},"source_product_id":{"type":"string","nullable":true,"x-nullable":true},"tier":{"type":"string"},"is_recommended":{"type":"boolean"},"rate_change_reason":{"type":"string","nullable":true}}}},"required":["id","attributes","type"]}},"required":["data"]},"long_term_disability_plan_quote":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["long_term_disability_plan_quote"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"insurance_start_on":{"type":"string","format":"date"},"insurance_end_on":{"type":"string","format":"date"},"name":{"type":"string"},"product":{"$ref":"#/components/schemas/single_long_term_disability_product"},"rates":{"$ref":"#/components/schemas/plan_quote_rates"},"source_product_id":{"type":"string","nullable":true,"x-nullable":true},"tier":{"type":"string"},"primary_contribution":{"type":"integer"},"dependent_contribution":{"type":"integer"},"broker_commissions":{"type":"array","items":{"$ref":"#/components/schemas/broker_commission"}},"is_recommended":{"type":"boolean"}}}},"required":["id","attributes","type"]}}},"required":["data"]},"single_long_term_disability_plan_quote":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","enum":["long_term_disability_plan_quote"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"insurance_start_on":{"type":"string","format":"date"},"insurance_end_on":{"type":"string","format":"date"},"name":{"type":"string"},"product":{"$ref":"#/components/schemas/single_long_term_disability_product"},"rates":{"$ref":"#/components/schemas/plan_quote_rates"},"source_product_id":{"type":"string","nullable":true,"x-nullable":true},"tier":{"type":"string"},"primary_contribution":{"type":"integer"},"dependent_contribution":{"type":"integer"},"broker_commissions":{"type":"array","items":{"$ref":"#/components/schemas/broker_commission"}},"is_recommended":{"type":"boolean"}}}},"required":["id","attributes","type"]}},"required":["data"]},"short_term_disability_plan_quote":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["short_term_disability_plan_quote"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"insurance_start_on":{"type":"string","format":"date"},"insurance_end_on":{"type":"string","format":"date"},"name":{"type":"string"},"product":{"$ref":"#/components/schemas/single_short_term_disability_product"},"rates":{"$ref":"#/components/schemas/plan_quote_rates"},"source_product_id":{"type":"string","nullable":true,"x-nullable":true},"tier":{"type":"string"},"primary_contribution":{"type":"integer"},"dependent_contribution":{"type":"integer"},"broker_commissions":{"type":"array","items":{"$ref":"#/components/schemas/broker_commission"}},"is_recommended":{"type":"boolean"}}}},"required":["id","attributes","type"]}}},"required":["data"]},"single_short_term_disability_plan_quote":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","enum":["short_term_disability_plan_quote"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"insurance_start_on":{"type":"string","format":"date"},"insurance_end_on":{"type":"string","format":"date"},"name":{"type":"string"},"product":{"$ref":"#/components/schemas/single_short_term_disability_product"},"rates":{"$ref":"#/components/schemas/plan_quote_rates"},"source_product_id":{"type":"string","nullable":true,"x-nullable":true},"tier":{"type":"string"},"primary_contribution":{"type":"integer"},"dependent_contribution":{"type":"integer"},"broker_commissions":{"type":"array","items":{"$ref":"#/components/schemas/broker_commission"}},"is_recommended":{"type":"boolean"}}}},"required":["id","attributes","type"]}},"required":["data"]},"supplemental_life_plan_quote":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["supplemental_life_plan_quote"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"broker_commissions":{"type":"array","items":{"$ref":"#/components/schemas/broker_commission"}},"insurance_start_on":{"type":"string","format":"date"},"insurance_end_on":{"type":"string","format":"date"},"name":{"type":"string"},"primary_contribution":{"type":"integer","nullable":true,"x-nullable":true},"product":{"$ref":"#/components/schemas/single_supplemental_life_product"},"rates":{"$ref":"#/components/schemas/age_banded_plan_quote_rates"},"source_product_id":{"type":"string","nullable":true,"x-nullable":true},"tier":{"type":"string"},"coverage_type":{"$ref":"#/components/schemas/coverage_type"},"is_recommended":{"type":"boolean"},"rate_change_reason":{"type":"string","nullable":true}}}},"required":["id","attributes","type"]}}},"required":["data"]},"single_supplemental_life_plan_quote":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","enum":["supplemental_life_plan_quote"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"broker_commissions":{"type":"array","items":{"$ref":"#/components/schemas/broker_commission"}},"insurance_start_on":{"type":"string","format":"date"},"insurance_end_on":{"type":"string","format":"date"},"name":{"type":"string"},"primary_contribution":{"type":"integer","nullable":true,"x-nullable":true},"product":{"$ref":"#/components/schemas/single_supplemental_life_product"},"rates":{"$ref":"#/components/schemas/age_banded_plan_quote_rates"},"source_product_id":{"type":"string","nullable":true,"x-nullable":true},"tier":{"type":"string"},"coverage_type":{"$ref":"#/components/schemas/coverage_type"},"is_recommended":{"type":"boolean"},"rate_change_reason":{"type":"string","nullable":true}}}},"required":["id","attributes","type"]}},"required":["data"]},"vision_plan_quote":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["vision_plan_quote"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"broker_commissions":{"type":"array","items":{"$ref":"#/components/schemas/broker_commission"}},"dependent_contribution":{"type":"integer","nullable":true,"x-nullable":true},"insurance_start_on":{"type":"string","format":"date"},"insu
[...]
