{"openapi":"3.1.0","jsonSchemaDialect":"https://json-schema.org/draft/2020-12/schema","info":{"title":"Airthings API","version":"v1","contact":{"name":"Airthings Support","email":"support@airthings.com"}},"servers":[{"url":"https://ext-api.airthings.com"}],"paths":{"/v1/accounts":{"get":{"tags":["Accounts"],"summary":"Accounts list","description":"Get all accessible accounts","parameters":[],"responses":{"200":{"description":"List of accounts","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAccountsResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["read:device"]}]},"parameters":[]},"/v1/devices":{"get":{"tags":["Devices"],"summary":"Device list","description":"Get account devices","parameters":[],"responses":{"200":{"description":"List of devices","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetDevicesResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["write:device"]}]},"patch":{"tags":["Devices"],"summary":"Update devices","description":"Update names of the devices.","parameters":[{"name":"organizationId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"userGroupId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"accountId","in":"query","schema":{"type":"string","format":"uuid"},"required":true,"deprecated":false}],"requestBody":{"description":"UpdateDevicesRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDevicesRequest"}}},"required":true},"responses":{"204":{"description":"Devices are updated"}},"deprecated":false,"security":[{"AirthingsAccounts":["write:device"]}]},"parameters":[{"name":"organizationId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"userGroupId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"accountId","in":"query","schema":{"type":"string","format":"uuid"},"required":false,"deprecated":false},{"name":"segmentStartedAfter","in":"query","schema":{"type":"string","format":"date-time"},"required":false,"deprecated":false},{"name":"showInactive","in":"query","schema":{"type":"boolean"},"required":false,"deprecated":false},{"name":"limit","in":"query","schema":{"type":"number","format":"int32"},"required":false,"deprecated":false},{"name":"offset","in":"query","schema":{"type":"number","format":"int32"},"required":false,"deprecated":false}]},"/v1/devices/{serialNumber}":{"get":{"tags":["Devices"],"summary":"Device info","description":"Get info about a specific device","parameters":[],"responses":{"200":{"description":"Device with sensors, segments and locations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetDeviceDetailedResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["read:device"]}]},"parameters":[{"name":"organizationId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"userGroupId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"accountId","in":"query","schema":{"type":"string","format":"uuid"},"required":false,"deprecated":false},{"name":"serialNumber","in":"path","schema":{"type":"string"},"required":true,"deprecated":false}]},"/v1/devices/{serialNumber}/battery":{"get":{"tags":["Devices"],"summary":"Device battery history","description":"Get battery history of a specific device from the latest measuring segment","parameters":[],"responses":{"200":{"description":"Battery history response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatteryResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["read:device"]}]},"parameters":[{"name":"organizationId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"userGroupId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"accountId","in":"query","schema":{"type":"string","format":"uuid"},"required":false,"deprecated":false},{"name":"serialNumber","in":"path","schema":{"type":"string"},"required":true,"deprecated":false},{"name":"start","in":"query","schema":{"type":"string","format":"date-time"},"description":"Epoch timestamp or ISO8601 date","required":false,"deprecated":false},{"name":"end","in":"query","schema":{"type":"string","format":"date-time"},"description":"Epoch timestamp or ISO8601 date","required":false,"deprecated":false},{"name":"pageSize","in":"query","schema":{"type":"number","format":"int32","maximum":5000,"minimum":1},"description":"If a resolution is provided: number of hours per page, else: number of days per page","required":false,"deprecated":false},{"name":"cursor","in":"query","schema":{"type":"string"},"description":"Set starting page of query, found in the response if all results does not fit in one page","required":false,"deprecated":false}]},"/v1/devices/{serialNumber}/latest-battery":{"get":{"tags":["Devices"],"summary":"Device battery latest-values","description":"Get latest battery info of a specific device from the latest measuring segment","parameters":[],"responses":{"200":{"description":"Battery info response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleBatteryResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["read:device"]}]},"parameters":[{"name":"organizationId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"userGroupId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"accountId","in":"query","schema":{"type":"string","format":"uuid"},"required":false,"deprecated":false},{"name":"serialNumber","in":"path","schema":{"type":"string"},"required":true,"deprecated":false}]},"/v1/devices/{serialNumber}/latest-samples":{"get":{"tags":["Devices"],"summary":"Device samples latest-values","description":"Get latest samples of a specific device from the latest measuring segment","parameters":[],"responses":{"200":{"description":"Sample response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LatestSampleResponse-enriched"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["read:device"]}]},"parameters":[{"name":"organizationId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"userGroupId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"accountId","in":"query","schema":{"type":"string","format":"uuid"},"required":false,"deprecated":false},{"name":"serialNumber","in":"path","schema":{"type":"string"},"required":true,"deprecated":false},{"name":"measurementSystem","in":"query","schema":{"type":"string","enum":["US","METRIC"],"description":"Measurement unit preference. Defaults to `METRIC`"},"required":false,"deprecated":false},{"name":"radonUnit","in":"query","schema":{"type":"string","enum":["pci","bq"]},"required":false,"deprecated":false},{"name":"tempUnit","in":"query","schema":{"type":"string","enum":["c","f"]},"required":false,"deprecated":false},{"name":"pressureUnit","in":"query","schema":{"type":"string","enum":["hpa","inhg"]},"required":false,"deprecated":false},{"name":"vocUnit","in":"query","schema":{"type":"string","enum":["ppb","mgpc"]},"required":false,"deprecated":false}]},"/v1/devices/{serialNumber}/samples":{"get":{"tags":["Devices"],"summary":"Device samples history","description":"Get samples of a specific device from the latest measuring segment","parameters":[],"responses":{"200":{"description":"Samples response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SamplesResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["read:device"]}]},"parameters":[{"name":"organizationId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"userGroupId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"accountId","in":"query","schema":{"type":"string","format":"uuid"},"required":false,"deprecated":false},{"name":"serialNumber","in":"path","schema":{"type":"string"},"required":true,"deprecated":false},{"name":"start","in":"query","schema":{"type":"string","format":"date-time"},"description":"Epoch timestamp or ISO8601 date","required":false,"deprecated":false},{"name":"end","in":"query","schema":{"type":"string","format":"date-time"},"description":"Epoch timestamp or ISO8601 date","required":false,"deprecated":false},{"name":"resolution","in":"query","schema":{"type":"string","enum":["HOUR","FOUR_HOURS","DAY","THREE_DAYS","WEEK"],"description":"Set the averaging timespan of samples"},"required":false,"deprecated":false},{"name":"pageSize","in":"query","schema":{"type":"number","format":"int32","maximum":5000,"minimum":1},"description":"If a resolution is provided: number of hours per page, else: number of days per page","required":false,"deprecated":false},{"name":"cursor","in":"query","schema":{"type":"string"},"description":"Set starting page of query, found in the response if all results does not fit in one page","required":false,"deprecated":false}]},"/v1/devices/{serialNumber}/hourly-radon-samples":{"get":{"tags":["Devices"],"summary":"Device samples history - hourly radon","description":"Get hourly radon samples of a specific device from the latest measuring segment","parameters":[],"responses":{"200":{"description":"Samples response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HourlyRadonResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["read:device"]}]},"parameters":[{"name":"organizationId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"userGroupId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"accountId","in":"query","schema":{"type":"string","format":"uuid"},"required":false,"deprecated":false},{"name":"serialNumber","in":"path","schema":{"type":"string"},"required":true,"deprecated":false},{"name":"start","in":"query","schema":{"type":"string","format":"date-time"},"description":"Epoch timestamp or ISO8601 date","required":false,"deprecated":false},{"name":"end","in":"query","schema":{"type":"string","format":"date-time"},"description":"Epoch timestamp or ISO8601 date","required":false,"deprecated":false},{"name":"resolution","in":"query","schema":{"type":"string","enum":["HOUR","FOUR_HOURS","DAY","THREE_DAYS","WEEK"],"description":"Set the averaging timespan of samples"},"required":false,"deprecated":false},{"name":"pageSize","in":"query","schema":{"type":"number","format":"int32","maximum":5000,"minimum":1},"description":"If a resolution is provided: number of hours per page, else: number of days per page","required":false,"deprecated":false},{"name":"cursor","in":"query","schema":{"type":"string"},"description":"Set starting page of query, found in the response if all results does not fit in one page","required":false,"deprecated":false}]},"/v1/devices/{serialNumber}/mold-samples":{"get":{"tags":["Devices"],"summary":"Device samples history - mold","description":"Get mold samples history of a specific device from the latest measuring segment","parameters":[],"responses":{"200":{"description":"Samples response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MoldResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["read:device"]}]},"parameters":[{"name":"organizationId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"userGroupId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"accountId","in":"query","schema":{"type":"string","format":"uuid"},"required":false,"deprecated":false},{"name":"serialNumber","in":"path","schema":{"type":"string"},"required":true,"deprecated":false},{"name":"start","in":"query","schema":{"type":"string","format":"date-time"},"description":"Epoch timestamp or ISO8601 date","required":false,"deprecated":false},{"name":"end","in":"query","schema":{"type":"string","format":"date-time"},"description":"Epoch timestamp or ISO8601 date","required":false,"deprecated":false},{"name":"resolution","in":"query","schema":{"type":"string","enum":["HOUR","FOUR_HOURS","DAY","THREE_DAYS","WEEK"],"description":"Set the averaging timespan of samples"},"required":false,"deprecated":false},{"name":"pageSize","in":"query","schema":{"type":"number","format":"int32","maximum":5000,"minimum":1},"description":"If a resolution is provided: number of hours per page, else: number of days per page","required":false,"deprecated":false},{"name":"cursor","in":"query","schema":{"type":"string"},"description":"Set starting page of query, found in the response if all results does not fit in one page","required":false,"deprecated":false}]},"/v1/devices/{serialNumber}/virus-risk-samples":{"get":{"tags":["Devices"],"summary":"Device samples history - virus risk","description":"Get virus risk samples history of a specific device from the latest measuring segment","parameters":[],"responses":{"200":{"description":"Samples response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirusRiskResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["read:device"]}]},"parameters":[{"name":"organizationId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"userGroupId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"accountId","in":"query","schema":{"type":"string","format":"uuid"},"required":false,"deprecated":false},{"name":"serialNumber","in":"path","schema":{"type":"string"},"required":true,"deprecated":false},{"name":"start","in":"query","schema":{"type":"string","format":"date-time"},"description":"Epoch timestamp or ISO8601 date","required":false,"deprecated":false},{"name":"end","in":"query","schema":{"type":"string","format":"date-time"},"description":"Epoch timestamp or ISO8601 date","required":false,"deprecated":false},{"name":"resolution","in":"query","schema":{"type":"string","enum":["HOUR","FOUR_HOURS","DAY","THREE_DAYS","WEEK"],"description":"Set the averaging timespan of samples"},"required":false,"deprecated":false},{"name":"pageSize","in":"query","schema":{"type":"number","format":"int32","maximum":5000,"minimum":1},"description":"If a resolution is provided: number of hours per page, else: number of days per page","required":false,"deprecated":false},{"name":"cursor","in":"query","schema":{"type":"string"},"description":"Set starting page of query, found in the response if all results does not fit in one page","required":false,"deprecated":false}]},"/v1/devices/{serialNumber}/occupancy-samples":{"get":{"tags":["Devices"],"summary":"Device samples history - occupancy","description":"Get occupancy samples history of a specific device from the latest measuring segment","parameters":[],"responses":{"200":{"description":"occupancy response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OccupancyResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["read:device"]}]},"parameters":[{"name":"organizationId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"userGroupId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"accountId","in":"query","schema":{"type":"string","format":"uuid"},"required":false,"deprecated":false},{"name":"serialNumber","in":"path","schema":{"type":"string"},"required":true,"deprecated":false},{"name":"start","in":"query","schema":{"type":"string","format":"date-time"},"description":"Epoch timestamp or ISO8601 date","required":false,"deprecated":false},{"name":"end","in":"query","schema":{"type":"string","format":"date-time"},"description":"Epoch timestamp or ISO8601 date","required":false,"deprecated":false},{"name":"resolution","in":"query","schema":{"type":"string","enum":["HOUR","FOUR_HOURS","DAY","THREE_DAYS","WEEK"],"description":"Set the averaging timespan of samples"},"required":false,"deprecated":false},{"name":"pageSize","in":"query","schema":{"type":"number","format":"int32","maximum":5000,"minimum":1},"description":"Number of samples to return per page","required":false,"deprecated":false},{"name":"cursor","in":"query","schema":{"type":"string"},"description":"Pointer to the next page of results when pagination occurs","required":false,"deprecated":false}]},"/v1/devices/{serialNumber}/ventilation-samples":{"get":{"tags":["Devices"],"summary":"Device samples history - ventilation","description":"Get ventilation samples history of a specific device from the latest measuring segment","parameters":[],"responses":{"200":{"description":"ventilation response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VentilationResponse-enriched"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["read:device"]}]},"parameters":[{"name":"organizationId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"userGroupId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"accountId","in":"query","schema":{"type":"string","format":"uuid"},"required":false,"deprecated":false},{"name":"serialNumber","in":"path","schema":{"type":"string"},"required":true,"deprecated":false},{"name":"start","in":"query","schema":{"type":"string","format":"date-time"},"description":"Epoch timestamp or ISO8601 date","required":false,"deprecated":false},{"name":"end","in":"query","schema":{"type":"string","format":"date-time"},"description":"Epoch timestamp or ISO8601 date","required":false,"deprecated":false},{"name":"resolution","in":"query","schema":{"type":"string","enum":["HOUR","FOUR_HOURS","DAY","THREE_DAYS","WEEK"],"description":"Set the averaging timespan of samples"},"required":false,"deprecated":false},{"name":"pageSize","in":"query","schema":{"type":"number","format":"int32","maximum":5000,"minimum":1},"description":"Number of samples to return per page","required":false,"deprecated":false},{"name":"cursor","in":"query","schema":{"type":"string"},"description":"Pointer to the next page of results when pagination occurs","required":false,"deprecated":false},{"name":"lengthUnit","in":"query","schema":{"type":"string","enum":["m","ft"],"description":"Measurement unit preference. Defaults to `m`"},"required":false,"deprecated":false}]},"/v1/devices/{serialNumber}/threshold-breaches":{"get":{"tags":["Devices"],"summary":"Device threshold notifications","description":"Get threshold breaches for a given device. A threshold breach is generated every time one of\nthe device sensors reports a value that crosses a predefined threshold value","parameters":[],"responses":{"200":{"description":"List of sensors threshold breaches of the device","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetThresholdBreachesResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["read:device"]}]},"parameters":[{"name":"organizationId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"userGroupId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"accountId","in":"query","schema":{"type":"string","format":"uuid"},"required":false,"deprecated":false},{"name":"serialNumber","in":"path","schema":{"type":"string"},"required":true,"deprecated":false}]},"/v1/devices/labels":{"patch":{"tags":["Devices"],"summary":"Set device labels","description":"Set labels on one or more devices, creating labels that do not exist and updating labels that do exist.\nLabels can only be set for devices that have an active segment. If the active segment for a device ends\n(becomes inactive), the labels set by this endpoint will be cleared, and labels will have to be set \nagain. This endpoint is idempotent provided that none of the devices operated on have their active segment\nchanged between requests.","parameters":[],"requestBody":{"description":"Patch device labels request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchDeviceLabelsRequestUpsertDocs"}}},"required":true},"responses":{"204":{"description":"No Content"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["write:device"]}]},"parameters":[]},"/v1/segments":{"get":{"tags":["Segments"],"summary":"Segment list","description":"Get measurement segments belong to the account","parameters":[],"responses":{"200":{"description":"List of segments","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SegmentsResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["read:device"]}]},"parameters":[{"name":"organizationId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"userGroupId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"accountId","in":"query","schema":{"type":"string","format":"uuid"},"required":false,"deprecated":false},{"name":"showInactive","in":"query","schema":{"type":"boolean"},"required":false,"deprecated":false},{"name":"segmentStartedAfter","in":"query","schema":{"type":"string","format":"date-time"},"required":false,"deprecated":false},{"name":"segmentEndedAfter","in":"query","schema":{"type":"string","format":"date-time"},"required":false,"deprecated":false}]},"/v1/segments/{segmentId}":{"get":{"tags":["Segments"],"summary":"Segment info","description":"Get information on a measurement segment","parameters":[{"name":"organizationId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"userGroupId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"accountId","in":"query","schema":{"type":"string","format":"uuid"},"required":false,"deprecated":false},{"name":"segmentId","in":"path","schema":{"type":"string","format":"uuid"},"required":true,"deprecated":false}],"responses":{"200":{"description":"A segment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SegmentResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["read:device"]}]},"parameters":[]},"/v1/segments/{segmentId}/samples":{"get":{"tags":["Segments"],"summary":"Segment samples history","description":"Get samples history of a specific measurement segment","parameters":[],"responses":{"200":{"description":"Samples response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SamplesResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["read:device"]}]},"parameters":[{"name":"organizationId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"userGroupId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"accountId","in":"query","schema":{"type":"string","format":"uuid"},"required":false,"deprecated":false},{"name":"segmentId","in":"path","schema":{"type":"string","format":"uuid"},"required":true,"deprecated":false},{"name":"start","in":"query","schema":{"type":"string","format":"date-time"},"description":"Epoch timestamp or ISO8601 date","required":false,"deprecated":false},{"name":"end","in":"query","schema":{"type":"string","format":"date-time"},"description":"Epoch timestamp or ISO8601 date","required":false,"deprecated":false},{"name":"resolution","in":"query","schema":{"type":"string","enum":["HOUR","FOUR_HOURS","DAY","THREE_DAYS","WEEK"],"description":"Set the averaging timespan of samples"},"required":false,"deprecated":false},{"name":"pageSize","in":"query","schema":{"type":"number","format":"int32","maximum":5000,"minimum":1},"description":"If a resolution is provided: number of hours per page, else: number of days per page","required":false,"deprecated":false},{"name":"cursor","in":"query","schema":{"type":"string"},"description":"Set starting page of query, found in the response if all results does not fit in one page","required":false,"deprecated":false},{"name":"measurementSystem","in":"query","schema":{"type":"string","enum":["US","METRIC"],"description":"Measurement unit preference. Defaults to `METRIC`"},"required":false,"deprecated":false},{"name":"radonUnit","in":"query","schema":{"type":"string","enum":["pci","bq"]},"required":false,"deprecated":false},{"name":"tempUnit","in":"query","schema":{"type":"string","enum":["c","f"]},"required":false,"deprecated":false},{"name":"pressureUnit","in":"query","schema":{"type":"string","enum":["hpa","inhg"]},"required":false,"deprecated":false},{"name":"vocUnit","in":"query","schema":{"type":"string","enum":["ppb","mgpc"]},"required":false,"deprecated":false}]},"/v1/segments/{segmentId}/mold-samples":{"get":{"tags":["Segments"],"summary":"Segment samples history - mold","description":"Get mold samples history of a specific measurement segment","parameters":[],"responses":{"200":{"description":"Samples response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MoldResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["read:device"]}]},"parameters":[{"name":"organizationId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"userGroupId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"accountId","in":"query","schema":{"type":"string","format":"uuid"},"required":false,"deprecated":false},{"name":"segmentId","in":"path","schema":{"type":"string","format":"uuid"},"required":true,"deprecated":false},{"name":"start","in":"query","schema":{"type":"string","format":"date-time"},"description":"Epoch timestamp or ISO8601 date","required":false,"deprecated":false},{"name":"end","in":"query","schema":{"type":"string","format":"date-time"},"description":"Epoch timestamp or ISO8601 date","required":false,"deprecated":false},{"name":"resolution","in":"query","schema":{"type":"string","enum":["HOUR","FOUR_HOURS","DAY","THREE_DAYS","WEEK"],"description":"Set the averaging timespan of samples"},"required":false,"deprecated":false},{"name":"pageSize","in":"query","schema":{"type":"number","format":"int32","maximum":5000,"minimum":1},"description":"If a resolution is provided: number of hours per page, else: number of days per page","required":false,"deprecated":false},{"name":"cursor","in":"query","schema":{"type":"string"},"description":"Set starting page of query, found in the response if all results does not fit in one page","required":false,"deprecated":false},{"name":"measurementSystem","in":"query","schema":{"type":"string","enum":["US","METRIC"],"description":"Measurement unit preference. Defaults to `METRIC`"},"required":false,"deprecated":false},{"name":"radonUnit","in":"query","schema":{"type":"string","enum":["pci","bq"]},"required":false,"deprecated":false},{"name":"tempUnit","in":"query","schema":{"type":"string","enum":["c","f"]},"required":false,"deprecated":false},{"name":"pressureUnit","in":"query","schema":{"type":"string","enum":["hpa","inhg"]},"required":false,"deprecated":false},{"name":"vocUnit","in":"query","schema":{"type":"string","enum":["ppb","mgpc"]},"required":false,"deprecated":false}]},"/v1/segments/{segmentId}/virus-risk-samples":{"get":{"tags":["Segments"],"summary":"Segment samples history - virus risk","description":"Get virus risk samples history of a specific measurement segment","parameters":[],"responses":{"200":{"description":"Samples response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirusRiskResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["read:device"]}]},"parameters":[{"name":"organizationId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"userGroupId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"accountId","in":"query","schema":{"type":"string","format":"uuid"},"required":false,"deprecated":false},{"name":"segmentId","in":"path","schema":{"type":"string","format":"uuid"},"required":true,"deprecated":false},{"name":"start","in":"query","schema":{"type":"string","format":"date-time"},"description":"Epoch timestamp or ISO8601 date","required":false,"deprecated":false},{"name":"end","in":"query","schema":{"type":"string","format":"date-time"},"description":"Epoch timestamp or ISO8601 date","required":false,"deprecated":false},{"name":"resolution","in":"query","schema":{"type":"string","enum":["HOUR","FOUR_HOURS","DAY","THREE_DAYS","WEEK"],"description":"Set the averaging timespan of samples"},"required":false,"deprecated":false},{"name":"pageSize","in":"query","schema":{"type":"number","format":"int32","maximum":5000,"minimum":1},"description":"If a resolution is provided: number of hours per page, else: number of days per page","required":false,"deprecated":false},{"name":"cursor","in":"query","schema":{"type":"string"},"description":"Set starting page of query, found in the response if all results does not fit in one page","required":false,"deprecated":false},{"name":"measurementSystem","in":"query","schema":{"type":"string","enum":["US","METRIC"],"description":"Measurement unit preference. Defaults to `METRIC`"},"required":false,"deprecated":false},{"name":"radonUnit","in":"query","schema":{"type":"string","enum":["pci","bq"]},"required":false,"deprecated":false},{"name":"tempUnit","in":"query","schema":{"type":"string","enum":["c","f"]},"required":false,"deprecated":false},{"name":"pressureUnit","in":"query","schema":{"type":"string","enum":["hpa","inhg"]},"required":false,"deprecated":false},{"name":"vocUnit","in":"query","schema":{"type":"string","enum":["ppb","mgpc"]},"required":false,"deprecated":false}]},"/v1/segments/{segmentId}/occupancy-samples":{"get":{"tags":["Segments"],"summary":"Segment samples history - Occupancy","description":"Get occupancy samples history of a specific measurement segment","parameters":[],"responses":{"200":{"description":"Occupancy response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OccupancyResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["read:device"]}]},"parameters":[{"name":"organizationId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"userGroupId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"accountId","in":"query","schema":{"type":"string","format":"uuid"},"required":false,"deprecated":false},{"name":"segmentId","in":"path","schema":{"type":"string","format":"uuid"},"required":true,"deprecated":false},{"name":"start","in":"query","schema":{"type":"string","format":"date-time"},"description":"Epoch timestamp or ISO8601 date","required":false,"deprecated":false},{"name":"end","in":"query","schema":{"type":"string","format":"date-time"},"description":"Epoch timestamp or ISO8601 date","required":false,"deprecated":false},{"name":"resolution","in":"query","schema":{"type":"string","enum":["HOUR","FOUR_HOURS","DAY","THREE_DAYS","WEEK"],"description":"Set the averaging timespan of samples"},"required":false,"deprecated":false},{"name":"pageSize","in":"query","schema":{"type":"number","format":"int32","maximum":5000,"minimum":1},"description":"Number of samples to return per page","required":false,"deprecated":false},{"name":"cursor","in":"query","schema":{"type":"string"},"description":"Pointer to the next page of results when pagination occurs","required":false,"deprecated":false}]},"/v1/segments/{segmentId}/ventilation-samples":{"get":{"tags":["Segments"],"summary":"Segment samples history - Ventilation","description":"Get ventilation samples history of a specific measurement segment","parameters":[],"responses":{"200":{"description":"Ventilation response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VentilationResponse-enriched"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["read:device"]}]},"parameters":[{"name":"organizationId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"userGroupId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"accountId","in":"query","schema":{"type":"string","format":"uuid"},"required":false,"deprecated":false},{"name":"segmentId","in":"path","schema":{"type":"string","format":"uuid"},"required":true,"deprecated":false},{"name":"start","in":"query","schema":{"type":"string","format":"date-time"},"description":"Epoch timestamp or ISO8601 date","required":false,"deprecated":false},{"name":"end","in":"query","schema":{"type":"string","format":"date-time"},"description":"Epoch timestamp or ISO8601 date","required":false,"deprecated":false},{"name":"resolution","in":"query","schema":{"type":"string","enum":["HOUR","FOUR_HOURS","DAY","THREE_DAYS","WEEK"],"description":"Set the averaging timespan of samples"},"required":false,"deprecated":false},{"name":"pageSize","in":"query","schema":{"type":"number","format":"int32","maximum":5000,"minimum":1},"description":"Number of samples to return per page","required":false,"deprecated":false},{"name":"cursor","in":"query","schema":{"type":"string"},"description":"Pointer to the next page of results when pagination occurs","required":false,"deprecated":false},{"name":"lengthUnit","in":"query","schema":{"type":"string","enum":["m","ft"],"description":"Measurement unit preference. Defaults to `m`"},"required":false,"deprecated":false}]},"/v1/segments/{segmentId}/hourly-radon-samples":{"get":{"tags":["Segments"],"summary":"Segment samples history - Hourly Radon","description":"Get hourly radon samples history of a specific measurement segment","parameters":[],"responses":{"200":{"description":"Hourly radon response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HourlyRadonResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["read:device"]}]},"parameters":[{"name":"organizationId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"userGroupId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"accountId","in":"query","schema":{"type":"string","format":"uuid"},"required":false,"deprecated":false},{"name":"segmentId","in":"path","schema":{"type":"string","format":"uuid"},"required":true,"deprecated":false},{"name":"start","in":"query","schema":{"type":"string","format":"date-time"},"description":"Epoch timestamp or ISO8601 date","required":false,"deprecated":false},{"name":"end","in":"query","schema":{"type":"string","format":"date-time"},"description":"Epoch timestamp or ISO8601 date","required":false,"deprecated":false},{"name":"resolution","in":"query","schema":{"type":"string","enum":["HOUR","FOUR_HOURS","DAY","THREE_DAYS","WEEK"],"description":"Set the averaging timespan of samples"},"required":false,"deprecated":false},{"name":"pageSize","in":"query","schema":{"type":"number","format":"int32","maximum":5000,"minimum":1},"description":"If a resolution is provided: number of hours per page, else: number of days per page","required":false,"deprecated":false},{"name":"cursor","in":"query","schema":{"type":"string"},"description":"Set starting page of query, found in the response if all results does not fit in one page","required":false,"deprecated":false},{"name":"measurementSystem","in":"query","schema":{"type":"string","enum":["US","METRIC"],"description":"Measurement unit preference. Defaults to `METRIC`"},"required":false,"deprecated":false},{"name":"radonUnit","in":"query","schema":{"type":"string","enum":["pci","bq"]},"required":false,"deprecated":false},{"name":"tempUnit","in":"query","schema":{"type":"string","enum":["c","f"]},"required":false,"deprecated":false},{"name":"pressureUnit","in":"query","schema":{"type":"string","enum":["hpa","inhg"]},"required":false,"deprecated":false},{"name":"vocUnit","in":"query","schema":{"type":"string","enum":["ppb","mgpc"]},"required":false,"deprecated":false}]},"/v1/locations":{"get":{"tags":["Locations"],"summary":"Location list","description":"Get all locations","parameters":[{"name":"organizationId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"userGroupId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"accountId","in":"query","schema":{"type":"string","format":"uuid"},"required":false,"deprecated":false}],"responses":{"200":{"description":"List of locations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetLocationsResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["read:device","write:device"]}]},"post":{"tags":["Locations"],"summary":"Add location","description":"Add a new location to an organization","parameters":[{"name":"organizationId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"userGroupId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"accountId","in":"query","schema":{"type":"string","format":"uuid"},"required":true,"deprecated":false}],"requestBody":{"description":"AddLocationRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddLocationRequest-enriched"}}},"required":true},"responses":{"200":{"description":"The new location ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddLocationResponse"}}}},"403":{"description":"User does not have the correct role or is not a member of organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"A location with the same name or latitude and longitude already exist in this organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["read:device","write:device"]}]},"parameters":[]},"/v1/locations/{locationId}":{"get":{"tags":["Locations"],"summary":"Location info","description":"Get info about a specific location","parameters":[{"name":"organizationId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"userGroupId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"accountId","in":"query","schema":{"type":"string","format":"uuid"},"required":false,"deprecated":false},{"name":"locationId","in":"path","schema":{"type":"string","format":"uuid"},"required":true,"deprecated":false}],"responses":{"200":{"description":"Location info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetLocationResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["read:device"]}]},"parameters":[]},"/v1/locations/{locationId}/latest-samples":{"get":{"tags":["Locations"],"summary":"Location latest samples","description":"Get latest samples belonging to devices in a specific location (latest segment)","parameters":[],"responses":{"200":{"description":"Location samples","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetLocationSamplesResponse-enriched"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["read:device"]}]},"parameters":[{"name":"organizationId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"userGroupId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"accountId","in":"query","schema":{"type":"string","format":"uuid"},"required":false,"deprecated":false},{"name":"locationId","in":"path","schema":{"type":"string","format":"uuid"},"required":true,"deprecated":false},{"name":"measurementSystem","in":"query","schema":{"type":"string","enum":["US","METRIC"],"description":"Measurement unit preference. Defaults to `METRIC`"},"required":false,"deprecated":false},{"name":"radonUnit","in":"query","schema":{"type":"string","enum":["pci","bq"]},"required":false,"deprecated":false},{"name":"tempUnit","in":"query","schema":{"type":"string","enum":["c","f"]},"required":false,"deprecated":false},{"name":"pressureUnit","in":"query","schema":{"type":"string","enum":["hpa","inhg"]},"required":false,"deprecated":false},{"name":"vocUnit","in":"query","schema":{"type":"string","enum":["ppb","mgpc"]},"required":false,"deprecated":false}]},"/v1/locations/{locationId}/devices":{"post":{"tags":["Locations"],"summary":"Add a device to a location","description":"Add a new device to a location. The `serialNumber` and `id` can be found on the back of the device.\nNote that the `id` in this context is not the `serialNumber`, as it can be when requesting resources\nin other Airthings APIs. To use this endpoint, make sure your API client has the `write:device` scope\nenabled in the dashboard and that the `write:device` scope is added to your access token\nwhen requesting a token from the token endpoint.","parameters":[],"requestBody":{"description":"AddDeviceRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddDeviceRequest-enriched"}}},"required":true},"responses":{"200":{"description":"Properties of the added device","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddDeviceToLocationResponse"}}}},"400":{"description":"The id(checkcode) provided for device was invalid or missing account selector params(`organizationId` or `userGroupId`)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The device is already paired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["write:device"]}]},"parameters":[{"name":"organizationId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"userGroupId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"accountId","in":"query","schema":{"type":"string","format":"uuid"},"required":true,"deprecated":false},{"name":"locationId","in":"path","schema":{"type":"string","format":"uuid"},"required":true,"deprecated":false}]},"/v1/webhooks":{"get":{"tags":["Webhooks"],"summary":"Webhook list","description":"Get all added webhooks","parameters":[],"responses":{"200":{"description":"List of webhooks","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetWebhooksResponse-enriched"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["read:device","write:device"]}]},"post":{"tags":["Webhooks"],"summary":"Add Webhook","description":"Add a new webhook","parameters":[],"requestBody":{"description":"Add webhook request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddHookRequest-enriched"}}},"required":true},"responses":{"200":{"description":"The webhook","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HookResponse-enriched"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["read:device","write:device"]}]},"parameters":[{"name":"organizationId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"userGroupId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"accountId","in":"query","schema":{"type":"string","format":"uuid"},"required":true,"deprecated":false}]},"/v1/webhooks/{hookId}":{"delete":{"tags":["Webhooks"],"summary":"Delete Webhook","description":"Delete a webhook","parameters":[],"responses":{"204":{"description":"Webhook successfully deleted"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["write:device"]}]},"patch":{"tags":["Webhooks"],"summary":"Edit Webhook","description":"Edit a webhook in an organization. Only locations is supported at this time.\nValue type of this endpoint is currently a list of location IDs that you wish to\nperform the operation on.","parameters":[],"requestBody":{"description":"Edit webhook request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchRequest"}}},"required":true},"responses":{"200":{"description":"The webhook","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HookResponse-enriched"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["write:device"]}]},"parameters":[{"name":"organizationId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"userGroupId","in":"query","schema":{"type":"string","format":"uuid"},"description":"Use `accountId`","required":false,"deprecated":true},{"name":"accountId","in":"query","schema":{"type":"string","format":"uuid"},"required":true,"deprecated":false},{"name":"hookId","in":"path","schema":{"type":"string","format":"uuid"},"required":true,"deprecated":false}]},"/v1/organizations":{"get":{"tags":["Organizations"],"summary":"Organizations list","description":"Get all available organizations","parameters":[],"responses":{"200":{"description":"List of organizations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetOrganizationsResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[{"AirthingsAccounts":["read:device"]}]},"parameters":[]},"//v1/thresholds":{"get":{"tags":["Thresholds"],"summary":"Device thresholds","description":"Get threshold values for a device's sensors","parameters":[],"responses":{"200":{"description":"Sensor thresholds","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SensorsThresholdResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false,"security":[]},"parameters":[{"name":"measurementSystem","in":"query","schema":{"type":"string","enum":["US","METRIC"],"description":"Measurement unit preference. Defaults to `METRIC`"},"required":false,"deprecated":false},{"name":"radonUnit","in":"query","schema":{"type":"string","enum":["pci","bq"]},"required":false,"deprecated":false},{"name":"tempUnit","in":"query","schema":{"type":"string","enum":["c","f"]},"required":false,"deprecated":false},{"name":"pressureUnit","in":"query","schema":{"type":"string","enum":["hpa","inhg"]},"required":false,"deprecated":false},{"name":"vocUnit","in":"query","schema":{"type":"string","enum":["ppb","mgpc"]},"required":false,"deprecated":false}]}},"webhooks":{},"components":{"schemas":{"WebhookId":{"type":"string","format":"uuid"},"LocationId":{"type":"string","format":"uuid"},"OrganizationId":{"type":"string","format":"uuid"},"SegmentId":{"type":"string","format":"uuid"},"SegmentGroupId":{"type":"string","format":"uuid"},"SerialNumber":{"type":"string","maxLength":10,"minLength":10},"UserId":{"type":"string","format":"uuid"},"UserGroupId":{"type":"string","format":"uuid"},"LocalTime":{"type":"string","format":"time"},"LocalDateTime":{"type":"string","format":"date-time"},"ZoneOffset":{"type":"string","format":"date-time"},"ZonedDateTime":{"type":"string","format":"date-time"},"SensorType":{"type":"string","enum":["radonShortTermAvg","radonLongTermAvg","temp","outdoorTemp","humidity","outdoorHumidity","co2","voc","pressure","outdoorPressure","pressureDifference","light","lux","batteryPercentage","batteryVoltage","orientation","pm1","outdoorPm1","pm25","outdoorPm25","pm10","outdoorPm10","mold","staleAir","transmissionEfficiency","virusSurvivalRate","virusRisk","windSpeed","windDirection","windGust","dewPoint","cloudCover","visibility","precipitation_probability","total_precipitation","outdoorWeather","hourlyRadonStandardDeviation","hourlyRadon","historicVentilationConfidence","daytimeBaseline","daytimePeak","nightBaseline","historicVentilation","ventilationRunningConfidence","occupantsUpper","occupantsLower","presence","occupants","relativeOccupants","ventilationAmount","historicVentilationRunning","ventilationRunning","ventilationAmountRelative","airExchangeRateUpper","airExchangeRateLower","airExchangeRate","aggregated","sla","controlSignal","controlStatus","returnState","messages","inletAirControl","bacnet"]},"HookSensorUnits":{"type":"object","format":"string","properties":{"radonUnit":{"type":"string","enum":["pci","bq"]},"tempUnit":{"type":"string","enum":["c","f"]},"pressureUnit":{"type":"string","enum":["hpa","inhg"]},"vocUnit":{"type":"string","enum":["ppb","mgpc"]}}},"Map-Day-LocationUsage":{"type":"object","format":"UsageHours","properties":{"monday":{"type":"object","format":"LocationUsage","properties":{"from":{"oneOf":[{"type":"null"},{"type":"string","format":"time"}]},"to":{"oneOf":[{"type":"null"},{"type":"string","format":"time"}]},"closed":{"type":"boolean"}}},"tuesday":{"type":"object","format":"LocationUsage","properties":{"from":{"oneOf":[{"type":"null"},{"type":"string","format":"time"}]},"to":{"oneOf":[{"type":"null"},{"type":"string","format":"time"}]},"closed":{"type":"boolean"}}},"wednesday":{"type":"object","format":"LocationUsage","properties":{"from":{"oneOf":[{"type":"null"},{"type":"string","format":"time"}]},"to":{"oneOf":[{"type":"null"},{"type":"string","format":"time"}]},"closed":{"type":"boolean"}}},"thursday":{"type":"object","format":"LocationUsage","properties":{"from":{"oneOf":[{"type":"null"},{"type":"string","format":"time"}]},"to":{"oneOf":[{"type":"null"},{"type":"string","format":"time"}]},"closed":{"type":"boolean"}}},"friday":{"type":"object","format":"LocationUsage","properties":{"from":{"oneOf":[{"type":"null"},{"type":"string","format":"time"}]},"to":{"oneOf":[{"type":"null"},{"type":"string","format":"time"}]},"closed":{"type":"boolean"}}},"saturday":{"type":"object","format":"LocationUsage","properties":{"from":{"oneOf":[{"type":"null"},{"type":"string","format":"time"}]},"to":{"oneOf":[{"type":"null"},{"type":"string","format":"time"}]},"closed":{"type":"boolean"}}},"sunday":{"type":"object","format":"LocationUsage","properties":{"from":{"oneOf":[{"type":"null"},{"type":"string","format":"time"}]},"to":{"oneOf":[{"type":"null"},{"type":"string","format":"time"}]},"closed":{"type":"boolean"}}}}},"GetAccountsResponse":{"type":"object","properties":{"accounts":{"items":{"$ref":"#/components/schemas/GetAccountResponse"},"type":"array"}},"required":["accounts"]},"GetAccountResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"oneOf":[{"type":"null"},{"type":"string"}]}},"required":["id"]},"ErrorResponse":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/Code"},"error_code":{"oneOf":[{"type":"null"},{"type":"number","format":"int32"}]},"error_description":{"type":"string"}},"required":["error","error_description"]},"Code":{"type":"string","enum":["invalid_request","invalid_request_clients_limit_exceeded","access_denied","valid_subscription_required","device_not_supported","invalid_parameter","not_found","internal_server_error","device_invalid_check_code","device_mac_not_found","unable_to_register_device","location_not_found","segment_does_not_belong_to_user","no_access_to_resource","missing_location_properties_for_report","access_denied_device_does_not_belong_to_user","access_denied_location_does_not_belong_to_user","radio_region_is_not_supported","max_number_of_devices_reached","unable_to_create_location"]},"GetDevicesResponse":{"type":"object","properties":{"devices":{"items":{"$ref":"#/components/schemas/GetDeviceDetailedResponse"},"type":"array"},"limit":{"oneOf":[{"type":"null"},{"type":"number","format":"int32"}]},"offset":{"oneOf":[{"type":"null"},{"type":"number","format":"int32"}]},"total":{"oneOf":[{"type":"null"},{"type":"number","format":"int32"}]}},"required":["devices"]},"GetDeviceDetailedResponse":{"type":"object","properties":{"deviceType":{"$ref":"#/components/schemas/DeviceType"},"id":{"type":"string","maxLength":10,"minLength":10},"location":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/LocationSimpleResponse"}]},"productName":{"type":"string"},"segment":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/SegmentSimpleResponse"}]},"sensors":{"items":{"type":"string","enum":["radonShortTermAvg","radonLongTermAvg","temp","outdoorTemp","humidity","outdoorHumidity","co2","voc","pressure","outdoorPressure","pressureDifference","light","lux","batteryPercentage","batteryVoltage","orientation","pm1","outdoorPm1","pm25","outdoorPm25","pm10","outdoorPm10","mold","staleAir","transmissionEfficiency","virusSurvivalRate","virusRisk","windSpeed","windDirection","windGust","dewPoint","cloudCover","visibility","precipitation_probability","total_precipitation","outdoorWeather","hourlyRadonStandardDeviation","hourlyRadon","historicVentilationConfidence","daytimeBaseline","daytimePeak","nightBaseline","historicVentilation","ventilationRunningConfidence","occupantsUpper","occupantsLower","presence","occupants","relativeOccupants","ventilationAmount","historicVentilationRunning","ventilationRunning","ventilationAmountRelative","airExchangeRateUpper","airExchangeRateLower","airExchangeRate","aggregated","sla","controlSignal","controlStatus","returnState","messages","inletAirControl","bacnet"]},"type":"array"}},"required":["deviceType","id","productName","sensors"]},"DeviceType":{"type":"string","enum":["WAVE","WAVE_MIST","WAVE_GEN2","WAVE_MINI","WAVE_PLUS","WAVE_CO2","VIEW_PLUS","VIEW_PLUS_BUSINESS","VIEW_POLLUTION","VIEW_RADON","VIEW_CO2","SPACE_CO2_MINI","WAVE_NANO","WAVE_ENHANCE","HUB","HOME","HOME_COLIBRI","PRO","AGGREGATED_GROUP","INLET_AIR_CONTROL","BREEZOMETER_WEATHER","BACNET","AP_1","RAVEN_RADON","RAVEN_CO2","UNKNOWN"]},"LocationSimpleResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"}},"required":["id","name"]},"SegmentSimpleResponse":{"type":"object","properties":{"active":{"type":"boolean"},"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"started":{"type":"string","format":"date-time"}},"required":["active","id","name","started"]},"UpdateDevicesRequest":{"type":"object","properties":{"updates":{"items":{"$ref":"#/components/schemas/UpdateDeviceInput"},"type":"array"}},"required":["updates"]},"UpdateDeviceInput":{"type":"object","properties":{"name":{"oneOf":[{"type":"null"},{"type":"string"}]},"serialNumber":{"type":"string","maxLength":10,"minLength":10}},"required":["serialNumber"]},"BatteryResponse":{"type":"object","properties":{"data":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/BatteryResponseData"}]},"id":{"type":"string","maxLength":10,"minLength":10}},"required":["id"]},"BatteryResponseData":{"type":"object","properties":{"batteryChanged":{"oneOf":[{"type":"null"},{"type":"string","format":"date-time"}]},"batteryLevel":{"items":{"type":"number","format":"int32"},"type":"array"},"batteryType":{"$ref":"#/components/schemas/BatteryType"},"time":{"items":{"type":"number","format":"int64"},"type":"array"}},"required":["batteryLevel","batteryType","time"]},"BatteryType":{"type":"string","enum":["ALKALINE","LITHIUM","UNKNOWN"]},"SingleBatteryResponse":{"type":"object","properties":{"data":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/SingleBatteryResponseData"}]},"id":{"type":"string","maxLength":10,"minLength":10}},"required":["id"]},"SingleBatteryResponseData":{"type":"object","properties":{"batteryChanged":{"oneOf":[{"type":"null"},{"type":"string","format":"date-time"}]},"batteryLevel":{"type":"number","format":"int32"},"batteryType":{"$ref":"#/components/schemas/BatteryType"},"time":{"type":"number","format":"int64"}},"required":["batteryLevel","batteryType","time"]},"LatestSampleResponse-enriched":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/LatestSampleData-enriched","description":"object with single sample values"}},"required":["data"]},"LatestSampleData-enriched":{"type":"object","properties":{"airExchangeRate":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}],"description":"air changes per hour (ACH)"},"airflow":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}],"description":"cubic meters per hour (m³/h) by default and gets converted to cubic feet per minute (CFM) if the user has set the unit preference to imperial"},"battery":{"oneOf":[{"type":"null"},{"type":"number","format":"int32"}]},"co2":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"controlSignal":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"hourlyRadon":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"humidity":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"light":{"oneOf":[{"type":"null"},{"type":"number","format":"int32"}]},"lux":{"oneOf":[{"type":"null"},{"type":"number","format":"float"}]},"mold":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"occupants":{"oneOf":[{"type":"null"},{"type":"number","format":"int32"}]},"occupantsLower":{"oneOf":[{"type":"null"},{"type":"number","format":"int32"}]},"occupantsUpper":{"oneOf":[{"type":"null"},{"type":"number","format":"int32"}]},"pm1":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"pm10":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"pm25":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"pressure":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"radonShortTermAvg":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"relayDeviceType":{"oneOf":[{"type":"null"},{"type":"string"}]},"rssi":{"oneOf":[{"type":"null"},{"type":"number","format":"int32"}]},"sla":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"temp":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"time":{"oneOf":[{"type":"null"},{"type":"number","format":"int32"}],"description":"timestamp of samples sent by the device"},"virusRisk":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"voc":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]}},"required":[]},"SamplesResponse":{"type":"object","properties":{"cursor":{"oneOf":[{"type":"null"},{"type":"string"}]},"data":{"$ref":"#/components/schemas/SampleData"},"end":{"type":"string","format":"date-time"},"measurementSystem":{"$ref":"#/components/schemas/MeasurementSystem"},"start":{"type":"string","format":"date-time"}},"required":["data","end","measurementSystem","start"]},"SampleData":{"type":"object","properties":{"airExchangeRate":{"oneOf":[{"type":"null"},{"items":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"type":"array"}]},"airflow":{"oneOf":[{"type":"null"},{"items":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"type":"array"}]},"co2":{"oneOf":[{"type":"null"},{"items":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"type":"array"}]},"controlSignal":{"oneOf":[{"type":"null"},{"items":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"type":"array"}]},"hourlyRadon":{"oneOf":[{"type":"null"},{"items":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"type":"array"}]},"humidity":{"oneOf":[{"type":"null"},{"items":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"type":"array"}]},"light":{"oneOf":[{"type":"null"},{"items":{"oneOf":[{"type":"null"},{"type":"number","format":"int32"}]},"type":"array"}]},"lux":{"oneOf":[{"type":"null"},{"items":{"oneOf":[{"type":"null"},{"type":"number","format":"float"}]},"type":"array"}]},"mold":{"oneOf":[{"type":"null"},{"items":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"type":"array"}]},"occupants":{"oneOf":[{"type":"null"},{"items":{"oneOf":[{"type":"null"},{"type":"number","format":"int32"}]},"type":"array"}]},"occupantsLower":{"oneOf":[{"type":"null"},{"items":{"oneOf":[{"type":"null"},{"type":"number","format":"int32"}]},"type":"array"}]},"occupantsUpper":{"oneOf":[{"type":"null"},{"items":{"oneOf":[{"type":"null"},{"type":"number","format":"int32"}]},"type":"array"}]},"pm1":{"oneOf":[{"type":"null"},{"items":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"type":"array"}]},"pm10":{"oneOf":[{"type":"null"},{"items":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"type":"array"}]},"pm25":{"oneOf":[{"type":"null"},{"items":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"type":"array"}]},"pressure":{"oneOf":[{"type":"null"},{"items":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"type":"array"}]},"radonShortTermAvg":{"oneOf":[{"type":"null"},{"items":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"type":"array"}]},"sla":{"oneOf":[{"type":"null"},{"items":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"type":"array"}]},"temp":{"oneOf":[{"type":"null"},{"items":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"type":"array"}]},"time":{"items":{"type":"number","format":"int32"},"type":"array"},"virusRisk":{"oneOf":[{"type":"null"},{"items":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"type":"array"}]},"voc":{"oneOf":[{"type":"null"},{"items":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"type":"array"}]}},"required":["time"]},"MeasurementSystem":{"type":"string","enum":["US","METRIC"]},"HourlyRadonResponse":{"type":"object","properties":{"cursor":{"oneOf":[{"type":"null"},{"type":"string"}]},"data":{"$ref":"#/components/schemas/HourlyRadonResponseData"},"end":{"type":"string","format":"date-time"},"measurementSystem":{"$ref":"#/components/schemas/MeasurementSystem"},"start":{"type":"string","format":"date-time"}},"required":["data","end","measurementSystem","start"]},"HourlyRadonResponseData":{"type":"object","properties":{"hourlyRadon":{"oneOf":[{"type":"null"},{"items":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"type":"array"}]},"time":{"items":{"type":"string"},"type":"array"}},"required":["time"]},"MoldResponse":{"type":"object","properties":{"cursor":{"oneOf":[{"type":"null"},{"type":"string"}]},"data":{"$ref":"#/components/schemas/MoldResponseData"},"end":{"type":"string","format":"date-time"},"measurementSystem":{"$ref":"#/components/schemas/MeasurementSystem"},"start":{"type":"string","format":"date-time"}},"required":["data","end","measurementSystem","start"]},"MoldResponseData":{"type":"object","properties":{"mold":{"oneOf":[{"type":"null"},{"items":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"type":"array"}]},"time":{"items":{"type":"string"},"type":"array"}},"required":["time"]},"VirusRiskResponse":{"type":"object","properties":{"cursor":{"oneOf":[{"type":"null"},{"type":"string"}]},"data":{"$ref":"#/components/schemas/VirusRiskResponseData"},"end":{"type":"string","format":"date-time"},"measurementSystem":{"$ref":"#/components/schemas/MeasurementSystem"},"start":{"type":"string","format":"date-time"}},"required":["data","end","measurementSystem","start"]},"VirusRiskResponseData":{"type":"object","properties":{"time":{"items":{"type":"string"},"type":"array"},"virusRisk":{"oneOf":[{"type":"null"},{"items":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"type":"array"}]}},"required":["time"]},"OccupancyResponse":{"type":"object","properties":{"cursor":{"oneOf":[{"type":"null"},{"type":"string"}]},"data":{"$ref":"#/components/schemas/OccupancyData"},"end":{"type":"string","format":"date-time"},"measurementSystem":{"$ref":"#/components/schemas/MeasurementSystem"},"start":{"type":"string","format":"date-time"}},"required":["data","end","measurementSystem","start"]},"OccupancyData":{"type":"object","properties":{"occupants":{"oneOf":[{"type":"null"},{"items":{"oneOf":[{"type":"null"},{"type":"number","format":"int32"}]},"type":"array"}]},"occupantsLower":{"oneOf":[{"type":"null"},{"items":{"oneOf":[{"type":"null"},{"type":"number","format":"int32"}]},"type":"array"}]},"occupantsUpper":{"oneOf":[{"type":"null"},{"items":{"oneOf":[{"type":"null"},{"type":"number","format":"int32"}]},"type":"array"}]},"time":{"items":{"type":"string"},"type":"array"}},"required":["time"]},"VentilationResponse-enriched":{"type":"object","properties":{"cursor":{"oneOf":[{"type":"null"},{"type":"string"}]},"data":{"$ref":"#/components/schemas/VentilationData-enriched"},"end":{"type":"string","format":"date-time"},"measurementSystem":{"$ref":"#/components/schemas/MeasurementSystem"},"start":{"type":"string","format":"date-time"}},"required":["data","end","measurementSystem","start"]},"VentilationData-enriched":{"type":"object","properties":{"airExchangeRate":{"oneOf":[{"type":"null"},{"items":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"type":"array"}],"description":"values in air changes per hour (ACH)"},"airflow":{"oneOf":[{"type":"null"},{"items":{"oneOf":[{"type":"null"},{"type":"number","format":"double"}]},"type":"array"}],"description":"values in cubic meters per hour (m³/h)"},"time":{"items":{"type":"string"},"type":"array"}},"required":["time"]},"GetThresholdBreachesResponse":{"type":"object","properties":{"breaches":{"items":{"$ref":"#/components/schemas/ThresholdBreach"},"type":"array"},"deviceId":{"type":"string","maxLength":10,"minLength":10}},"required":["breaches","deviceId"]},"ThresholdBreach":{"type":"object","properties":{"recorded":{"type":"string","format":"date-time"},"sensorType":{"$ref":"#/components/schemas/SensorType"},"sensorUnit":{"$ref":"#/components/schemas/SensorUnit"},"sensorValue":{"type":"number","format":"double"},"thresholdLevel":{"$ref":"#/components/schemas/ThresholdLevel"}},"required":["recorded","sensorType","sensorUnit","sensorValue","thresholdLevel"]},"SensorUnit":{"type":"string","enum":["CELSIUS","FAHRENHEIT","MILLIBAR","PASCAL","HECTOPASCAL","INCHES_OF_MERCURY","BECQUEREL","PICOCURIE","PERCENT","VOLT","MILLIVOLT","PARTS_PER_MILLION","PARTS_PER_BILLION","ANGLE","MICRO_GRAM_PER_CUBIC","METERS","KILOMETERS","KILOMETERS_PER_HOUR","KILOWATTS","MILES_PER_HOUR","RISK_INDEX","CONTROL_SIGNAL","SOUND_PRESSURE","WEATHER_CODE","CUBIC_METER_PER_HOUR","CONFIDENCE","VENTILATION_STATE","SECONDS","MINUTES","INFO","MILLIMETERS","DECIBEL_MILLIWATTS","OCCUPANTS","AIR_CHANGES_PER_HOUR","LUX","CUBIC_FEET_PER_MINUTE","FEET"]},"ThresholdLevel":{"type":"string","enum":["high","low","normal","lowWarn","highWarn","unknown"]},"PatchDeviceLabelsRequestUpsertDocs":{"type":"object","properties":{"items":{"items":{"$ref":"#/components/schemas/PatchDeviceLabelItemUpsert"},"type":"array"},"operation":{"$ref":"#/components/schemas/PatchDeviceLabelOperationUpsertDocs"}},"required":["items","operation"]},"PatchDeviceLabelItemUpsert":{"type":"object","properties":{"name":{"type":"string"},"serialNumber":{"type":"string","maxLength":10,"minLength":10},"value":{"type":"string"}},"required":["name","serialNumber","value"]},"PatchDeviceLabelOperationUpsertDocs":{"type":"string","enum":["UPSERT"]},"SegmentsResponse":{"type":"object","properties":{"segments":{"items":{"$ref":"#/components/schemas/SegmentResponse"},"type":"array"}},"required":["segments"]},"SegmentResponse":{"type":"object","properties":{"deviceId":{"oneOf":[{"type":"null"},{"type":"string","maxLength":10,"minLength":10}]},"ended":{"oneOf":[{"type":"null"},{"type":"string","format":"date-time"}]},"id":{"type":"string","format":"uuid"},"labels":{"additionalProperties":{"type":"string"},"type":"object"},"location":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/LocationSimpleResponse"}]},"name":{"type":"string"},"started":{"type":"string","format":"date-time"}},"required":["id","labels","name","started"]},"GetLocationsResponse":{"type":"object","properties":{"locations":{"items":{"$ref":"#/components/schemas/LocationResponse"},"type":"array"}},"required":["locations"]},"LocationResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"labels":{"additionalProperties":{"type":"string"},"type":"object"},"name":{"type":"string"}},"required":["id","labels","name"]},"AddLocationResponse":{"type":"object","properties":{"locationId":{"type":"string","format":"uuid"}},"required":["locationId"]},"AddLocationRequest-enriched":{"type":"object","properties":{"address":{"oneOf":[{"type":"null"},{"type":"string"}]},"buildingHeight":{"oneOf":[{"type":"null"},{"type":"number","format":"float"}],"description":"In meter(m)"},"buildingSize":{"oneOf":[{"type":"null"},{"type":"number","format":"float"}],"description":"In square meter(m²)"},"buildingType":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/BuildingType"}]},"buildingVolume":{"oneOf":[{"type":"null"},{"type":"number","format":"float"}],"description":"In cubic meter(m³)"},"buildingYear":{"oneOf":[{"type":"null"},{"type":"number","format":"int32"}]},"floors":{"oneOf":[{"type":"null"},{"type":"number","format":"int32"}]},"lat":{"type":"number","format":"double","maximum":90,"minimum":-90},"lng":{"type":"number","format":"double","maximum":180,"minimum":-180},"name":{"type":"string"},"timezone":{"oneOf":[{"type":"null"},{"type":"string"}],"description":"Timezone identifier"},"usageHours":{"$ref":"#/components/schemas/Map-Day-LocationUsage"},"ventilationType":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/VentilationType"}]}},"required":["lat","lng","name"]},"BuildingType":{"type":"string","enum":["SCHOOL","RESIDENTIAL","APARTMENT","KINDERGARTEN","HEALTHCENTER","OFFICE","OTHER"]},"VentilationType":{"type":"string","enum":["NATURAL","MECHANICAL","BALANCED"]},"GetLocationResponse":{"type":"object","properties":{"address":{"oneOf":[{"type":"null"},{"type":"string"}]},"buildingHeight":{"oneOf":[{"type":"null"},{"type":"number","format":"float"}]},"buildingSize":{"oneOf":[{"type":"null"},{"type":"number","format":"float"}]},"buildingType":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/BuildingType"}]},"buildingVolume":{"oneOf":[{"type":"null"},{"type":"number","format":"float"}]},"buildingYear":{"oneOf":[{"type":"null"},{"type":"number","format":"int32"}]},"countryCode":{"oneOf":[{"type":"null"},{"type":"string"}]},"devices":{"items":{"$ref":"#/components/schemas/DeviceSimpleResponse"},"type":"array"},"floors":{"oneOf":[{"type":"null"},{"type":"number","format":"int32"}]},"id":{"type":"string","format":"uuid"},"labels":{"additionalProperties":{"type":"string"},"type":"object"},"lat":{"type":"number","format":"float"},"lng":{"type":"number","format":"float"},"name":{"type":"string"},"timezone":{"oneOf":[{"type":"null"},{"type":"string"}]},"usageHours":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/Map-Day-LocationUsage"}]},"ventilationType":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/VentilationType"}]}},"required":["devices","id","labels","lat","lng","name"]},"DeviceSimpleResponse":{"type":"object","properties":{"deviceType":{"$ref":"#/components/schemas/DeviceType"},"id":{"type":"string","maxLength":10,"minLength":10},"productName":{"type":"string"},"segment":{"$ref":"#/components/schemas/SegmentSimpleResponse"}},"required":["deviceType","id","productName","segment"]},"GetLocationSamplesResponse-enriched":{"type":"object","properties":{"devices":{"items":{"$ref":"#/components/schemas/DeviceSampleResponse-enriched"},"description":"list of devices in the location","type":"array"},"id":{"type":"string","format":"uuid"},"name":{"type":"string"}},"required":["devices","id","name"]},"DeviceSampleResponse-enriched":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/LatestSampleData-enriched","description":"latest sample data for the device"},"id":{"type":"string","maxLength":10,"minLength":10},"segment":{"$ref":"#/components/schemas/SegmentSimpleResponse"}},"required":["data","id","segment"]},"AddDeviceToLocationResponse":{"type":"object","properties":{"locationId":{"type":"string","format":"uuid"},"name":{"type":"string"},"serialNumber":{"type":"string","maxLength":10,"minLength":10}},"required":["locationId","name","serialNumber"]},"AddDeviceRequest-enriched":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"serialNumber":{"type":"string","maxLength":10,"minLength":10}},"required":["id","name","serialNumber"]},"GetWebhooksResponse-enriched":{"type":"object","properties":{"webhooks":{"items":{"$ref":"#/components/schemas/HookResponse-enriched"},"description":"List of webhooks","type":"array"}},"required":["webhooks"]},"HookResponse-enriched":{"type":"object","properties":{"active":{"type":"boolean"},"devices":{"items":{"$ref":"#/components/schemas/GetDeviceDetailedResponse"},"deprecated":true,"description":"List of devices the webhook is subscribed to (deprecated, use locations instead)","type":"array"},"eventTypes":{"items":{"type":"string"},"type":"array"},"headers":{"additionalProperties":{"type":"string"},"type":"object"},"id":{"type":"string","format":"uuid"},"labels":{"additionalProperties":{"type":"string"},"type":"object"},"locations":{"items":{"$ref":"#/components/schemas/LocationResponse"},"description":"List of locations the webhook is subscribed to","type":"array"},"mostRecentEvent":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/HookEvent"}]},"name":{"type":"string"},"sensorUnits":{"$ref":"#/components/schemas/HookSensorUnits"},"subscribedToAll":{"type":"boolean","description":"Webhook subscribes to all devices in all locations, including devices and locations that are added in the future"},"url":{"type":"string"}},"required":["active","devices","eventTypes","headers","id","labels","locations","name","sensorUnits","subscribedToAll","url"]},"HookEvent":{"type":"object","properties":{"completedAt":{"oneOf":[{"type":"null"},{"type":"string","format":"date-time"}]},"correlationId":{"type":"string"},"createdAt":{"oneOf":[{"type":"null"},{"type":"string","format":"date-time"}]},"hookId":{"type":"string","format":"uuid"},"statusCode":{"oneOf":[{"type":"null"},{"type":"number","format":"int32"}]},"updatedAt":{"oneOf":[{"type":"null"},{"type":"string","format":"date-time"}]},"url":{"type":"string"}},"required":["correlationId","hookId","url"]},"AddHookRequest-enriched":{"type":"object","properties":{"active":{"type":"boolean"},"devices":{"items":{"type":"string","maxLength":10,"minLength":10},"deprecated":true,"description":"List of device serial numbers to subscribe to (deprecated, use locations instead)","type":"array"},"eventTypes":{"oneOf":[{"type":"null"},{"items":{"type":"string"},"type":"array"}]},"headers":{"oneOf":[{"type":"null"},{"additionalProperties":{"type":"string"},"type":"object"}]},"labels":{"oneOf":[{"type":"null"},{"additionalProperties":{"type":"string"},"type":"object"}]},"locations":{"items":{"type":"string","format":"uuid"},"description":"List of location IDs to subscribe to (needs to be empty if subscribedToAll is set true)","type":"array"},"name":{"type":"string"},"sensorUnits":{"$ref":"#/components/schemas/HookSensorUnits"},"subscribedToAll":{"type":"boolean","description":"Subscribe to all devices in all locations, including devices and locations that are added in the future"},"url":{"type":"string"}},"required":["name","url"]},"PatchRequest":{"type":"object","properties":{"operations":{"items":{"$ref":"#/components/schemas/PatchOperation"},"type":"array"}},"required":["operations"]},"PatchOperation":{"type":"object","properties":{},"required":[]},"GetOrganizationsResponse":{"type":"object","properties":{"organizations":{"items":{"$ref":"#/components/schemas/GetOrganizationResponse"},"type":"array"}},"required":["organizations"]},"GetOrganizationResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"oneOf":[{"type":"null"},{"type":"string"}]},"userGroupId":{"type":"string","format":"uuid"}},"required":["id","userGroupId"]},"SensorsThresholdResponse":{"type":"object","properties":{"thresholds":{"additionalProperties":{"$ref":"#/components/schemas/SensorThreshold"},"type":"object"}},"required":["thresholds"]},"SensorThreshold":{"type":"object","properties":{"ranges":{"items":{"$ref":"#/components/schemas/ThresholdRange"},"type":"array"},"type":{"$ref":"#/components/schemas/SensorType"},"unit":{"$ref":"#/components/schemas/SensorUnit"}},"required":["ranges","type","unit"]},"ThresholdRange":{"type":"object","properties":{"from":{"oneOf":[{"type":"null"},{"type":"number","format":"int32"}]},"rating":{"$ref":"#/components/schemas/SensorRangeRating"},"to":{"oneOf":[{"type":"null"},{"type":"number","format":"int32"}]}},"required":["rating"]},"SensorRangeRating":{"type":"string","enum":["POOR","FAIR","GOOD"]}},"securitySchemes":{"AirthingsAccounts":{"flows":{"authorizationCode":{"authorizationUrl":"https://accounts.airthings.com/authorize","tokenUrl":"https://accounts-api.airthings.com/v1/token","scopes":{"read:device":"Allowing a user to read data from devices in their account","write:device":"Allowing a user to manage devices within their account"}},"clientCredentials":{"tokenUrl":"https://accounts-api.airthings.com/v1/token","scopes":{"read:device":"Allowing a user to read data from devices in their account","write:device":"Allowing a user to manage devices within their account"}}},"type":"oauth2"}}},"security":[{"AirthingsAccounts":[]}],"tags":[{"name":"Accounts"},{"name":"Devices"},{"name":"Locations"},{"name":"Organizations"},{"name":"Segments"},{"name":"Thresholds"},{"name":"Webhooks"}]}