{
  "openapi": "3.0.0",
  "info": {
    "title": "Recranet Booking API",
    "description": "The **Recranet Booking API** is the main API to access all features of [Recranet Booking](https://recranet.com/en/reservation-software).",
    "contact": {
      "name": "Recranet Support",
      "url": "https://recranet.com",
      "email": "support@recranet.com"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.recranet.com"
    }
  ],
  "paths": {
    "/api/access_locks/": {
      "get": {
        "tags": ["AccessLock"],
        "summary": "Get AccessLock entities.",
        "operationId": "get_api_access_locks_index",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccessLock"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["AccessLock"],
        "summary": "Create ReservationAccessLock entity.",
        "operationId": "post_api_access_locks_create",
        "parameters": [
          {
            "name": "locale",
            "in": "query",
            "description": "Locale",
            "schema": {
              "type": "string",
              "example": "en"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "type": "string",
                    "example": "Access lock for Zandsteeg 58"
                  },
                  "public": {
                    "type": "boolean"
                  },
                  "active": {
                    "type": "boolean"
                  },
                  "accommodationUnit": {
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": "1000"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccessLock"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 400,
                  "description": "Bad request",
                  "errors": ["Bad request"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 404,
                  "description": "Not found",
                  "errors": ["Not found"]
                }
              }
            }
          }
        }
      }
    },
    "/api/access_locks/{id}": {
      "get": {
        "tags": ["AccessLock"],
        "summary": "Show AccessLock entity.",
        "operationId": "get_api_access_locks_show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccessLock"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 404,
                  "description": "Not found",
                  "errors": ["Not found"]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["AccessLock"],
        "summary": "Update ReservationAccessLock entity.",
        "operationId": "put_api_access_locks_update",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Locale",
            "schema": {
              "type": "string",
              "example": "en"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "type": "string",
                    "example": "Access Lock"
                  },
                  "public": {
                    "type": "boolean"
                  },
                  "active": {
                    "type": "boolean"
                  },
                  "accommodationUnit": {
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": "1000"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccessLock"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 404,
                  "description": "Not found",
                  "errors": ["Not found"]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["AccessLock"],
        "summary": "Delete ReservationAccessLock entity.",
        "operationId": "delete_api_access_locks_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 404,
                  "description": "Not found",
                  "errors": ["Not found"]
                }
              }
            }
          }
        }
      }
    },
    "/api/access_locks/{accessLockId}/translations/": {
      "get": {
        "tags": ["AccessLockTranslation"],
        "summary": "Get AccessLockTranslation entities.",
        "operationId": "get_api_access_lock_translations_index",
        "parameters": [
          {
            "name": "accessLockId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Locale",
            "schema": {
              "type": "string",
              "example": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccessLock"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["AccessLockTranslation"],
        "summary": "Create AccessLockTranslation entity.",
        "operationId": "post_api_access_lock_translations_create",
        "parameters": [
          {
            "name": "accessLockId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Locale",
            "schema": {
              "type": "string",
              "example": "en"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "type": "string",
                    "example": "Access Lock"
                  },
                  "active": {
                    "type": "boolean"
                  },
                  "accessLock": {
                    "required": ["id"],
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": "1000"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccessLock"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 400,
                  "description": "Bad request",
                  "errors": ["Bad request"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 404,
                  "description": "Not found",
                  "errors": ["Not found"]
                }
              }
            }
          }
        }
      }
    },
    "/api/access_locks/{accessLockId}/translations/{id}": {
      "put": {
        "tags": ["AccessLockTranslation"],
        "summary": "Update AccessLockTranslation entity.",
        "operationId": "put_api_access_lock_translations_update",
        "parameters": [
          {
            "name": "accessLockId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Locale",
            "schema": {
              "type": "string",
              "example": "en"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "type": "string",
                    "example": "Access Lock"
                  },
                  "public": {
                    "type": "boolean"
                  },
                  "active": {
                    "type": "boolean"
                  },
                  "AccessLock": {
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1000
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccessLock"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 400,
                  "description": "Bad request",
                  "errors": ["Bad request"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 404,
                  "description": "Not found",
                  "errors": ["Not found"]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["AccessLockTranslation"],
        "summary": "Delete AccessLockTranslation entity.",
        "operationId": "delete_api_access_lock_translations_delete",
        "parameters": [
          {
            "name": "accessLockId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Locale",
            "schema": {
              "type": "string",
              "example": "en"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 404,
                  "description": "Not found",
                  "errors": ["Not found"]
                }
              }
            }
          }
        }
      }
    },
    "/api/accommodation_categories/": {
      "get": {
        "tags": ["AccommodationCategory"],
        "summary": "Get AccommodationCategory entities.",
        "operationId": "get_api_accommodation_categories",
        "parameters": [
          {
            "name": "organization",
            "in": "query",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Locale",
            "schema": {
              "type": "string",
              "example": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccommodationCategory"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 400,
                  "description": "Bad request",
                  "errors": ["Bad request"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 404,
                  "description": "Not found",
                  "errors": ["Not found"]
                }
              }
            }
          }
        }
      }
    },
    "/api/accommodation_categories/{id}": {
      "get": {
        "tags": ["AccommodationCategory"],
        "summary": "Show AccommodationCategory entity.",
        "operationId": "get_api_accommodation_categories_show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationCategory"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 400,
                  "description": "Bad request",
                  "errors": ["Bad request"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 404,
                  "description": "Not found",
                  "errors": ["Not found"]
                }
              }
            }
          }
        }
      }
    },
    "/api/accommodations/{accommodationId}/content": {
      "get": {
        "tags": ["AccommodationContent"],
        "summary": "Show AccommodationContent entity.",
        "operationId": "get_api_accommodation_content_show",
        "parameters": [
          {
            "name": "accommodationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationContent"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["AccommodationContent"],
        "summary": "Update AccommodationContent entity.",
        "operationId": "put_api_accommodation_content_update",
        "parameters": [
          {
            "name": "accommodationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationContent"
                }
              }
            }
          }
        }
      }
    },
    "/api/accommodations/{accommodationId}/content/translations/": {
      "get": {
        "tags": ["AccommodationContentTranslation"],
        "summary": "Get AccommodationContentTranslation entities.",
        "operationId": "get_api_accommodation_content_translations_index",
        "parameters": [
          {
            "name": "accommodationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Locale",
            "schema": {
              "type": "string",
              "example": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccommodationContentTranslation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/accommodations/": {
      "get": {
        "tags": ["Accommodation"],
        "summary": "Get Accommodation entities.",
        "operationId": "get_api_accommodations_index",
        "parameters": [
          {
            "name": "organization",
            "in": "query",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Locale",
            "schema": {
              "type": "string",
              "example": "en"
            }
          },
          {
            "name": "accommodationCategory",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "accommodationUnit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "accommodationUnitFeatures[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "division",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "localityCategory",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "title",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "public",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "active",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Accommodation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 400,
                  "description": "Bad request",
                  "errors": ["Bad request"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 404,
                  "description": "Not found",
                  "errors": ["Not found"]
                }
              }
            }
          }
        }
      }
    },
    "/api/accommodations/{id}": {
      "get": {
        "tags": ["Accommodation"],
        "summary": "Show Accommodation entity.",
        "operationId": "get_api_accommodations_show",
        "parameters": [
          {
            "name": "organization",
            "in": "query",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Locale",
            "schema": {
              "type": "string",
              "example": "en"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Accommodation"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 400,
                  "description": "Bad request",
                  "errors": ["Bad request"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 404,
                  "description": "Not found",
                  "errors": ["Not found"]
                }
              }
            }
          }
        }
      }
    },
    "/api/accommodations/{accommodationId}/translations/": {
      "get": {
        "tags": ["AccommodationTranslation"],
        "summary": "Get AccommodationTranslation entities.",
        "operationId": "get_api_accommodation_translations",
        "parameters": [
          {
            "name": "accommodationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Locale",
            "schema": {
              "type": "string",
              "example": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccommodationTranslation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/accommodation_units/": {
      "get": {
        "tags": ["AccommodationUnit"],
        "summary": "Get AccommodationUnit entities.",
        "operationId": "get_api_accommodation_units",
        "parameters": [
          {
            "name": "organization",
            "in": "query",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Locale",
            "schema": {
              "type": "string",
              "example": "en"
            }
          },
          {
            "name": "number",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accommodation",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "accommodationCategory",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "localityCategory",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "accommodationUnitFeatures[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "public",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccommodationUnit"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 400,
                  "description": "Bad request",
                  "errors": ["Bad request"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 404,
                  "description": "Not found",
                  "errors": ["Not found"]
                }
              }
            }
          }
        }
      }
    },
    "/api/accommodation_units/{id}": {
      "get": {
        "tags": ["AccommodationUnit"],
        "summary": "Show AccommodationUnit entity.",
        "operationId": "get_api_accommodation_units_show",
        "parameters": [
          {
            "name": "locale",
            "in": "query",
            "description": "Locale",
            "schema": {
              "type": "string",
              "example": "en"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationUnit"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 400,
                  "description": "Bad request",
                  "errors": ["Bad request"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 404,
                  "description": "Not found",
                  "errors": ["Not found"]
                }
              }
            }
          }
        }
      }
    },
    "/api/accommodation_units/{id}/availability": {
      "put": {
        "tags": ["AccommodationUnit"],
        "summary": "Update AccommodationUnit entity availability.",
        "operationId": "put_api_accommodation_units_update_availability",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["available", "status"],
                "properties": {
                  "available": {
                    "type": "boolean",
                    "example": "true"
                  },
                  "status": {
                    "type": "string",
                    "enum": ["cleaning", "maintenance", "occupied"],
                    "example": "occupied"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationUnit"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 400,
                  "description": "Bad request",
                  "errors": ["Bad request"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 404,
                  "description": "Not found",
                  "errors": ["Not found"]
                }
              }
            }
          }
        }
      }
    },
    "/api/accommodation_unit_features/": {
      "get": {
        "tags": ["AccommodationUnitFeature"],
        "summary": "Get AccommodationUnitFeature entities.",
        "operationId": "get_api_accommodation_unit_features_index",
        "parameters": [
          {
            "name": "organization",
            "in": "query",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccommodationUnitFeature"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 400,
                  "description": "Bad request",
                  "errors": ["Bad request"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 404,
                  "description": "Not found",
                  "errors": ["Not found"]
                }
              }
            }
          }
        }
      }
    },
    "/api/accommodation_wifi_configurations/": {
      "get": {
        "tags": ["AccommodationWifiConfiguration"],
        "summary": "Get AccommodationWifiConfiguration entities.",
        "operationId": "get_api_accommodation_wifi_configurations_index",
        "parameters": [
          {
            "name": "organization",
            "in": "query",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "accommodation",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccommodationWifiConfiguration"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["AccommodationWifiConfiguration"],
        "summary": "Create AccommodationWifiConfiguration entity.",
        "operationId": "post_api_accommodation_wifi_configurations_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["securityProtocol"],
                "properties": {
                  "securityProtocol": {
                    "type": "string",
                    "enum": [
                      "open",
                      "wpa2-psk",
                      "wpa2-enterprise",
                      "wpa2-wpa3-psk",
                      "wpa2-wpa3-enterprise",
                      "wpa3-psk",
                      "wpa3-enterprise"
                    ],
                    "example": "wpa2-psk"
                  },
                  "ssid": {
                    "type": "string",
                    "example": "Recranet"
                  },
                  "psk": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccommodationWifiConfiguration"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 400,
                  "description": "Bad request",
                  "errors": ["Bad request"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 404,
                  "description": "Not found",
                  "errors": ["Not found"]
                }
              }
            }
          }
        }
      }
    },
    "/api/accommodation_wifi_configurations/{id}": {
      "get": {
        "tags": ["AccommodationWifiConfiguration"],
        "summary": "Show AccommodationWifiConfiguration entity.",
        "operationId": "get_api_accommodation_wifi_configurations_show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccommodationWifiConfiguration"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 404,
                  "description": "Not found",
                  "errors": ["Not found"]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["AccommodationWifiConfiguration"],
        "summary": "Update AccommodationWifiConfiguration entity.",
        "operationId": "put_api_accommodation_wifi_configurations_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["securityProtocol"],
                "properties": {
                  "securityProtocol": {
                    "type": "string",
                    "enum": [
                      "open",
                      "wpa2-psk",
                      "wpa2-enterprise",
                      "wpa2-wpa3-psk",
                      "wpa2-wpa3-enterprise",
                      "wpa3-psk",
                      "wpa3-enterprise"
                    ],
                    "example": "wpa2-psk"
                  },
                  "ssid": {
                    "type": "string",
                    "example": "Recranet"
                  },
                  "psk": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccommodationWifiConfiguration"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 400,
                  "description": "Bad request",
                  "errors": ["Bad request"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 404,
                  "description": "Not found",
                  "errors": ["Not found"]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["AccommodationWifiConfiguration"],
        "summary": "Delete AccommodationWifiConfiguration entity.",
        "operationId": "delete_api_accommodation_wifi_configurations_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 400,
                  "description": "Bad request",
                  "errors": ["Bad request"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 404,
                  "description": "Not found",
                  "errors": ["Not found"]
                }
              }
            }
          }
        }
      }
    },
    "/api/age_group_specifications/": {
      "get": {
        "tags": ["AgeGroupSpecification"],
        "summary": "Get AgeGroupSpecification entities.",
        "operationId": "get_api_age_group_specifications",
        "parameters": [
          {
            "name": "organization",
            "in": "query",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "accommodation",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "accommodationCategory",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "localityCategory",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "general",
            "in": "query",
            "description": "Indicates if only generally available AgeGroupSpecifications should be shown.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgeGroupSpecification"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 400,
                  "description": "Bad request",
                  "errors": ["Bad request"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 404,
                  "description": "Not found",
                  "errors": ["Not found"]
                }
              }
            }
          }
        }
      }
    },
    "/api/camping_equipment_specifications/": {
      "get": {
        "tags": ["CampingEquipmentSpecification"],
        "summary": "Get CampingEquipmentSpecification entities.",
        "operationId": "get_api_camping_equipment_specifications",
        "parameters": [
          {
            "name": "organization",
            "in": "query",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "accommodation",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CampingEquipmentSpecification"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 400,
                  "description": "Bad request",
                  "errors": ["Bad request"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 404,
                  "description": "Not found",
                  "errors": ["Not found"]
                }
              }
            }
          }
        }
      }
    },
    "/api/discount_specifications/": {
      "get": {
        "tags": ["DiscountSpecification"],
        "summary": "Get DiscountSpecification entities.",
        "operationId": "get_api_discount_specifications",
        "parameters": [
          {
            "name": "organization",
            "in": "query",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "accommodation",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "accommodationPriceComponentGroup",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DiscountSpecification"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 400,
                  "description": "Bad request",
                  "errors": ["Bad request"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 404,
                  "description": "Not found",
                  "errors": ["Not found"]
                }
              }
            }
          }
        }
      }
    },
    "/api/facilities/": {
      "get": {
        "tags": ["Facilities"],
        "summary": "Get Facility entities.",
        "operationId": "get_api_facilities",
        "parameters": [
          {
            "name": "organization",
            "in": "query",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "accommodation",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "localityCategory",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Locale",
            "schema": {
              "type": "string",
              "example": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Facility"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 400,
                  "description": "Bad request",
                  "errors": ["Bad request"]
                }
              }
            }
          }
        }
      }
    },
    "/api/facilities/filter": {
      "get": {
        "tags": ["Facilities"],
        "summary": "List Facility entities as filters.",
        "operationId": "get_api_facilities_filter",
        "parameters": [
          {
            "name": "organization",
            "in": "query",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "accommodation",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "division",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "localityCategory",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Locale",
            "schema": {
              "type": "string",
              "example": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "type": {
                        "type": "string",
                        "example": "Algemene voorzieningen"
                      },
                      "name": {
                        "type": "string",
                        "example": "nl"
                      },
                      "facilitySpecifications": {
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1
                          },
                          "type": {
                            "type": "string",
                            "example": "WIFI"
                          },
                          "name": {
                            "type": "string",
                            "example": "Wifi / Internet"
                          },
                          "numOfAccommodations": {
                            "type": "integer",
                            "example": 12
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 400,
                  "description": "Bad request",
                  "errors": ["Bad request"]
                }
              }
            }
          }
        }
      }
    },
    "/api/facility_groups/": {
      "get": {
        "tags": ["Facilities"],
        "summary": "Get FacilityGroup entities.",
        "operationId": "get_api_facility_groups",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FacilityGroup"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/guests/": {
      "get": {
        "tags": ["Guest"],
        "summary": "Get Guest entities.",
        "operationId": "get_api_guest",
        "parameters": [
          {
            "name": "organization",
            "in": "query",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "accommodation",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "accommodationCategory",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-01"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-14"
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "locality",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "membership",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "packageSpecification",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "phoneNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "postalCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referenceDate",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["date", "dateFrom", "dateTo"]
            }
          },
          {
            "name": "registrationNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscribed",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "subscribedToInformativeMessages",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "createdSince",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-01T12:00:00Z"
            }
          },
          {
            "name": "modifiedSince",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-01T12:00:00Z"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1000
                      },
                      "type": {
                        "type": "string",
                        "enum": ["business", "private"],
                        "example": "private"
                      },
                      "salutation": {
                        "type": "string",
                        "enum": ["male", "female", "male-and-female", "family"],
                        "example": "male"
                      },
                      "initials": {
                        "type": "string",
                        "example": "J."
                      },
                      "firstName": {
                        "type": "string",
                        "example": "Johnny"
                      },
                      "surname": {
                        "type": "string",
                        "example": "Cash"
                      },
                      "surnamePrefix": {
                        "type": "string",
                        "example": null
                      },
                      "email": {
                        "type": "string",
                        "example": "johnny@example.com"
                      },
                      "membership": {
                        "type": "string",
                        "example": null
                      },
                      "address": {
                        "type": "string",
                        "example": "Akkerstraat"
                      },
                      "addressNo": {
                        "type": "string",
                        "example": "143"
                      },
                      "postalCode": {
                        "type": "string",
                        "example": "5293AJ"
                      },
                      "locality": {
                        "type": "string",
                        "example": "Gemonde"
                      },
                      "country": {
                        "type": "string",
                        "example": "NL"
                      },
                      "phoneNumber": {
                        "type": "string",
                        "example": "+31612345678"
                      },
                      "phoneNumberHome": {
                        "type": "string",
                        "example": "+31118202019"
                      },
                      "phoneNumberWork": {
                        "type": "string",
                        "example": "+31118202019"
                      },
                      "birthDate": {
                        "type": "string",
                        "example": "1992-07-02T00:00:00Z"
                      },
                      "organizationName": {
                        "type": "string",
                        "example": null
                      },
                      "vatNumber": {
                        "type": "string",
                        "example": null
                      },
                      "registrationNumbers": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "example": "ABC123"
                        }
                      },
                      "iban": {
                        "type": "string",
                        "example": null
                      },
                      "ibanAccountName": {
                        "type": "string",
                        "example": null
                      },
                      "bic": {
                        "type": "string",
                        "example": null
                      },
                      "group": {
                        "type": "string",
                        "example": "nl"
                      },
                      "locale": {
                        "type": "string",
                        "example": "nl"
                      }
                    },
                    "type": "object"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 400,
                  "description": "Bad request",
                  "errors": ["Bad request"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 404,
                  "description": "Not found",
                  "errors": ["Not found"]
                }
              }
            }
          }
        }
      }
    },
    "/api/guests/{id}": {
      "get": {
        "tags": ["Guest"],
        "summary": "Show Guest entity.",
        "operationId": "get_api_guest_show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Guest"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 400,
                  "description": "Bad request",
                  "errors": ["Bad request"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 404,
                  "description": "Not found",
                  "errors": ["Not found"]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Guest"],
        "summary": "Update Guest entity.",
        "operationId": "put_api_guest_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "johnny@example.com"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Johnny"
                  },
                  "surname": {
                    "type": "string",
                    "example": "Cash"
                  },
                  "surnamePrefix": {
                    "type": "string",
                    "example": null
                  },
                  "salutation": {
                    "type": "string",
                    "enum": ["male", "female", "male-and-female", "family"],
                    "example": "male"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "example": "+31612345678"
                  },
                  "phoneNumberHome": {
                    "type": "string",
                    "example": "+31118202019"
                  },
                  "phoneNumberWork": {
                    "type": "string",
                    "example": "+31118202019"
                  },
                  "address": {
                    "type": "string",
                    "example": "Akkerstraat"
                  },
                  "addressNo": {
                    "type": "string",
                    "example": "143"
                  },
                  "postalCode": {
                    "type": "string",
                    "example": "5293AJ"
                  },
                  "locality": {
                    "type": "string",
                    "example": "Gemonde"
                  },
                  "country": {
                    "type": "string",
                    "example": "NL"
                  },
                  "locale": {
                    "type": "string",
                    "example": "nl"
                  },
                  "birthDate": {
                    "type": "string",
                    "example": "1992-07-02T00:00:00Z"
                  },
                  "membership": {
                    "type": "string",
                    "example": null
                  },
                  "iban": {
                    "type": "string",
                    "example": null
                  },
                  "ibanAccountName": {
                    "type": "string",
                    "example": null
                  },
                  "bic": {
                    "type": "string",
                    "example": null
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Guest"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 400,
                  "description": "Bad request",
                  "errors": ["Bad request"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 404,
                  "description": "Not found",
                  "errors": ["Not found"]
                }
              }
            }
          }
        }
      }
    },
    "/api/locality_categories/": {
      "get": {
        "tags": ["LocalityCategory"],
        "summary": "Get LocalityCategory entities.",
        "operationId": "get_api_locality_category",
        "parameters": [
          {
            "name": "organization",
            "in": "query",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Locale",
            "schema": {
              "type": "string",
              "example": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LocalityCategory"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 400,
                  "description": "Bad request",
                  "errors": ["Bad request"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 404,
                  "description": "Not found",
                  "errors": ["Not found"]
                }
              }
            }
          }
        }
      }
    },
    "/api/locality_categories/{id}": {
      "get": {
        "tags": ["LocalityCategory"],
        "summary": "Show LocalityCategory entity.",
        "operationId": "get_api_locality_category_show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocalityCategory"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 400,
                  "description": "Bad request",
                  "errors": ["Bad request"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 404,
                  "description": "Not found",
                  "errors": ["Not found"]
                }
              }
            }
          }
        }
      }
    },
    "/api/media_items/": {
      "get": {
        "tags": ["MediaItem"],
        "summary": "Get MediaItem entities.",
        "operationId": "get_api_media_items_index",
        "parameters": [
          {
            "name": "organization",
            "in": "query",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "accommodation",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "accommodationUnit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "packageSpecification",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "mediaItemAlbum",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MediaItem"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 400,
                  "description": "Bad request",
                  "errors": ["Bad request"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 404,
                  "description": "Not found",
                  "errors": ["Not found"]
                }
              }
            }
          }
        }
      }
    },
    "/api/package_specification_categories/": {
      "get": {
        "tags": ["PackageSpecification"],
        "summary": "Get PackageSpecificationCategory entities.",
        "operationId": "get_api_package_specification_categories_index",
        "parameters": [
          {
            "name": "organization",
            "in": "query",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PackageSpecificationCategory"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 400,
                  "description": "Bad request",
                  "errors": ["Bad request"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 404,
                  "description": "Not found",
                  "errors": ["Not found"]
                }
              }
            }
          }
        }
      }
    },
    "/api/package_specifications/": {
      "get": {
        "tags": ["PackageSpecification"],
        "summary": "Get PackageSpecification entities.",
        "operationId": "get_api_package_specifications",
        "parameters": [
          {
            "name": "organization",
            "in": "query",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "accommodation",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "accommodationCategory",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "localityCategory",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "division",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "available",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "package",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "seasonal",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "year",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "public",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PackageSpecification"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 400,
                  "description": "Bad request",
                  "errors": ["Bad request"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 404,
                  "description": "Not found",
                  "errors": ["Not found"]
                }
              }
            }
          }
        }
      }
    },
    "/api/payment_methods/": {
      "get": {
        "tags": ["PaymentMethod"],
        "summary": "Get PaymentMethod entities.",
        "operationId": "get_api_payment_methods_index",
        "parameters": [
          {
            "name": "organization",
            "in": "query",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "public",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dashboard",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "manual",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentMethod"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 400,
                  "description": "Bad request",
                  "errors": ["Bad request"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 404,
                  "description": "Not found",
                  "errors": ["Not found"]
                }
              }
            }
          }
        }
      }
    },
    "/api/planning/assigned_dates": {
      "get": {
        "tags": ["Planning"],
        "summary": "Get assigned dates for accommodation unit.",
        "operationId": "get_api_planning_assigned_dates",
        "parameters": [
          {
            "name": "organization",
            "in": "query",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "accommodation",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "accommodationCategory",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "accommodationUnit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "localityCategory",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "excludedReservation",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "date": {
                        "type": "string",
                        "example": "2024-09-01T00:00:00Z"
                      },
                      "assigned": {
                        "type": "string",
                        "enum": ["day", "am", "pm"]
                      }
                    },
                    "type": "object"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 400,
                  "description": "Bad request",
                  "errors": ["Bad request"]
                }
              }
            }
          }
        }
      }
    },
    "/api/planning/available_units": {
      "get": {
        "tags": ["Planning"],
        "summary": "Get available accommodation units.",
        "operationId": "get_api_planning_available_units",
        "parameters": [
          {
            "name": "organization",
            "in": "query",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "accommodation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "accommodationUnitFeatures[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "public",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "excludedReservation",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccommodationUnit"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 400,
                  "description": "Bad request",
                  "errors": ["Bad request"]
                }
              }
            }
          }
        }
      }
    },
    "/api/planning/checkin_checkout_dates": {
      "get": {
        "tags": ["Planning"],
        "summary": "Get checkin checkout dates.",
        "operationId": "get_api_planning_checkin_checkout_dates",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["checkin", "checkout"]
            }
          },
          {
            "name": "organization",
            "in": "query",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checkin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accommodation",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "accommodationCategory",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "accommodationUnitFeatures[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "localityCategory",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "public",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "excludedReservation",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "date": {
                        "type": "string",
                        "example": "2024-09-25T00:00:00Z"
                      }
                    },
                    "type": "object"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "statusCode": 400,
                  "description": "Bad request",
                  "errors": ["Bad request"]
                }
              }
            }
          }
        }
      }
    },
    "/api/reservation_attachment/terms": {
      "get": {
        "tags": ["ReservationAttachment"],
        "summary": "Get ReservationAttachment entities.that are terms for the given reservation.",
        "operationId": "get_api_reservation_attachment_terms",
        "parameters": [
          {
            "name": "reservation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cancellationInsurance",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReservationAttachment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
[...]
