{"openapi":"3.0.0","info":{"title":"Partners API - Symphony","version":"1.0.0"},"servers":[{"url":"https://partner.symphonyos.co","description":"Production Partners API"},{"url":"https://sandbox.partner.symphonyos.co","description":"Sandbox Partners API"},{"url":"https://development.partner.symphonyos.co","description":"Development Partners API"}],"tags":[{"name":"Campaign","description":"Campaign resources"},{"name":"Analytics","description":"Campaign Analytics resources"},{"name":"Meta","description":"Meta resources"},{"name":"Meta Connect","description":"Meta Connect resources"},{"name":"Content","description":"Brand Content resources"},{"name":"Spotify","description":"Spotify resources"},{"name":"Youtube","description":"Youtube resources"}],"paths":{"/advertising/v1/meta/instagram/posts":{"get":{"tags":["Meta"],"summary":"Get Instagram Posts","operationId":"instagram-post","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InstagramPostList"}}}}}}},"/advertising/v1/meta/locations/search":{"get":{"tags":["Meta"],"summary":"Search location by keyword","operationId":"location-key","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationsResponse"}}}}},"parameters":[{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}}]}},"/advertising/v1/meta/artist/search":{"get":{"tags":["Meta"],"summary":"Search Artist by keyword","description":"It is necessary to first consult the endpoint to obtain a Spotify artist since the keyword is required and it is necessary to pass the full name of the artist","operationId":"artist","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetaArtistSearchResponse"}}}}},"parameters":[{"name":"keyword","in":"query","required":true,"schema":{"type":"string"}}]}},"/advertising/v1/meta/interest/search":{"get":{"tags":["Meta"],"summary":"Search Interests by keyword","operationId":"interest_search","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetaInterestSearchResponse"}}}}},"parameters":[{"name":"keyword","in":"query","required":true,"schema":{"type":"string"}}]}},"/advertising/v1/meta/interest/suggestion/search":{"get":{"tags":["Meta"],"summary":"Search Interests suggestions by interest list","operationId":"interest_suggestion_search","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetaInterestSuggestionSearchResponse"}}}}},"parameters":[{"name":"interests","in":"query","required":true,"schema":{"type":"string"}}]}},"/advertising/v1/meta/language/search":{"get":{"tags":["Meta"],"summary":"Search Language by keyword","operationId":"language-meta","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string"},"name":{"type":"string"}},"required":["id","name"]}},"status":{"type":"number"}}}}}}},"parameters":[{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}}]}},"/advertising/v1/meta/ad_accounts":{"get":{"tags":["Meta Connect"],"summary":"Get ad accounts from page connected to user brand","operationId":"ad-accounts-meta","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"amount_spent":{"type":"string"},"account_status":{"type":"number"},"currency":{"type":"string"}},"required":["id","name"]}},"status":{"type":"number"}}}}}}}}},"/advertising/v1/meta/pages":{"get":{"tags":["Meta Connect"],"summary":"Get facebook pages from page connected to user brand","operationId":"facebook pages meta","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","example":"Hassan Corp"},"category":{"type":"string","example":"Agente inmobiliario"},"id":{"type":"string","example":"1593808577508469"},"access_token":{"type":"string","example":"EAAQLqjh4uVoBO87xvHGvF6ViNq9oBYZCaWnZCt9hA2xRen283zZAEmytlsiSlGN2KWUGsRAbZA9bSPHZBnfx1DO7zZBSZCuBF5MDuoqZAOmTnguPpoQhXC6KxRDZA2gXr8dswYsyplZCPlZCgAyA3L0XgfB2GZChMrHzZAmlIRxZC7ZBF2lIKOxx4l20yDIpqioSlnxV2D8D0GL"},"followers_count":{"type":"integer","example":830},"picture":{"type":"object","properties":{"data":{"type":"object","properties":{"url":{"type":"string","example":"https://scontent.fbga2-1.fna.fbcdn.net/v/t39.30808-1/275382477_3102867733269205_6282908250389165852_n.jpg?stp=cp0_dst-jpg_s50x50_tt6&_nc_cat=111&ccb=1-7&_nc_sid=fe756c&_nc_ohc=wocutElLeaAQ7kNvgFJFmbm&_nc_zt=24&_nc_ht=scontent.fbga2-1.fna&edm=AGaHXAAEAAAA&_nc_gid=Al-cF4o7kqb246YHWvfSWmB&oh=00_AYDNegcF01Otog3BBxBmWp-PYp8OMbr15GNNKVoj1vEWlQ&oe=6780E1E7"}}}}},"is_published":{"type":"boolean","example":true},"connected_instagram_account":{"type":"object","properties":{"username":{"type":"string","example":"hassancorporation"},"id":{"type":"string","example":"17841402469497140"},"followers_count":{"type":"integer","example":167},"profile_picture_url":{"type":"string","example":"https://scontent.fbga2-1.fna.fbcdn.net/v/t51.2885-15/918210_1585050121739526_1483186764_a.jpg?_nc_cat=108&ccb=1-7&_nc_sid=7d201b&_nc_ohc=cWJCKOadxiQQ7kNvgGuzLNh&_nc_zt=23&_nc_ht=scontent.fbga2-1.fna&edm=AGaHXAAEAAAA&oh=00_AYBX_ifaNc-82CNQpzEq-3xK60UBGyawESv19Paa4-35Iw&oe=6780D900"}}},"instagram_business_account":{"type":"object","properties":{"username":{"type":"string","example":"hassancorporation"},"id":{"type":"string","example":"17841402469497140"},"followers_count":{"type":"integer","example":167},"profile_picture_url":{"type":"string","example":"https://scontent.fbga2-1.fna.fbcdn.net/v/t51.2885-15/918210_1585050121739526_1483186764_a.jpg?_nc_cat=108&ccb=1-7&_nc_sid=7d201b&_nc_ohc=cWJCKOadxiQQ7kNvgGuzLNh&_nc_zt=23&_nc_ht=scontent.fbga2-1.fna&edm=AGaHXAAEAAAA&oh=00_AYBX_ifaNc-82CNQpzEq-3xK60UBGyawESv19Paa4-35Iw&oe=6780D900"}}}}}}}}}}},"/advertising/v1/meta/{fb_user_id}/pages":{"get":{"tags":["Meta Connect"],"summary":"Get facebook pages from page connected to user brand by fb_user_id","operationId":"facebook pages meta by fb_user_id","parameters":[{"name":"fb_user_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"Hassan Corp"},"category":{"type":"string","example":"Agente inmobiliario"},"id":{"type":"string","example":"1593808577508469"},"access_token":{"type":"string","example":"EAAQLqjh4uVoBO87xvHGvF6ViNq9oBYZCaWnZCt9hA2xRen283zZAEmytlsiSlGN2KWUGsRAbZA9bSPHZBnfx1DO7zZBSZCuBF5MDuoqZAOmTnguPpoQhXC6KxRDZA2gXr8dswYsyplZCPlZCgAyA3L0XgfB2GZChMrHzZAmlIRxZC7ZBF2lIKOxx4l20yDIpqioSlnxV2D8D0GL"},"followers_count":{"type":"integer","example":830},"picture":{"type":"object","properties":{"data":{"type":"object","properties":{"url":{"type":"string","example":"https://scontent.fbga2-1.fna.fbcdn.net/v/t39.30808-1/275382477_3102867733269205_6282908250389165852_n.jpg?stp=cp0_dst-jpg_s50x50_tt6&_nc_cat=111&ccb=1-7&_nc_sid=fe756c&_nc_ohc=wocutElLeaAQ7kNvgFJFmbm&_nc_zt=24&_nc_ht=scontent.fbga2-1.fna&edm=AGaHXAAEAAAA&_nc_gid=Al-cF4o7kqb246YHWvfSWmB&oh=00_AYDNegcF01Otog3BBxBmWp-PYp8OMbr15GNNKVoj1vEWlQ&oe=6780E1E7"}}}}},"is_published":{"type":"boolean","example":true},"connected_instagram_account":{"type":"object","properties":{"username":{"type":"string","example":"hassancorporation"},"id":{"type":"string","example":"17841402469497140"},"followers_count":{"type":"integer","example":167},"profile_picture_url":{"type":"string","example":"https://scontent.fbga2-1.fna.fbcdn.net/v/t51.2885-15/918210_1585050121739526_1483186764_a.jpg?_nc_cat=108&ccb=1-7&_nc_sid=7d201b&_nc_ohc=cWJCKOadxiQQ7kNvgGuzLNh&_nc_zt=23&_nc_ht=scontent.fbga2-1.fna&edm=AGaHXAAEAAAA&oh=00_AYBX_ifaNc-82CNQpzEq-3xK60UBGyawESv19Paa4-35Iw&oe=6780D900"}}},"instagram_business_account":{"type":"object","properties":{"username":{"type":"string","example":"hassancorporation"},"id":{"type":"string","example":"17841402469497140"},"followers_count":{"type":"integer","example":167},"profile_picture_url":{"type":"string","example":"https://scontent.fbga2-1.fna.fbcdn.net/v/t51.2885-15/918210_1585050121739526_1483186764_a.jpg?_nc_cat=108&ccb=1-7&_nc_sid=7d201b&_nc_ohc=cWJCKOadxiQQ7kNvgGuzLNh&_nc_zt=23&_nc_ht=scontent.fbga2-1.fna&edm=AGaHXAAEAAAA&oh=00_AYBX_ifaNc-82CNQpzEq-3xK60UBGyawESv19Paa4-35Iw&oe=6780D900"}}}}}},"status":{"type":"integer","example":200}}}}}}}}},"/advertising/v1/meta/hybrid/{fb_user_id}/{fb_page_id}/posts":{"get":{"tags":["Meta Connect"],"summary":"Get Instagram Posts by fb_user_id and fb_page_id","operationId":"instagram-post-by-fb-user-id-and-fb-page-id","parameters":[{"name":"fb_user_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"fb_page_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"Identificador único del contenido."},"ig_id":{"type":"string","description":"ID de Instagram del contenido."},"permalink":{"type":"string","format":"uri","description":"Enlace permanente al contenido."},"caption":{"type":"string","description":"Descripción o subtítulo del contenido."},"media_product_type":{"type":"string","description":"Tipo de producto multimedia (por ejemplo, REELS o FEED)."},"media_type":{"type":"string","description":"Tipo de medio (por ejemplo, VIDEO, IMAGE, CAROUSEL_ALBUM)."},"media_url":{"type":"string","format":"uri","description":"URL del contenido multimedia."},"is_shared_to_feed":{"type":"boolean","description":"Indica si el contenido fue compartido en el feed."},"like_count":{"type":"integer","description":"Cantidad de 'me gusta' en el contenido."},"comments_count":{"type":"integer","description":"Cantidad de comentarios en el contenido."},"thumbnail_url":{"type":"string","format":"uri","description":"URL de la miniatura del contenido."},"timestamp":{"type":"string","format":"date-time","description":"Fecha y hora de publicación del contenido."},"username":{"type":"string","description":"Nombre de usuario del propietario del contenido."}},"required":["id","ig_id","permalink","media_type","media_url","timestamp","username"]}},"status":{"type":"integer","example":200}}}}}}}}},"/advertising/v1/meta/connected":{"get":{"tags":["Meta Connect"],"summary":"Get connected facebook page and ad accounts","operationId":"facebook pages meta connected","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"ad_account":{"type":"object","properties":{"id":{"type":"string","example":"act_364865380"},"name":{"type":"string","example":"Vendora"},"business":{"type":"object","properties":{"id":{"type":"string","example":"395494001069607"},"name":{"type":"string","example":"Vendify"}}},"currency":{"type":"string","example":"MXN"},"user_tasks":{"type":"array","items":{"type":"string","example":"DRAFT"}},"amount_spent":{"type":"string","example":"315975"},"account_status":{"type":"integer","example":1}}},"facebook_page":{"type":"object","properties":{"id":{"type":"string","example":"107214934041496"},"name":{"type":"string","example":"Vendify"},"picture":{"type":"object","properties":{"data":{"type":"object","properties":{"url":{"type":"string","example":"https://scontent-iad3-2.xx.fbcdn.net/v/t39.30808-1/225834618_554597662636552_5223216252498512136_n.png"}}}}},"category":{"type":"string","example":"App page"},"access_token":{"type":"string","example":"EAAQLqjh4uVoBOwkwHYZCpHSpdAcQe..."},"followers_count":{"type":"integer","example":548},"instagram_business_account":{"type":"object","properties":{"id":{"type":"string","example":"17841423130007964"},"username":{"type":"string","example":"vendify_app"},"followers_count":{"type":"integer","example":95},"profile_picture_url":{"type":"string","example":"https://scontent-iad3-1.xx.fbcdn.net/v/t51.2885-15/224437627_1051280545609910_6314656704950281517_n.jpg"}}}}},"instagram_page":{"type":"object","properties":{"id":{"type":"string","example":"2771881469509767"},"name":{"type":"string","example":"Vendify"},"businessAccount":{"type":"object","properties":{"id":{"type":"string","example":"17841423130007964"},"username":{"type":"string","example":"vendify_app"},"followers_count":{"type":"integer","example":95},"profile_picture_url":{"type":"string","example":"https://scontent-iad3-1.xx.fbcdn.net/v/t51.2885-15/224437627_1051280545609910_6314656704950281517_n.jpg"}}},"instagramAccount":{"type":"object","properties":{"id":{"type":"string","example":"2771881469509767"},"username":{"type":"string","example":"vendify_app"},"is_private":{"type":"boolean","example":false},"profile_pic":{"type":"string","example":"https://scontent-iad3-1.xx.fbcdn.net/v/t51.2885-15/224437627_1051280545609910_6314656704950281517_n.jpg"},"follow_count":{"type":"integer","example":75},"is_published":{"type":"boolean","example":true},"followed_by_count":{"type":"integer","example":95}}}}},"logged_in_fb_user":{"type":"object","properties":{"id":{"type":"string","example":"100542842626901"},"name":{"type":"string","example":"Jose Gonzalez"},"picture":{"type":"object","properties":{"data":{"type":"object","properties":{"url":{"type":"string","example":"https://platform-lookaside.fbsbx.com/platform/profilepic/?asid=100542842626901&height=50&width=50"}}}}}}}}},"status":{"type":"integer","example":200}}}}}}}}},"/advertising/v1/meta/hybrid/connected":{"get":{"tags":["Meta Connect"],"summary":"Get connected facebook page and instagram page","operationId":"facebook pages meta connected hybrid","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"facebook_page":{"type":"object","properties":{"id":{"type":"string","example":"107214934041496"},"name":{"type":"string","example":"Vendify"},"picture":{"type":"object","properties":{"data":{"type":"object","properties":{"url":{"type":"string","example":"https://scontent-iad3-2.xx.fbcdn.net/v/t39.30808-1/225834618_554597662636552_5223216252498512136_n.png"}}}}},"category":{"type":"string","example":"App page"},"access_token":{"type":"string","example":"EAAQLqjh4uVoBOwkwHYZCpHSpdAcQe..."},"followers_count":{"type":"integer","example":548},"instagram_business_account":{"type":"object","properties":{"id":{"type":"string","example":"17841423130007964"},"username":{"type":"string","example":"vendify_app"},"followers_count":{"type":"integer","example":95},"profile_picture_url":{"type":"string","example":"https://scontent-iad3-1.xx.fbcdn.net/v/t51.2885-15/224437627_1051280545609910_6314656704950281517_n.jpg"}}}}},"instagram_page":{"type":"object","properties":{"id":{"type":"string","example":"2771881469509767"},"name":{"type":"string","example":"Vendify"},"businessAccount":{"type":"object","properties":{"id":{"type":"string","example":"17841423130007964"},"username":{"type":"string","example":"vendify_app"},"followers_count":{"type":"integer","example":95},"profile_picture_url":{"type":"string","example":"https://scontent-iad3-1.xx.fbcdn.net/v/t51.2885-15/224437627_1051280545609910_6314656704950281517_n.jpg"}}},"instagramAccount":{"type":"object","properties":{"id":{"type":"string","example":"2771881469509767"},"username":{"type":"string","example":"vendify_app"},"is_private":{"type":"boolean","example":false},"profile_pic":{"type":"string","example":"https://scontent-iad3-1.xx.fbcdn.net/v/t51.2885-15/224437627_1051280545609910_6314656704950281517_n.jpg"},"follow_count":{"type":"integer","example":75},"is_published":{"type":"boolean","example":true},"followed_by_count":{"type":"integer","example":95}}}}},"logged_in_fb_user":{"type":"object","properties":{"id":{"type":"string","example":"100542842626901"},"name":{"type":"string","example":"Jose Gonzalez"},"picture":{"type":"object","properties":{"data":{"type":"object","properties":{"url":{"type":"string","example":"https://platform-lookaside.fbsbx.com/platform/profilepic/?asid=100542842626901&height=50&width=50"}}}}}}}}},"status":{"type":"integer","example":200}}}}}}}}},"/advertising/v1/meta/connect/brand":{"post":{"tags":["Meta Connect"],"summary":"Connect brand to facebook based on token from sdk","operationId":"facebook connect brand meta","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"access_token":{"type":"string"},"facebook_page":{"type":"string"},"instagram_page":{"type":"string"}}}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{}}}}}}},"/advertising/v1/brand_content/record_streams":{"get":{"tags":["Content"],"summary":"Get Record content in brand by keyword","operationId":"get-record","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecordStreams"}}}}},"parameters":[{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}}]}},"/advertising/v1/spotify/artists/search":{"get":{"tags":["Spotify"],"summary":"Search artist in spotify","operationId":"spotify-artist","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArtistSearchResponse"}}}}},"parameters":[{"name":"keyword","in":"query","required":true,"schema":{"type":"string"}}]}},"/advertising/v1/campaign":{"post":{"tags":["Campaign"],"summary":"Create Campaign","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"provider":{"type":"string"},"campaign_type":{"type":"string"},"campaign_name":{"type":"string"},"metadata":{"type":"object","properties":{"budget":{"type":"object","properties":{"value":{"type":"number"},"currency":{"type":"string"}}},"start_date":{"type":"string","format":"date-time"},"end_date":{"type":"string","format":"date-time"},"call_to_action":{"type":"string"},"instagram_post_id":{"type":"string"},"public_video_links":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string"},"name":{"type":"string"},"thumbnail":{"type":"string"}}}},"public_image_links":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string"},"name":{"type":"string"},"thumbnail":{"type":"string"}}}},"spotify_link":{"type":"string"},"spotify_external_platforms":{"type":"array","items":{"type":"string"}},"link_to_boost":{"type":"string"},"caption":{"type":"string"},"targeting_countries":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"budget":{"type":"number"},"locations":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"label":{"type":"string"},"value":{"type":"string"},"region_id":{"type":"string"},"country_code":{"type":"string"}}}},"description":{"type":"string"}}}},"targeting_audiences":{"type":"array","items":{"type":"object","properties":{"fbId":{"type":"string"},"name":{"type":"string"}}}},"targeting_demographic":{"type":"object","properties":{"age":{"type":"object","properties":{"max":{"type":"number"},"min":{"type":"number"}}},"gender":{"type":"string"},"languages":{"type":"array","items":{"type":"object","properties":{"key":{"type":"number"},"name":{"type":"string"},"selected":{"type":"boolean"}}}}}},"tier":{"type":"string","enum":["30000_followers","100000_followers","300000_followers","600000_followers","1000000_followers"]},"conversion_enabled":{"type":"boolean"},"conversion_event_name":{"type":"string"},"conversion_domain":{"type":"string"}}}}},"examples":{"boost_instagram":{"value":{"provider":"facebook","campaign_type":"boost_instagram","campaign_name":"campaign from API","metadata":{"budget":{"value":12,"currency":"USD"},"start_date":"2024-08-02T05:00:00.000Z","end_date":"2024-08-03T05:00:00.000Z","call_to_action":"LEARN_MORE","instagram_post_id":"17921761666746619","public_video_links":[{"url":"https://res.cloudinary.com/symphonyos/video/upload/v1721403225/symphony/car2_aroyzh.webm","name":"video test loading","thumbnail":"https://res.cloudinary.com/symphonyos/video/upload/c_limit,h_60,w_90/v1721403225/symphony/car2_aroyzh.jpg"}],"public_image_links":[{"url":"string url","name":"string name","thumbnail":"string thumbnail"}],"targeting_countries":[{"name":"Recommended Markets","budget":1,"locations":[{"value":"US","label":"United States of America","type":"country","region_id":null,"country_code":null},{"value":"3847","label":"California","type":"region","country_code":"US"},{"value":"2420379","label":"Los Angeles","type":"city","region_id":3847,"country_code":"US"},{"value":"GB","label":"United Kingdom","type":"country","region_id":null,"country_code":null}]}],"targeting_audiences":[{"fbId":"6003317001363","name":"Zendaya"},{"fbId":"6003278637610","name":"Indie pop"}],"targeting_demographic":{"age":{"min":18,"max":35},"gender":"All","languages":[{"key":6,"name":"English (US)","selected":true},{"key":24,"name":"English (UK)","selected":true}]}}}},"record_streams":{"value":{"provider":"facebook","campaign_type":"record_streams","campaign_name":"campaign Record Stream from API","metadata":{"budget":{"value":12,"currency":"USD"},"start_date":"2024-08-20T05:00:00.000Z","end_date":"2024-08-21T05:00:00.000Z","call_to_action":"LEARN_MORE","instagram_post_id":"17921761666746619","public_video_links":[{"url":"https://res.cloudinary.com/symphonyos/video/upload/v1721403225/symphony/car2_aroyzh.webm","name":"video test loading","thumbnail":"https://res.cloudinary.com/symphonyos/video/upload/c_limit,h_60,w_90/v1721403225/symphony/car2_aroyzh.jpg"}],"public_image_links":[{"url":"https://res.cloudinary.com/symphonyos/image/upload/v1721403225/symphony/car2_aroyzh.webm","name":"image test loading","thumbnail":"https://res.cloudinary.com/symphonyos/image/upload/c_limit,h_60,w_90/v1721403225/symphony/car2_aroyzh.jpg"}],"spotify_link":"https://open.spotify.com/track/2M4ujJtsYiiUISmuntBJn7","spotify_external_platforms":["https://www.youtube.com/watch?v=EpAkZtsYU3U","https://geo.music.apple.com/tr/album/_/1541250609?i=1541250816&mt=1&app=music&ls=1"],"targeting_countries":[{"name":"Recommended Markets","budget":1,"locations":[{"value":"US","label":"United States of America","type":"country","region_id":null,"country_code":null},{"value":"3847","label":"California","type":"region","country_code":"US"},{"value":"2420379","label":"Los Angeles","type":"city","region_id":3847,"country_code":"US"},{"value":"GB","label":"United Kingdom","type":"country","region_id":null,"country_code":null}]}],"targeting_audiences":[{"fbId":"6003317001363","name":"Zendaya"},{"fbId":"6003278637610","name":"Indie pop"}],"targeting_demographic":{"age":{"min":18,"max":35},"gender":"All","languages":[{"key":6,"name":"English (US)","selected":true},{"key":24,"name":"English (UK)","selected":true}]}}}},"link_clicks":{"value":{"provider":"facebook","campaign_type":"link_clicks","campaign_name":"campaign Link clicks from API","metadata":{"budget":{"value":12,"currency":"USD"},"start_date":"2024-08-20T05:00:00.000Z","end_date":"2024-08-21T05:00:00.000Z","call_to_action":"LEARN_MORE","instagram_post_id":"17921761666746619","public_video_links":[{"url":"https://res.cloudinary.com/symphonyos/video/upload/v1721403225/symphony/car2_aroyzh.webm","name":"video test loading","thumbnail":"https://res.cloudinary.com/symphonyos/video/upload/c_limit,h_60,w_90/v1721403225/symphony/car2_aroyzh.jpg"}],"public_image_links":[{"url":"https://res.cloudinary.com/symphonyos/video/upload/v1721403225/symphony/car2_aroyzh.webm","name":"video test loading","thumbnail":"https://res.cloudinary.com/symphonyos/video/upload/c_limit,h_60,w_90/v1721403225/symphony/car2_aroyzh.jpg"}],"link_to_boost":"https://www.goodreads.com/book/show/5907.The_Hobbit?ref=rae_2","caption":"test caption","targeting_countries":[{"name":"Recommended Markets","budget":1,"locations":[{"value":"US","label":"United States of America","type":"country","region_id":null,"country_code":null},{"value":"3847","label":"California","type":"region","country_code":"US"},{"value":"2420379","label":"Los Angeles","type":"city","region_id":3847,"country_code":"US"},{"value":"GB","label":"United Kingdom","type":"country","region_id":null,"country_code":null}]}],"targeting_audiences":[{"fbId":"6003317001363","name":"Zendaya"},{"fbId":"6003278637610","name":"Indie pop"}],"targeting_demographic":{"age":{"min":18,"max":35},"gender":"All","languages":[{"key":6,"name":"English (US)","selected":true},{"key":24,"name":"English (UK)","selected":true}]},"conversion_enabled":true,"conversion_event_name":"Subscribe","conversion_domain":"symphony.to"}}},"get_playlisted":{"value":{"campaign_type":"get_playlisted","provider":"symphony","campaign_name":"campaign getPlaylisted API","metadata":{"spotify_id":"3rmGAbshQvQHhy3sgHidNT","tier":"30000_followers","pitch_notes":"test pitch notes"}}},"increase_video_views":{"value":{"campaign_type":"increase_video_views","provider":"symphony","campaign_name":"campaign from API video views","metadata":{"start_date":"2024-09-02T05:00:00.000Z","end_date":"2024-09-03T05:00:00.000Z","budget":{"value":12,"currency":"USD"},"youtube_link":"https://www.youtube.com/watch?v=UIhbxRNFS3c","targeting_type":"views","youtube_link_targeting":["https://www.youtube.com/@NatGeo"],"geographies":{"type":"english"}}}}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignCreationResponse"}}}}}},"get":{"tags":["Campaign"],"summary":"Get Campaign List filtered","operationId":"campaign-filter","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignListResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayloadError"}}}}},"parameters":[{"name":"campaign_type","in":"query","description":"Campaign type (e.g., 'boost_instagram')","required":false,"schema":{"type":"string","enum":["boost_instagram","record_streams","get_playlisted","increase_video_views","link_clicks"]}},{"name":"start_date","in":"query","description":"Start date of the date filter (ISO 8601)","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"end_date","in":"query","description":"End date of the date filter (ISO 8601)","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"start_budget_range","in":"query","description":"Minimum budget value","required":false,"schema":{"type":"number","format":"float"}},{"name":"end_budget_range","in":"query","description":"Maximum budget value","required":false,"schema":{"type":"number","format":"float"}},{"name":"status","in":"query","description":"Campaign status (e.g., 'ACTIVE', 'PAUSED', 'IN_REVIEW')","required":false,"schema":{"type":"string","enum":["ACTIVE","PAUSED","IN_REVIEW"]}},{"name":"limit","in":"query","description":"Maximum number of results per page","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"Number of results to skip (pagination)","required":false,"schema":{"type":"integer","format":"int32"}}]}},"/advertising/v1/campaign/{campaign_id}/health":{"get":{"tags":["Campaign"],"summary":"Check Campaign","operationId":"check-campaign","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignHealthResponse"}}}}},"parameters":[{"name":"campaign_id","in":"path","required":true,"schema":{"type":"string"}}]}},"/advertising/v1/youtube/countries/list":{"get":{"tags":["Youtube"],"summary":"Get country list","operationId":"youtube-country-list","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"AD"},"name":{"type":"string","example":"Andorra"},"population":{"type":"integer","example":76965}}}},"status":{"type":"integer","example":200}}}}}}}}},"/advertising/v1/analytic/creative/performance":{"get":{"tags":["Analytics"],"summary":"Get Analytic Creative Performance","operationId":"cretive-performance","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreativePerformanceResponse"}}}}},"parameters":[{"name":"campaignId","in":"query","required":false,"schema":{"type":"string"}},{"name":"level","in":"query","required":false,"schema":{"type":"string","enum":["campaign","creative"]}}]}},"/advertising/v1/analytic/campaign/{id}":{"get":{"tags":["Analytics"],"summary":"Get campaign Detail","operationId":"detail-campaign","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignAnalyticsResponse"}}}}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/advertising/v1/analytic/facebook_ad_media":{"get":{"tags":["Analytics"],"summary":"Get Facebook Ad Media Analytic","operationId":"facebook_ad_media","parameters":[{"name":"campaignId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FacebookAdMedia"}}}}}}},"/advertising/v1/campaign/{id}/location/add":{"patch":{"tags":["Campaign"],"summary":"Add target location to campaign","operationId":"target-location-add","responses":{"200":{"description":"Successful operation"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","example":{"market_id":"6676212031486","locations":[{"key":"689194","name":"Madrid","type":"city","region":"Comunidad de Madrid","region_id":1019,"country_code":"ES","country_name":"España","supports_city":true,"supports_region":true}]}}}}}}},"/advertising/v1/campaign/{id}/location":{"get":{"tags":["Campaign"],"summary":"Get campaign markets locations","operationId":"campaing-market-get","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationStats"}}}}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"marketId","in":"query","schema":{"type":"string"}}]}},"/advertising/v1/campaign/{id}/location/PAUSED":{"put":{"tags":["Campaign"],"summary":"Pause Campaign market location","operationId":"pause-location","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"changed":{"type":"boolean"}}},"status":{"type":"integer","example":200}}}}}}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","example":{"location_key":"MX","market_id":"6676212031486"}}}}}}},"/advertising/v1/campaign/{id}":{"get":{"tags":["Campaign"],"summary":"Get campaign","operationId":"get-current-campaign","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignDetailData"}}}}}},"put":{"tags":["Campaign"],"summary":"Update budget and/or end_date","operationId":"update-budget-campaign","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","example":{"end_date":"2024-01-01T00:00:00Z","budget":{"currency":"MXN","value":201}}}}}},"responses":{"200":{"description":"Successful operation"}}}},"/advertising/v1/campaign/{id}/{status}":{"put":{"tags":["Campaign"],"summary":"Pause or activate campaign","operationId":"pause-campaign","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"status","in":"path","required":true,"schema":{"type":"string","enum":["PAUSED","ACTIVE"]}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"campaign":{"type":"object","properties":{"id":{"type":"number"},"status":{"type":"string"}}},"success":{"type":"boolean"}}},"status":{"type":"integer","example":200}}}}}}}}},"/partner":{"get":{"tags":["Partner"],"summary":"Get partner","operationId":"get-partner","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","example":"e0b16b54-d55a-4c85-b95e-7d31056e31cc"},"name":{"type":"string","example":"Skrlth - Demo Partner"},"brand_id":{"type":"integer","example":1509},"description":{"type":"string","example":"Brand to test"},"createdAt":{"type":"string","format":"date-time","example":"2024-11-28T22:28:51.124Z"},"updatedAt":{"type":"string","format":"date-time","example":"2024-11-28T22:28:51.124Z"},"deletedAt":{"type":"string","format":"date-time","nullable":true,"example":null},"api_keys":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"22d2fd56-4d7a-4130-b19e-35a88eccd491"},"name":{"type":"string","example":"Demo API KEY"},"value":{"type":"string","example":"36bbf7fa-22de-4ebf-a883-cb27d7fa9d90"},"external_id":{"type":"string","example":"bswwe4s5yk"},"description":{"type":"string","nullable":true,"example":null},"enabled":{"type":"boolean","example":true},"partner_id":{"type":"string","example":"e0b16b54-d55a-4c85-b95e-7d31056e31cc"},"createdAt":{"type":"string","format":"date-time","example":"2024-11-28T22:31:55.424Z"},"updatedAt":{"type":"string","format":"date-time","example":"2024-11-28T22:31:55.424Z"},"deletedAt":{"type":"string","format":"date-time","nullable":true,"example":null}}}},"plans":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"1"},"partner_id":{"type":"string","example":"e0b16b54-d55a-4c85-b95e-7d31056e31cc"},"name":{"type":"string","example":"Free Plan - SKRLTH"},"description":{"type":"string","example":"some description"},"price":{"type":"integer","example":0},"duration":{"type":"integer","example":0},"setting":{"type":"object","properties":{"campaign":{"type":"integer","example":3},"campaign_price_id":{"type":"string","example":"price_1QUzGcLq6PskFzIH2SCJMlvl"},"partner_cost_per_campaign_subscription_item":{"type":"string","example":"si_RSAj6b3hvrr2mJ"},"partner_spent_usage_subscription_item":{"type":"string","example":"si_RSAj88zc94veYK"}}},"enabled":{"type":"boolean","example":true},"createdAt":{"type":"string","format":"date-time","example":"2024-12-15T20:00:19.000Z"},"updatedAt":{"type":"string","format":"date-time","example":"2024-12-15T20:00:19.000Z"},"deletedAt":{"type":"string","format":"date-time","nullable":true,"example":null}}}},"webhooks":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"8d9daab4-a188-4043-a4e1-14e60d8e87f3"},"events":{"type":"array","items":{"type":"string","example":"campaign.created"}},"url":{"type":"string","example":"https://webhook.site/ac3af805-e8cc-493b-ac03-c4891e641861"},"partner_id":{"type":"string","example":"e0b16b54-d55a-4c85-b95e-7d31056e31cc"},"createdAt":{"type":"string","format":"date-time","example":"2024-08-07T02:04:07.338Z"},"updatedAt":{"type":"string","format":"date-time","example":"2024-08-07T02:04:07.338Z"},"deletedAt":{"type":"string","format":"date-time","nullable":true,"example":null}}}}}},"status":{"type":"integer","example":200}}}}}}}}},"/partner/webhook":{"get":{"tags":["Partner"],"summary":"Get webhooks","operationId":"get-webhooks","responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"url":{"type":"string"},"events":{"type":"array","items":{"type":"string"}}}}}}}}},"description":"Successful operation"}}},"post":{"tags":["Partner"],"summary":"Create webhook","operationId":"create-webhook","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string"},"events":{"type":"array","items":{"type":"string","enum":["campaign.created","campaign.failed","campaign.completed","campaign.updated","campaign.processing"]}}}}}}},"responses":{"200":{"description":"Successful operation"}}}},"/partner/webhook/{id}":{"put":{"tags":["Partner"],"summary":"Update webhook","operationId":"update-webhook","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string"},"events":{"type":"array","items":{"type":"string","enum":["campaign.created","campaign.failed","campaign.completed","campaign.updated","campaign.processing"]}}}}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"integer"},"example":[1]},"status":{"type":"integer","example":200}}}}}}}},"delete":{"tags":["Partner"],"summary":"Delete webhook","operationId":"delete-webhook","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"integer","example":1},"status":{"type":"integer","example":200}}}}}}}}}},"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"partner API Key user for authorization"},"BrandUserReference":{"type":"apiKey","in":"header","name":"x-brand-id","description":"brand ID user for authentication"}},"schemas":{"CampaignHealthResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"has_issues":{"type":"boolean","example":true},"errors":{"type":"array","items":{"type":"string","example":"Campaign not active: 3865"}}},"required":["has_issues","errors"]},"status":{"type":"integer","example":200}},"required":["data","status"]},"CampaignCreationResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"number","example":1234},"type":{"type":"string","enum":["boost_instagram","record_streams","get_playlisted","increase_video_views","link_clicks"]},"status":{"type":"string","enum":["ACTIVE","PAUSED","IN_REVIEW","DRAFT"]},"provider":{"type":"string","example":"facebook"}}},"status":{"type":"number","example":200}}},"CampaignListResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"campaigns":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":3863},"status":{"type":"string","enum":["IN_REVIEW","DRAFT","PAUSED"],"example":"IN_REVIEW"},"brand_id":{"type":"integer","example":574},"campaign_metadata":{"type":"object","properties":{"start_date":{"type":"string","format":"date-time","example":"2024-08-20T05:00:00.000Z"},"end_date":{"type":"string","format":"date-time","example":"2024-08-21T05:00:00.000Z"},"campaign_type":{"type":"string","enum":["link_clicks","boost_instagram","record_streams"],"example":"link_clicks"},"budget":{"type":"integer","example":57000}},"required":["campaign_type","budget"]}},"required":["id","status","brand_id","campaign_metadata"]}},"count":{"type":"integer","example":49},"total_pages":{"type":"integer","example":5}},"required":["campaigns","count","total_pages"]},"status":{"type":"integer","example":200}},"required":["data","status"]},"PayloadError":{"type":"object","properties":{"error":{"type":"string","example":"payload_failed"},"data":{"type":"array","items":{"type":"object","properties":{"target":{"type":"object","description":"The object sent that failed validation"},"value":{"type":"string","example":"2024-08-02T05:00:00.000Z","description":"The field value that fail"},"property":{"type":"string","example":"end_date","description":"The property key that failed validation"},"constraints":{"type":"object","description":"The constraints that failed validation","example":{"IsFutureDateConstraint":"Date (2024-08-02T05:00:00.000Z) must be a future date."}}}}}}},"LocationsResponse":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","example":"458130"},"name":{"type":"string","example":"Bogotá"},"type":{"type":"string","enum":["city","region"],"example":"city"},"country_code":{"type":"string","example":"CO"},"country_name":{"type":"string","example":"Colombia"},"region":{"type":"string","example":"Distrito Especial"},"region_id":{"type":"integer","example":747},"supports_region":{"type":"boolean","example":true},"supports_city":{"type":"boolean","example":true}},"required":["key","name","type","country_code","country_name","supports_region","supports_city"]}},"status":{"type":"integer","example":200}},"required":["data","status"]},"LocationStats":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"stats":{"type":"object","properties":{"cpm":{"type":"number","format":"float","example":74.432353},"reach":{"type":"integer","example":83},"impressions":{"type":"integer","example":94},"spend":{"type":"number","format":"float","example":6.996641},"clicks":{"type":"integer","example":0},"costPerClick":{"type":"number","format":"float","example":0},"costPerConversion":{"type":"number","format":"float","example":0},"conversions":{"type":"integer","example":0}},"required":["cpm","reach","impressions","spend","clicks","costPerClick","costPerConversion","conversions"]},"id":{"type":"string","example":"US"},"name":{"type":"string","example":"Estados Unidos"},"type":{"type":"string","enum":["country","dma"],"example":"country"},"path":{"type":"array","items":{"type":"string","example":"Estados Unidos"}},"status":{"type":"string","enum":["live","paused"],"example":"live"},"canPause":{"type":"boolean","example":true},"market":{"type":"string","example":"Recommended Markets"}},"required":["stats","id","name","type","path","status","canPause"]}},"status":{"type":"integer","example":200}},"required":["data","status"]},"CreativePerformanceResponse":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["feed","reels","story"],"example":"feed"},"clicks":{"type":"integer","example":4},"percentage":{"type":"number","format":"float","example":80}},"required":["type","clicks","percentage"]}},"status":{"type":"integer","example":200}},"required":["data","status"]},"CampaignAnalyticsResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"facebook_ad_media":{"type":"object","properties":{"media_url":{"type":"string","format":"uri"},"owner":{"type":"object","properties":{"profile_pic":{"type":"string","format":"uri"},"username":{"type":"string"},"id":{"type":"string"}},"required":["profile_pic","username","id"]}},"required":["media_url","owner"]},"analytic_data":{"type":"object","properties":{"adAccountStatus":{"type":"object","properties":{"good":{"type":"boolean"},"error":{"type":"string"}},"required":["good","error"]},"campaignStatuses":{"type":"array","items":{"type":"object","properties":{"effective_status":{"type":"string"},"id":{"type":"string"},"name":{"type":"string"}},"required":["effective_status","id","name"]}},"adStatuses":{"type":"array","items":{"type":"object","properties":{"effective_status":{"type":"string"},"id":{"type":"string"},"name":{"type":"string"}},"required":["effective_status","id","name"]}},"campaignPerformanceStats":{"type":"object","properties":{"cost_per_inline_link_click":{"type":"string"},"actions":{"type":"array","items":{"type":"object","properties":{"action_type":{"type":"string"},"value":{"type":"string"}},"required":["action_type","value"]}},"cpc":{"type":"string"},"cpm":{"type":"string"},"reach":{"type":"string"},"impressions":{"type":"string"},"spend":{"type":"string"},"inline_link_clicks":{"type":"string"},"clicks":{"type":"string"},"cost_per_action_type":{"type":"array","items":{"type":"object","properties":{"action_type":{"type":"string"},"value":{"type":"string"}},"required":["action_type","value"]}},"date_start":{"type":"string","format":"date"},"date_stop":{"type":"string","format":"date"}},"required":["actions","cpc","cpm","spend"]},"impactStats":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"data":{"$ref":"#/components/schemas/CampaignAnalyticsResponse/properties/data/properties/analytic_data/properties/campaignPerformanceStats"},"friendlyName":{"type":"string"}}}},"dailyStats":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string"},"totalSpend":{"type":"number"},"totalReach":{"type":"integer"},"totalImpressions":{"type":"integer"},"totalClicks":{"type":"integer"},"clicks":{"type":"string"},"inlineClicks":{"type":"integer"},"cpic":{"type":"number"},"cpc":{"type":"number"},"spend":{"type":"number"},"costPerConversion":{"type":"number"},"conversions":{"type":"integer"}},"required":["date","totalSpend","totalReach"]}},"geographicBreakdown":{"type":"object","properties":{"countries":{"type":"array","items":{"type":"object","properties":{"country":{"type":"string"},"countryName":{"type":"string"},"cpc":{"type":"number"},"reach":{"type":"integer"},"impressions":{"type":"integer"},"clicks":{"type":"integer"},"spend":{"type":"number"}},"required":["country","reach","spend"]}}}}},"required":["adAccountStatus","campaignStatuses"]},"creative_performance":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"clicks":{"type":"integer"},"percentage":{"type":"integer"}},"required":["type","clicks","percentage"]}}},"required":["facebook_ad_media","analytic_data","creative_performance"]},"status":{"type":"integer","example":200}},"required":["data","status"]},"FacebookAdMedia":{"type":"object","properties":{"data":{"type":"object","properties":{"media_url":{"type":"string","format":"uri","description":"URL del contenido multimedia (imagen o video)."},"owner":{"type":"object","properties":{"profile_pic":{"type":"string","format":"uri","description":"URL de la foto de perfil del propietario."},"username":{"type":"string","description":"Nombre de usuario del propietario."},"id":{"type":"string","description":"Identificador único del propietario."}},"required":["profile_pic","username","id"]}},"required":["media_url","owner"]}},"required":["data"]},"InstagramPostList":{"type":"object","properties":{"data":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"Identificador único del contenido."},"ig_id":{"type":"string","description":"ID de Instagram del contenido."},"permalink":{"type":"string","format":"uri","description":"Enlace permanente al contenido."},"caption":{"type":"string","description":"Descripción o subtítulo del contenido."},"media_product_type":{"type":"string","description":"Tipo de producto multimedia (por ejemplo, REELS o FEED)."},"media_type":{"type":"string","description":"Tipo de medio (por ejemplo, VIDEO, IMAGE, CAROUSEL_ALBUM)."},"media_url":{"type":"string","format":"uri","description":"URL del contenido multimedia."},"is_shared_to_feed":{"type":"boolean","description":"Indica si el contenido fue compartido en el feed."},"like_count":{"type":"integer","description":"Cantidad de 'me gusta' en el contenido."},"comments_count":{"type":"integer","description":"Cantidad de comentarios en el contenido."},"thumbnail_url":{"type":"string","format":"uri","description":"URL de la miniatura del contenido."},"timestamp":{"type":"string","format":"date-time","description":"Fecha y hora de publicación del contenido."},"username":{"type":"string","description":"Nombre de usuario del propietario del contenido."}},"required":["id","ig_id","permalink","media_type","media_url","timestamp","username"]}},"paging":{"type":"object","properties":{"cursors":{"type":"object","properties":{"before":{"type":"string","description":"Cursor para la página anterior."},"after":{"type":"string","description":"Cursor para la página siguiente."}},"required":["before","after"]}},"required":["cursors"]}},"required":["data","paging"]},"status":{"type":"integer","description":"Código de estado HTTP de la respuesta."}},"required":["data","status"]},"MetaArtistSearchResponse":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"Identificador único del interés."},"name":{"type":"string","description":"Nombre del interés."},"valid":{"type":"boolean","description":"Indica si el interés es válido."},"type":{"type":"string","description":"Tipo del interés."},"path":{"type":"array","items":{"type":"string"},"description":"Ruta jerárquica del interés."},"description":{"type":"string","description":"Descripción del interés."},"source":{"type":"string","description":"Fuente de información del interés."},"partner":{"type":"string","description":"Socio relacionado con el interés."},"audience_size":{"type":"integer","description":"Tamaño de la audiencia del interés."},"country":{"type":"string","description":"País relacionado con el interés."},"country_access":{"type":"string","description":"País donde se tiene acceso al interés."},"topic":{"type":"string","description":"Tema relacionado con el interés."}},"required":["id","name","valid","path","audience_size"]}},"status":{"type":"integer","description":"Código de estado HTTP de la respuesta."}},"required":["data","status"]},"MetaInterestSuggestionSearchResponse":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"},"path":{"type":"array","items":{"type":"string"}},"description":{"type":"string"},"source":{"type":"string"},"partner":{"type":"string"},"audience_size":{"type":"integer"},"country":{"type":"string"},"country_access":{"type":"string"},"topic":{"type":"string"}}}},"status":{"type":"integer","description":"Código de estado HTTP de la respuesta."}}},"MetaInterestSearchResponse":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"audience_size_lower_bound":{"type":"integer"},"audience_size_upper_bound":{"type":"integer"},"path":{"type":"array","items":{"type":"string"}},"description":{"type":"string"},"topic":{"type":"string"}}}},"status":{"type":"integer","description":"Status Code"}}},"CampaignDetailData":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"integer","example":137107},"brand_id":{"type":"integer","example":358},"status":{"type":"string","example":"ACTIVE"},"campaign_metadata":{"type":"object","properties":{"links":{"type":"string"},"budget":{"type":"integer","example":250},"errors":{"type":"array","items":{}},"status":{"type":"string","example":"SUBMITTED"},"content":{"type":"object","properties":{"cta":{"type":"object","properties":{"label":{"type":"string","example":"LearnMore"},"value":{"type":"string","example":"LEARN_MORE"}}},"caption":{"type":"string"},"campaign_name":{"type":"string","example":"Boost Engagement (@skrlth_cln)"}}},"endDate":{"type":"string","example":"2025-01-05T05:00:00.000Z"},"creative":{"type":"object","properties":{"id":{"type":"string","example":"18005762860505925"},"ig_id":{"type":"string","example":"3015199515556164684"},"owner":{"type":"object","properties":{"id":{"type":"string","example":"Account number"},"username":{"type":"string","example":"skrlth_cln"},"profile_pic":{"type":"string","example":"https://scontent-ord5-3.xx.fbcdn.net/v/t51.2885-15/80430551_1079322795741032_1637145016730124288_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=7d201b&_nc_ohc=VAFnV1DgyLAQ7kNvgFxmmEn&_nc_zt=23&_nc_ht=scontent-ord5-3.xx&edm=AAIyh0EEAAAA&oh=00_AYDKRLWPHHjNSFDT3ZoKT31B8uOeukjv10imSifMHqd1PA&oe=677C79A6"}}},"caption":{"type":"string","example":"YaestadisponiblenuestrorecienteEpENTREROMAYVIENAentodaslasplataformasdigitales💥💥Temasllenosdeenergía🔥🔥"},"username":{"type":"string","example":"skrlth_cln"},"media_url":{"type":"string","example":"https://scontent-ord5-1.cdninstagram.com/v/t51.29350-15/320670270_735882884546245_3496009786056529469_n.webp?stp=dst-jpg_e35_tt6&_nc_cat=108&ccb=1-7&_nc_sid=18de74&_nc_ohc=yzXlKYxccDYQ7kNvgHikHKN&_nc_zt=23&_nc_ht=scontent-ord5-1.cdninstagram.com&edm=AEQ6tj4EAAAA&_nc_gid=AWffBefsUdPa2uhf0ORDgy_&oh=00_AYCFo4EiiZSlM1ShfH4G9B-mSD6nmQfwk2Nrwj1qcZ02aw&oe=677C8B6C"},"permalink":{"type":"string","example":"https://www.instagram.com/p/CnYI_vzp7RM/"},"timestamp":{"type":"string","example":"2023-01-14T01:30:13+0000"},"like_count":{"type":"integer","example":18},"media_type":{"type":"string","example":"IMAGE"},"selectable":{"type":"integer","example":true},"comments_count":{"type":"integer","example":1},"explicit_content":{"type":"integer","example":false},"media_product_type":{"type":"string","example":"FEED"},"preview_shareable_link":{"type":"string","example":"https://fb.me/2zAsVeO3eRI3ITX"}}},"currency":{"type":"string","example":"MXN"},"startDate":{"type":"string","example":"2025-01-04T05:00:00.000Z"},"status_notes":{"type":"string"},"campaign_type":{"type":"string","example":"boost_instagram"},"campaign_input":{"type":"object","properties":{"cta":{"type":"object","properties":{"label":{"type":"string","example":"LearnMore"},"value":{"type":"string","example":"LEARN_MORE"}}},"goal":{"type":"string","example":"grow_instagram_engagement"},"brand":{"type":"object","properties":{"id":{"type":"integer","example":358},"name":{"type":"string","example":"Skrlth"},"slug":{"type":"string","example":"skrlth"},"tier":{"type":"string","example":"pro"},"image":{"type":"string","example":"https://i.scdn.co/image/ab6761610000e5ebb23a44c0a1dced197a02dbaf"},"website":{"type":"object","properties":{"bgType":{"type":"string","example":"artwork"},"bgColor":{"type":"string","example":"#000"},"titleText":{"type":"string"},"socialIcons":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","example":"facebook"},"url":{"type":"string","example":"https://facebook.com/472098069518921"},"title":{"type":"string","example":"Facebook"},"width":{"type":"string","example":"25"},"height":{"type":"string","example":"25"},"enabled":{"type":"integer","example":true},"rounded":{"type":"integer","example":true},"placeholder":{"type":"string","example":"https://www.facebook.com/"},"backgroundColor":{"type":"string","example":""}}}},"buttonConfig":{"type":"string","example":"boxes"},"primaryColor":{"type":"string","example":"#7C18F7"},"secondaryColor":{"type":"string","example":"#000000"},"enableSocialIcons":{"type":"integer","example":false},"removeSymphonyBrand":{"type":"integer","example":false},"addAffiliateLinkToLogo":{"type":"integer","example":true}}},"currency":{"type":"object","properties":{"code":{"type":"string","example":"MXN"},"symbol":{"type":"string","example":"$"}}},"createdAt":{"type":"string","example":"2022-05-30T23:15:21.590Z"},"connections":{"type":"object","properties":{"deezer":{"type":"string"},"tiktok":{"type":"object","properties":{"url":{"type":"string","example":"https://tiktok.com/@skrlth.cln"},"username":{"type":"string","example":"skrlth.cln"}}},"twitter":{"type":"string"},"audiomack":{"type":"string"},"bandsintown":{"type":"string"},"chartmetric":{"type":"object","properties":{"id":{"type":"integer","example":5919680}}},"tiktok_auth":{"type":"string"},"tiktok_user":{"type":"string"},"tiktok_pixel":{"type":"string","example":"SDDFFS23423423423422"},"facebook_page":{"type":"object","properties":{"id":{"type":"string","example":"Account number"},"name":{"type":"string","example":"Skrlth"},"picture":{"type":"object","properties":{"data":{"type":"object","properties":{"url":{"type":"string","example":"https://scontent.fbga2-1.fna.fbcdn.net/v/t39.30808-1/274301226_620920095828753_1140218923250901113_n.jpg?stp=c358.0.924.924a_cp0_dst-jpg_s50x50_tt6&_nc_cat=108&ccb=1-7&_nc_sid=fe756c&_nc_ohc=OkDsoqbUHSUQ7kNvgGABr4V&_nc_zt=24&_nc_ht=scontent.fbga2-1.fna&edm=AGaHXAAEAAAA&_nc_gid=A6fDpX2vyGw-0ZenGdZiMv_&oh=00_AYA-ndeFAjMkuD5zsorxd7jSA6eR4f4uzVAYPfD73YDNcQ&oe=677A3C95"}}}}},"category":{"type":"string","example":"Músico/grupodemúsica"},"access_token":{"type":"string","example":"token"},"followers_count":{"type":"integer","example":1493}}},"facebook_pixel":{"type":"string"},"instagram_page":{"type":"object","properties":{"id":{"type":"string","example":"Account number"},"name":{"type":"string","example":"Skrlth"},"businessAccount":{"type":"object","properties":{"id":{"type":"string","example":"Account number"},"username":{"type":"string","example":"skrlth_cln"},"followers_count":{"type":"integer","example":1926},"profile_picture_url":{"type":"string","example":"https://scontent.fbga2-1.fna.fbcdn.net/v/t51.2885-15/80430551_1079322795741032_1637145016730124288_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=7d201b&_nc_ohc=VAFnV1DgyLAQ7kNvgGJ5aun&_nc_zt=23&_nc_ht=scontent.fbga2-1.fna&edm=AJdBtusEAAAA&oh=00_AYDs1WlBixvcIuV3AhL5AcdlcvVMk-fEjI4lK8iH2SY9aA&oe=677A0EE6"}}},"instagramAccount":{"type":"object","properties":{"id":{"type":"string","example":"Account number"},"username":{"type":"string","example":"skrlth_cln"},"is_private":{"type":"integer","example":false},"profile_pic":{"type":"string","example":"https://scontent.fbga2-1.fna.fbcdn.net/v/t51.2885-15/80430551_1079322795741032_1637145016730124288_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=7d201b&_nc_ohc=VAFnV1DgyLAQ7kNvgGJ5aun&_nc_zt=23&_nc_ht=scontent.fbga2-1.fna&edm=AAIyh0EEAAAA&oh=00_AYCtlbl351ffHu1b37-aiL9CZEJaJraTHmi9O_k3mrKgWw&oe=677C79A6"},"follow_count":{"type":"integer","example":48},"is_published":{"type":"integer","example":true},"followed_by_count":{"type":"integer","example":1926}}},"connected_instagram_account":{"type":"object","properties":{"id":{"type":"string","example":"Account number"},"username":{"type":"string","example":"skrlth_cln"},"followers_count":{"type":"integer","example":1926},"profile_picture_url":{"type":"string","example":"https://scontent.fbga2-1.fna.fbcdn.net/v/t51.2885-15/80430551_1079322795741032_1637145016730124288_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=7d201b&_nc_ohc=VAFnV1DgyLAQ7kNvgGJ5aun&_nc_zt=23&_nc_ht=scontent.fbga2-1.fna&edm=AAIyh0EEAAAA&oh=00_AYCtlbl351ffHu1b37-aiL9CZEJaJraTHmi9O_k3mrKgWw&oe=677C79A6"}}}}},"youtube_channel":{"type":"object","properties":{"id":{"type":"string","example":"UCAqgzteUMl5z5oeWi2Gl9mA"},"etag":{"type":"string","example":"gaeNG6nVJIDQNdUMIohcAihg2q8"},"kind":{"type":"string","example":"youtube#searchResult"},"snippet":{"type":"object","properties":{"title":{"type":"string","example":"SkarlethCLN"},"channelId":{"type":"string","example":"UCAqgzteUMl5z5oeWi2Gl9mA"},"thumbnails":{"type":"object","properties":{"high":{"type":"object","properties":{"url":{"type":"string","example":"https://yt3.ggpht.com/osHR2uBpd_PRxthXbnhGi7725-Kz9nhJBggZkXRGYgEpjqHUm8cZh98JpBfFa-cW0UHLrL82Pg=s800-c-k-c0xffffffff-no-rj-mo"}}},"medium":{"type":"object","properties":{"url":{"type":"string","example":"https://yt3.ggpht.com/osHR2uBpd_PRxthXbnhGi7725-Kz9nhJBggZkXRGYgEpjqHUm8cZh98JpBfFa-cW0UHLrL82Pg=s240-c-k-c0xffffffff-no-rj-mo"}}},"default":{"type":"object","properties":{"url":{"type":"string","example":"https://yt3.ggpht.com/osHR2uBpd_PRxthXbnhGi7725-Kz9nhJBggZkXRGYgEpjqHUm8cZh98JpBfFa-cW0UHLrL82Pg=s88-c-k-c0xffffffff-no-rj-mo"}}}}},"description":{"type":"string","example":"Canaloficialdelabandaculichi...Skarleth..."},"publishTime":{"type":"string","example":"2012-11-03T05:16:40Z"},"publishedAt":{"type":"string","example":"2012-11-03T05:16:40Z"},"channelTitle":{"type":"string","example":"SkarlethCLN"},"liveBroadcastContent":{"type":"string","example":"none"}}}}},"google_analytics":{"type":"string","example":"G-887655"},"logged_in_fb_user":{"type":"object","properties":{"id":{"type":"string","example":"5159353627418556"},"name":{"type":"string","example":"MiguelGonzález"},"picture":{"type":"object","properties":{"data":{"type":"object","properties":{"url":{"type":"string","example":"https://platform-lookaside.fbsbx.com/platform/profilepic/?asid=5159353627418556&height=50&width=50&ext=1738416003&hash=AbZeDTAZjm9hhgDNvUENpJQh"}}}}},"expires_at":{"type":"string"},"access_token":{"type":"string","example":"token"},"fbTokenValid":{"type":"integer","example":true}}},"tiktok_ad_account":{"type":"string"},"facebook_ad_account":{"type":"object","properties":{"id":{"type":"string","example":"Account number"},"name":{"type":"string","example":"Vendora"},"business":{"type":"object","properties":{"id":{"type":"string","example":"Account number"},"name":{"type":"string","example":"Vendify"}}},"currency":{"type":"string","example":"MXN"},"user_tasks":{"type":"array","items":{"type":"string","example":"DRAFT"}},"amount_spent":{"type":"number","example":5050.24},"userHasAccess":{"type":"integer","example":true},"account_status":{"type":"integer","example":1}}},"spotify_artist_page":{"type":"object","properties":{"id":{"type":"string","example":"5fX7wIWuzZFWQbm25ccU3t"},"uri":{"type":"string","example":"spotify:artist:5fX7wIWuzZFWQbm25ccU3t"},"href":{"type":"string","example":"https://api.spotify.com/v1/artists/5fX7wIWuzZFWQbm25ccU3t"},"name":{"type":"string","example":"Skrlth"},"type":{"type":"string","example":"artist"},"genres":{"type":"array","items":{}},"images":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string","example":"https://i.scdn.co/image/ab6761610000e5ebb23a44c0a1dced197a02dbaf"},"width":{"type":"integer","example":640},"height":{"type":"integer","example":640}}}},"followers":{"type":"object","properties":{"href":{"type":"string"},"total":{"type":"integer","example":41}}},"popularity":{"type":"integer","example":0},"external_urls":{"type":"object","properties":{"spotify":{"type":"string","example":"https://open.spotify.com/artist/5fX7wIWuzZFWQbm25ccU3t"}}}}},"reauthenticateFbUser":{"type":"integer","example":false},"soundcloud_artist_page":{"type":"object","properties":{"url":{"type":"string","example":"https://soundcloud.com/skarleth-4"},"username":{"type":"string","example":"skarleth-4"}}},"tiktok_business_centers":{"type":"string"},"tiktok_ad_account_funded":{"type":"integer","example":false},"facebook_business_manager":{"type":"string"},"business_discovery_instagram":{"type":"string"},"facebook_pixel_conversions_domain":{"type":"string"},"facebook_pixel_conversions_api_access_token":{"type":"string"}}},"hideFansTab":{"type":"integer","example":false},"subscription":{"type":"object","properties":{"cid":{"type":"string","example":"susbcription"},"tier":{"type":"string","example":"pro"},"type":{"type":"string","example":"forced"},"status":{"type":"string","example":"active"},"details":{"type":"object","properties":{"forced":{"type":"integer","example":true},"trialOver":{"type":"string"},"subscribed":{"type":"integer","example":true},"trialDaysLeft":{"type":"string"}}},"is_trial":{"type":"integer","example":false},"onOldPlan":{"type":"integer","example":true},"freeTrialOver":{"type":"integer","example":true},"retriesFailed":{"type":"integer","example":false},"payment_method":{"type":"string"},"recurring_interval":{"type":"string"},"allowCustomerPortal":{"type":"integer","example":true},"coupon_on_cancelation_redeemed":{"type":"integer","example":false}}},"freeTrialOver":{"type":"integer","example":true},"permissionLevel":{"type":"string","example":"administrator"},"affiliate_details":{"type":"string"},"conversionsStatus":{"type":"object","properties":{"conversions_tasks":{"type":"array","items":{"type":"string","example":"AD_ACCOUNT_CONNECTED"}},"isEventRegistered":{"type":"integer","example":false},"showFinishedModal":{"type":"integer","example":false},"conversions_tasks_completed":{"type":"integer","example":false}}},"content_initialized":{"type":"integer","example":true},"showRecommendations":{"type":"integer","example":false},"dashboard_initialized":{"type":"integer","example":true}}},"assets":{"type":"object","properties":{"all":{"type":"array","items":{}}}},"budget":{"type":"integer","example":250},"fbPage":{"type":"object","properties":{"id":{"type":"string","example":"Account number"},"name":{"type":"string","example":"Skrlth"},"picture":{"type":"object","properties":{"data":{"type":"object","properties":{"url":{"type":"string","example":"https://scontent.fbga2-1.fna.fbcdn.net/v/t39.30808-1/274301226_620920095828753_1140218923250901113_n.jpg?stp=c358.0.924.924a_cp0_dst-jpg_s50x50_tt6&_nc_cat=108&ccb=1-7&_nc_sid=fe756c&_nc_ohc=OkDsoqbUHSUQ7kNvgGABr4V&_nc_zt=24&_nc_ht=scontent.fbga2-1.fna&edm=AGaHXAAEAAAA&_nc_gid=A6fDpX2vyGw-0ZenGdZiMv_&oh=00_AYA-ndeFAjMkuD5zsorxd7jSA6eR4f4uzVAYPfD73YDNcQ&oe=677A3C95"}}}}},"category":{"type":"string","example":"Músico/grupodemúsica"},"access_token":{"type":"string","example":"token"},"followers_count":{"type":"integer","example":1493}}},"igPage":{"type":"object","properties":{"id":{"type":"string","example":"Account number"},"name":{"type":"string","example":"Skrlth"},"businessAccount":{"type":"object","properties":{"id":{"type":"string","example":"Account number"},"username":{"type":"string","example":"skrlth_cln"},"followers_count":{"type":"integer","example":1926},"profile_picture_url":{"type":"string","example":"https://scontent.fbga2-1.fna.fbcdn.net/v/t51.2885-15/80430551_1079322795741032_1637145016730124288_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=7d201b&_nc_ohc=VAFnV1DgyLAQ7kNvgGJ5aun&_nc_zt=23&_nc_ht=scontent.fbga2-1.fna&edm=AJdBtusEAAAA&oh=00_AYDs1WlBixvcIuV3AhL5AcdlcvVMk-fEjI4lK8iH2SY9aA&oe=677A0EE6"}}},"instagramAccount":{"type":"object","properties":{"id":{"type":"string","example":"Account number"},"username":{"type":"string","example":"skrlth_cln"},"is_private":{"type":"integer","example":false},"profile_pic":{"type":"string","example":"https://scontent.fbga2-1.fna.fbcdn.net/v/t51.2885-15/80430551_1079322795741032_1637145016730124288_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=7d201b&_nc_ohc=VAFnV1DgyLAQ7kNvgGJ5aun&_nc_zt=23&_nc_ht=scontent.fbga2-1.fna&edm=AAIyh0EEAAAA&oh=00_AYCtlbl351ffHu1b37-aiL9CZEJaJraTHmi9O_k3mrKgWw&oe=677C79A6"},"follow_count":{"type":"integer","example":48},"is_published":{"type":"integer","example":true},"followed_by_count":{"type":"integer","example":1926}}},"connected_instagram_account":{"type":"object","properties":{"id":{"type":"string","example":"Account number"},"username":{"type":"string","example":"skrlth_cln"},"followers_count":{"type":"integer","example":1926},"profile_picture_url":{"type":"string","example":"https://scontent.fbga2-1.fna.fbcdn.net/v/t51.2885-15/80430551_1079322795741032_1637145016730124288_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=7d201b&_nc_ohc=VAFnV1DgyLAQ7kNvgGJ5aun&_nc_zt=23&_nc_ht=scontent.fbga2-1.fna&edm=AJdBtusEAAAA&oh=00_AYDs1WlBixvcIuV3AhL5AcdlcvVMk-fEjI4lK8iH2SY9aA&oe=677A0EE6"}}}}},"record":{"type":"string"},"caption":{"type":"string"},"endDate":{"type":"string","example":"2025-01-05T05:00:00.000Z"},"fbPixel":{"type":"string"},"igMedia":{"type":"object","properties":{"id":{"type":"string","example":"18005762860505925"},"ig_id":{"type":"string","example":"3015199515556164684"},"caption":{"type":"string","example":"YaestadisponiblenuestrorecienteEpENTREROMAYVIENAentodaslasplataformasdigitales💥💥Temasllenosdeenergía🔥🔥"},"username":{"type":"string","example":"skrlth_cln"},"media_url":{"type":"string","example":"https://scontent.cdninstagram.com/v/t51.29350-15/320670270_735882884546245_3496009786056529469_n.webp?stp=dst-jpg_e35_tt6&_nc_cat=108&ccb=1-7&_nc_sid=18de74&_nc_ohc=9CC-27mXPTEQ7kNvgHQsUz5&_nc_zt=23&_nc_ht=scontent.cdninstagram.com&edm=AM6HXa8EAAAA&_nc_gid=AGHC47vhJuuaL2tOkWKqHJ-&oh=00_AYDFRfoR_aAD2ATS_l6LFmoAhGdyvWBTJg5X2odZEN2_cg&oe=677A20AC"},"permalink":{"type":"string","example":"https://www.instagram.com/p/CnYI_vzp7RM/"},"timestamp":{"type":"string","example":"2023-01-14T01:30:13+0000"},"like_count":{"type":"integer","example":18},"media_type":{"type":"string","example":"IMAGE"},"selectable":{"type":"integer","example":true},"comments_count":{"type":"integer","example":1},"explicit_content":{"type":"integer","example":false},"media_product_type":{"type":"string","example":"FEED"}}},"captions":{"type":"string"},"startDate":{"type":"string","example":"2025-01-04T05:00:00.000Z"},"price_data":{"type":"object","properties":{"name":{"type":"string","example":"250FB/IGCampaignfor\"Skrlth\""},"price":{"type":"integer","example":250},"description":{"type":"string","example":"\"Skrlth\"(GrowInstagramEngagement)"}}},"fbAdAccount":{"type":"object","properties":{"id":{"type":"string","example":"Account number"},"name":{"type":"string","example":"Vendora"},"business":{"type":"object","properties":{"id":{"type":"string","example":"Account number"},"name":{"type":"string","example":"Vendify"}}},"currency":{"type":"string","example":"MXN"},"user_tasks":{"type":"array","items":{"type":"string","example":"DRAFT"}},"amount_spent":{"type":"number","example":5050.24},"userHasAccess":{"type":"integer","example":true},"account_status":{"type":"integer","example":1}}},"campaignName":{"type":"string","example":""},"conversionsDomain":{"type":"string","example":"symphony.to"},"targetedCountries":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"touring-markets"},"name":{"type":"string","example":"HighEngagementMarkets"},"budget":{"type":"integer","example":1},"locations":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"country"},"label":{"type":"string","example":"Australia"},"value":{"type":"string","example":"AU"},"region_id":{"type":"string"},"country_code":{"type":"string"}}}},"description":{"type":"string","example":"Thisaudienceautomaticallytargetspeopleincountrieswhereyou'relikelytogethigher,morevaluableengagement."}}}},"conversionsEnabled":{"type":"integer","example":false},"conversionsEventName":{"type":"string","example":"StreamingLinkClicked"},"targetingDemographics":{"type":"object","properties":{"age":{"type":"object","properties":{"max":{"type":"integer","example":28},"min":{"type":"integer","example":18}}},"gender":{"type":"string","example":"All"},"languages":{"type":"array","items":{"type":"object","properties":{"key":{"type":"integer","example":6},"name":{"type":"string","example":"English(US)"},"selected":{"type":"integer","example":true}}}}}},"userExistingAudiences":{"type":"array","items":{}},"additionalPageAudiences":{"type":"array","items":{}},"interestTargetingAudiences":{"type":"array","items":{"type":"object","properties":{"fbId":{"type":"string","example":"6003020834693"},"name":{"type":"string","example":"Music"}}}}}},"campaign_state":{"type":"object","properties":{"brand":{"type":"object","properties":{"id":{"type":"integer","example":358},"name":{"type":"string","example":"Skrlth"},"slug":{"type":"string","example":"skrlth"},"tier":{"type":"string","example":"pro"},"image":{"type":"string","example":"https://i.scdn.co/image/ab6761610000e5ebb23a44c0a1dced197a02dbaf"},"website":{"type":"object","properties":{"bgType":{"type":"string","example":"artwork"},"bgColor":{"type":"string","example":"#000"},"titleText":{"type":"string"},"socialIcons":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","example":"facebook"},"url":{"type":"string","example":"https://facebook.com/472098069518921"},"title":{"type":"string","example":"Facebook"},"width":{"type":"string","example":"25"},"height":{"type":"string","example":"25"},"enabled":{"type":"integer","example":true},"rounded":{"type":"integer","example":true},"placeholder":{"type":"string","example":"https://www.facebook.com/"},"backgroundColor":{"type":"string","example":""}}}},"buttonConfig":{"type":"string","example":"boxes"},"primaryColor":{"type":"string","example":"#7C18F7"},"secondaryColor":{"type":"string","example":"#000000"},"enableSocialIcons":{"type":"integer","example":false},"removeSymphonyBrand":{"type":"integer","example":false},"addAffiliateLinkToLogo":{"type":"integer","example":true}}},"currency":{"type":"object","properties":{"code":{"type":"string","example":"MXN"},"symbol":{"type":"string","example":"$"}}},"createdAt":{"type":"string","example":"2022-05-30T23:15:21.590Z"},"connections":{"type":"object","properties":{"deezer":{"type":"string"},"tiktok":{"type":"object","properties":{"url":{"type":"string","example":"https://tiktok.com/@skrlth.cln"},"username":{"type":"string","example":"skrlth.cln"}}},"twitter":{"type":"string"},"audiomack":{"type":"string"},"bandsintown":{"type":"string"},"chartmetric":{"type":"object","properties":{"id":{"type":"integer","example":5919680}}},"tiktok_auth":{"type":"string"},"tiktok_user":{"type":"string"},"tiktok_pixel":{"type":"string","example":"SDDFFS23423423423422"},"facebook_page":{"type":"object","properties":{"id":{"type":"string","example":"Account number"},"name":{"type":"string","example":"Skrlth"},"picture":{"type":"object","properties":{"data":{"type":"object","properties":{"url":{"type":"string","example":"https://scontent.fbga2-1.fna.fbcdn.net/v/t39.30808-1/274301226_620920095828753_1140218923250901113_n.jpg?stp=c358.0.924.924a_cp0_dst-jpg_s50x50_tt6&_nc_cat=108&ccb=1-7&_nc_sid=fe756c&_nc_ohc=OkDsoqbUHSUQ7kNvgGABr4V&_nc_zt=24&_nc_ht=scontent.fbga2-1.fna&edm=AGaHXAAEAAAA&_nc_gid=A6fDpX2vyGw-0ZenGdZiMv_&oh=00_AYA-ndeFAjMkuD5zsorxd7jSA6eR4f4uzVAYPfD73YDNcQ&oe=677A3C95"}}}}},"category":{"type":"string","example":"Músico/grupodemúsica"},"access_token":{"type":"string","example":"token"},"followers_count":{"type":"integer","example":1493}}},"facebook_pixel":{"type":"string"},"instagram_page":{"type":"object","properties":{"id":{"type":"string","example":"Account number"},"name":{"type":"string","example":"Skrlth"},"businessAccount":{"type":"object","properties":{"id":{"type":"string","example":"Account number"},"username":{"type":"string","example":"skrlth_cln"},"followers_count":{"type":"integer","example":1926},"profile_picture_url":{"type":"string","example":"https://scontent.fbga2-1.fna.fbcdn.net/v/t51.2885-15/80430551_1079322795741032_1637145016730124288_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=7d201b&_nc_ohc=VAFnV1DgyLAQ7kNvgGJ5aun&_nc_zt=23&_nc_ht=scontent.fbga2-1.fna&edm=AJdBtusEAAAA&oh=00_AYDs1WlBixvcIuV3AhL5AcdlcvVMk-fEjI4lK8iH2SY9aA&oe=677A0EE6"}}},"instagramAccount":{"type":"object","properties":{"id":{"type":"string","example":"Account number"},"username":{"type":"string","example":"skrlth_cln"},"is_private":{"type":"integer","example":false},"profile_pic":{"type":"string","example":"https://scontent.fbga2-1.fna.fbcdn.net/v/t51.2885-15/80430551_1079322795741032_1637145016730124288_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=7d201b&_nc_ohc=VAFnV1DgyLAQ7kNvgGJ5aun&_nc_zt=23&_nc_ht=scontent.fbga2-1.fna&edm=AAIyh0EEAAAA&oh=00_AYCtlbl351ffHu1b37-aiL9CZEJaJraTHmi9O_k3mrKgWw&oe=677C79A6"},"follow_count":{"type":"integer","example":48},"is_published":{"type":"integer","example":true},"followed_by_count":{"type":"integer","example":1926}}},"connected_instagram_account":{"type":"object","properties":{"id":{"type":"string","example":"Account number"},"username":{"type":"string","example":"skrlth_cln"},"followers_count":{"type":"integer","example":1926},"profile_picture_url":{"type":"string","example":"https://scontent.fbga2-1.fna.fbcdn.net/v/t51.2885-15/80430551_1079322795741032_1637145016730124288_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=7d201b&_nc_ohc=VAFnV1DgyLAQ7kNvgGJ5aun&_nc_zt=23&_nc_ht=scontent.fbga2-1.fna&edm=AAIyh0EEAAAA&oh=00_AYCtlbl351ffHu1b37-aiL9CZEJaJraTHmi9O_k3mrKgWw&oe=677C79A6"}}}}},"youtube_channel":{"type":"object","properties":{"id":{"type":"string","example":"UCAqgzteUMl5z5oeWi2Gl9mA"},"etag":{"type":"string","example":"gaeNG6nVJIDQNdUMIohcAihg2q8"},"kind":{"type":"string","example":"youtube#searchResult"},"snippet":{"type":"object","properties":{"title":{"type":"string","example":"SkarlethCLN"},"channelId":{"type":"string","example":"UCAqgzteUMl5z5oeWi2Gl9mA"},"thumbnails":{"type":"object","properties":{"high":{"type":"object","properties":{"url":{"type":"string","example":"https://yt3.ggpht.com/osHR2uBpd_PRxthXbnhGi7725-Kz9nhJBggZkXRGYgEpjqHUm8cZh98JpBfFa-cW0UHLrL82Pg=s800-c-k-c0xffffffff-no-rj-mo"}}},"medium":{"type":"object","properties":{"url":{"type":"string","example":"https://yt3.ggpht.com/osHR2uBpd_PRxthXbnhGi7725-Kz9nhJBggZkXRGYgEpjqHUm8cZh98JpBfFa-cW0UHLrL82Pg=s240-c-k-c0xffffffff-no-rj-mo"}}},"default":{"type":"object","properties":{"url":{"type":"string","example":"https://yt3.ggpht.com/osHR2uBpd_PRxthXbnhGi7725-Kz9nhJBggZkXRGYgEpjqHUm8cZh98JpBfFa-cW0UHLrL82Pg=s88-c-k-c0xffffffff-no-rj-mo"}}}}},"description":{"type":"string","example":"Canaloficialdelabandaculichi...Skarleth..."},"publishTime":{"type":"string","example":"2012-11-03T05:16:40Z"},"publishedAt":{"type":"string","example":"2012-11-03T05:16:40Z"},"channelTitle":{"type":"string","example":"SkarlethCLN"},"liveBroadcastContent":{"type":"string","example":"none"}}}}},"google_analytics":{"type":"string","example":"G-887655"},"logged_in_fb_user":{"type":"object","properties":{"id":{"type":"string","example":"5159353627418556"},"name":{"type":"string","example":"MiguelGonzález"},"picture":{"type":"object","properties":{"data":{"type":"object","properties":{"url":{"type":"string","example":"https://platform-lookaside.fbsbx.com/platform/profilepic/?asid=5159353627418556&height=50&width=50&ext=1738416003&hash=AbZeDTAZjm9hhgDNvUENpJQh"}}}}},"expires_at":{"type":"string"},"access_token":{"type":"string","example":"token"},"fbTokenValid":{"type":"integer","example":true}}},"tiktok_ad_account":{"type":"string"},"facebook_ad_account":{"type":"object","properties":{"id":{"type":"string","example":"Account number"},"name":{"type":"string","example":"Vendora"},"business":{"type":"object","properties":{"id":{"type":"string","example":"Account number"},"name":{"type":"string","example":"Vendify"}}},"currency":{"type":"string","example":"MXN"},"user_tasks":{"type":"array","items":{"type":"string","example":"DRAFT"}},"amount_spent":{"type":"number","example":5050.24},"userHasAccess":{"type":"integer","example":true},"account_status":{"type":"integer","example":1}}},"spotify_artist_page":{"type":"object","properties":{"id":{"type":"string","example":"5fX7wIWuzZFWQbm25ccU3t"},"uri":{"type":"string","example":"spotify:artist:5fX7wIWuzZFWQbm25ccU3t"},"href":{"type":"string","example":"https://api.spotify.com/v1/artists/5fX7wIWuzZFWQbm25ccU3t"},"name":{"type":"string","example":"Skrlth"},"type":{"type":"string","example":"artist"},"genres":{"type":"array","items":{}},"images":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string","example":"https://i.scdn.co/image/ab6761610000e5ebb23a44c0a1dced197a02dbaf"},"width":{"type":"integer","example":640},"height":{"type":"integer","example":640}}}},"followers":{"type":"object","properties":{"href":{"type":"string"},"total":{"type":"integer","example":41}}},"popularity":{"type":"integer","example":0},"external_urls":{"type":"object","properties":{"spotify":{"type":"string","example":"https://open.spotify.com/artist/5fX7wIWuzZFWQbm25ccU3t"}}}}},"reauthenticateFbUser":{"type":"integer","example":false},"soundcloud_artist_page":{"type":"object","properties":{"url":{"type":"string","example":"https://soundcloud.com/skarleth-4"},"username":{"type":"string","example":"skarleth-4"}}},"tiktok_business_centers":{"type":"string"},"tiktok_ad_account_funded":{"type":"integer","example":false},"facebook_business_manager":{"type":"string"},"business_discovery_instagram":{"type":"string"},"facebook_pixel_conversions_domain":{"type":"string"},"facebook_pixel_conversions_api_access_token":{"type":"string"}}},"hideFansTab":{"type":"integer","example":false},"subscription":{"type":"object","properties":{"cid":{"type":"string","example":"susbcription"},"tier":{"type":"string","example":"pro"},"type":{"type":"string","example":"forced"},"status":{"type":"string","example":"active"},"details":{"type":"object","properties":{"forced":{"type":"integer","example":true},"trialOver":{"type":"string"},"subscribed":{"type":"integer","example":true},"trialDaysLeft":{"type":"string"}}},"is_trial":{"type":"integer","example":false},"onOldPlan":{"type":"integer","example":true},"freeTrialOver":{"type":"integer","example":true},"retriesFailed":{"type":"integer","example":false},"payment_method":{"type":"string"},"recurring_interval":{"type":"string"},"allowCustomerPortal":{"type":"integer","example":true},"coupon_on_cancelation_redeemed":{"type":"integer","example":false}}},"freeTrialOver":{"type":"integer","example":true},"permissionLevel":{"type":"string","example":"administrator"},"affiliate_details":{"type":"string"},"conversionsStatus":{"type":"object","properties":{"conversions_tasks":{"type":"array","items":{"type":"string","example":"AD_ACCOUNT_CONNECTED"}},"isEventRegistered":{"type":"integer","example":false},"showFinishedModal":{"type":"integer","example":false},"conversions_tasks_completed":{"type":"integer","example":false}}},"content_initialized":{"type":"integer","example":true},"showRecommendations":{"type":"integer","example":false},"dashboard_initialized":{"type":"integer","example":true}}},"accounts":{"type":"object","properties":{"fbPage":{"type":"object","properties":{"id":{"type":"string","example":"Account number"},"name":{"type":"string","example":"Skrlth"},"picture":{"type":"object","properties":{"data":{"type":"object","properties":{"url":{"type":"string","example":"https://scontent.fbga2-1.fna.fbcdn.net/v/t39.30808-1/274301226_620920095828753_1140218923250901113_n.jpg?stp=c358.0.924.924a_cp0_dst-jpg_s50x50_tt6&_nc_cat=108&ccb=1-7&_nc_sid=fe756c&_nc_ohc=OkDsoqbUHSUQ7kNvgGABr4V&_nc_zt=24&_nc_ht=scontent.fbga2-1.fna&edm=AGaHXAAEAAAA&_nc_gid=A6fDpX2vyGw-0ZenGdZiMv_&oh=00_AYA-ndeFAjMkuD5zsorxd7jSA6eR4f4uzVAYPfD73YDNcQ&oe=677A3C95"}}}}},"category":{"type":"string","example":"Músico/grupodemúsica"},"access_token":{"type":"string","example":"token"},"followers_count":{"type":"integer","example":1493}}},"igPage":{"type":"object","properties":{"id":{"type":"string","example":"Account number"},"name":{"type":"string","example":"Skrlth"},"businessAccount":{"type":"object","properties":{"id":{"type":"string","example":"Account number"},"username":{"type":"string","example":"skrlth_cln"},"followers_count":{"type":"integer","example":1926},"profile_picture_url":{"type":"string","example":"https://scontent.fbga2-1.fna.fbcdn.net/v/t51.2885-15/80430551_1079322795741032_1637145016730124288_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=7d201b&_nc_ohc=VAFnV1DgyLAQ7kNvgGJ5aun&_nc_zt=23&_nc_ht=scontent.fbga2-1.fna&edm=AJdBtusEAAAA&oh=00_AYDs1WlBixvcIuV3AhL5AcdlcvVMk-fEjI4lK8iH2SY9aA&oe=677A0EE6"}}},"instagramAccount":{"type":"object","properties":{"id":{"type":"string","example":"Account number"},"username":{"type":"string","example":"skrlth_cln"},"is_private":{"type":"integer","example":false},"profile_pic":{"type":"string","example":"https://scontent.fbga2-1.fna.fbcdn.net/v/t51.2885-15/80430551_1079322795741032_1637145016730124288_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=7d201b&_nc_ohc=VAFnV1DgyLAQ7kNvgGJ5aun&_nc_zt=23&_nc_ht=scontent.fbga2-1.fna&edm=AAIyh0EEAAAA&oh=00_AYCtlbl351ffHu1b37-aiL9CZEJaJraTHmi9O_k3mrKgWw&oe=677C79A6"},"follow_count":{"type":"integer","example":48},"is_published":{"type":"integer","example":true},"followed_by_count":{"type":"integer","example":1926}}},"connected_instagram_account":{"type":"object","properties":{"id":{"type":"string","example":"Account number"},"username":{"type":"string","example":"skrlth_cln"},"followers_count":{"type":"integer","example":1926},"profile_picture_url":{"type":"string","example":"https://scontent.fbga2-1.fna.fbcdn.net/v/t51.2885-15/80430551_1079322795741032_1637145016730124288_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=7d201b&_nc_ohc=VAFnV1DgyLAQ7kNvgGJ5aun&_nc_zt=23&_nc_ht=scontent.fbga2-1.fna&edm=AJdBtusEAAAA&oh=00_AYDs1WlBixvcIuV3AhL5AcdlcvVMk-fEjI4lK8iH2SY9aA&oe=677A0EE6"}}}}},"fbPixel":{"type":"string"},"fbAdAccount":{"type":"object","properties":{"id":{"type":"string","example":"Account number"},"name":{"type":"string","example":"Vendora"},"business":{"type":"object","properties":{"id":{"type":"string","example":"Account number"},"name":{"type":"string","example":"Vendify"}}},"currency":{"type":"string","example":"MXN"},"user_tasks":{"type":"array","items":{"type":"string","example":"DRAFT"}},"amount_spent":{"type":"number","example":5050.24},"userHasAccess":{"type":"integer","example":true},"account_status":{"type":"integer","example":1}}}}},"campaign":{"type":"object","properties":{"details":{"type":"object","properties":{"budget":{"type":"integer","example":250},"endDate":{"type":"string","example":"2025-01-05T05:00:00.000Z"},"startDate":{"type":"string","example":"2025-01-04T05:00:00.000Z"}}},"creative":{"type":"object","properties":{"cta":{"type":"object","properties":{"label":{"type":"string","example":"LearnMore"},"value":{"type":"string","example":"LEARN_MORE"}}},"owner":{"type":"object","properties":{"id":{"type":"string","example":"Account number"},"username":{"type":"string","example":"skrlth_cln"},"profile_pic":{"type":"string","example":"https://scontent-ord5-3.xx.fbcdn.net/v/t51.2885-15/80430551_1079322795741032_1637145016730124288_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=7d201b&_nc_ohc=VAFnV1DgyLAQ7kNvgFxmmEn&_nc_zt=23&_nc_ht=scontent-ord5-3.xx&edm=AAIyh0EEAAAA&oh=00_AYDKRLWPHHjNSFDT3ZoKT31B8uOeukjv10imSifMHqd1PA&oe=677C79A6"}}},"assets":{"type":"object","properties":{"all":{"type":"array","items":{}}}},"igMedia":{"type":"object","properties":{"id":{"type":"string","example":"18005762860505925"},"ig_id":{"type":"string","example":"3015199515556164684"},"caption":{"type":"string","example":"YaestadisponiblenuestrorecienteEpENTREROMAYVIENAentodaslasplataformasdigitales💥💥Temasllenosdeenergía🔥🔥"},"username":{"type":"string","example":"skrlth_cln"},"media_url":{"type":"string","example":"https://scontent-ord5-1.cdninstagram.com/v/t51.29350-15/320670270_735882884546245_3496009786056529469_n.webp?stp=dst-jpg_e35_tt6&_nc_cat=108&ccb=1-7&_nc_sid=18de74&_nc_ohc=yzXlKYxccDYQ7kNvgHikHKN&_nc_zt=23&_nc_ht=scontent-ord5-1.cdninstagram.com&edm=AEQ6tj4EAAAA&_nc_gid=AWffBefsUdPa2uhf0ORDgy_&oh=00_AYCFo4EiiZSlM1ShfH4G9B-mSD6nmQfwk2Nrwj1qcZ02aw&oe=677C8B6C"},"permalink":{"type":"string","example":"https://www.instagram.com/p/CnYI_vzp7RM/"},"timestamp":{"type":"string","example":"2023-01-14T01:30:13+0000"},"like_count":{"type":"integer","example":18},"media_type":{"type":"string","example":"IMAGE"},"selectable":{"type":"integer","example":true},"comments_count":{"type":"integer","example":1},"explicit_content":{"type":"integer","example":false},"media_product_type":{"type":"string","example":"FEED"}}},"captions":{"type":"string"},"mainCaption":{"type":"string"}}},"targeting":{"type":"object","properties":{"targetedCountries":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"touring-markets"},"name":{"type":"string","example":"HighEngagementMarkets"},"budget":{"type":"integer","example":1},"locations":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"country"},"label":{"type":"string","example":"Australia"},"value":{"type":"string","example":"AU"},"region_id":{"type":"string"},"country_code":{"type":"string"}}}},"description":{"type":"string","example":"Thisaudienceautomaticallytargetspeopleincountrieswhereyou'relikelytogethigher,morevaluableengagement."}}}},"targetingDemographics":{"type":"object","properties":{"age":{"type":"object","properties":{"max":{"type":"integer","example":28},"min":{"type":"integer","example":18}}},"gender":{"type":"string","example":"All"},"languages":{"type":"array","items":{"type":"object","properties":{"key":{"type":"integer","example":6},"name":{"type":"string","example":"English(US)"},"selected":{"type":"integer","example":true}}}}}},"additionalPageAudiences":{"type":"array","items":{}},"interestTargetingAudiences":{"type":"array","items":{"type":"object","properties":{"fbId":{"type":"string","example":"6003020834693"},"name":{"type":"string","example":"Music"}}}}}},"conversions":{"type":"object","properties":{"conversionsDomain":{"type":"string","example":"symphony.to"},"conversionsEnabled":{"type":"integer","example":false},"conversionsEventName":{"type":"string","example":"StreamingLinkClicked"},"conversionsApiAccessToken":{"type":"string"}}}}}}},"payment_details":{"type":"string"},"platform_details":{"type":"object","properties":{"ad_types":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"all"},"ad_ids":{"type":"array","items":{"type":"string","example":"6718545311486"}}}}},"campaigns":{"type":"array","items":{"type":"string","example":"6718545088486"}},"ad_account":{"type":"string","example":"Account number"},"access_token":{"type":"string","example":"token"},"errorCampaigns":{"type":"array","items":{}},"campaignsMapping":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"touring-markets"},"name":{"type":"string","example":"HighEngagementMarkets"},"cities":{"type":"array","items":{}},"regions":{"type":"array","items":{}},"fraction":{"type":"integer","example":1},"countries":{"type":"array","items":{"type":"string","example":"AU"}},"fbCampaign":{"type":"object","properties":{"id":{"type":"string","example":"6718545088486"},"error":{"type":"string"},"adsets":{"type":"array","items":{}},"fields":{"type":"object","properties":{"name":{"type":"string","example":"[S]  Boost Engagement / 01/04"},"status":{"type":"string","example":"ACTIVE"},"objective":{"type":"string","example":"OUTCOME_ENGAGEMENT"},"pacing_type":{"type":"array","items":{"type":"string","example":"standard"}},"bid_strategy":{"type":"string","example":"LOWEST_COST_WITHOUT_CAP"},"lifetime_budget":{"type":"integer","example":25000},"destination_type":{"type":"string","example":"ON_POST"},"special_ad_categories":{"type":"string","example":"NONE"}}}}},"excluded_countries":{"type":"array","items":{"type":"string","example":"AD"}},"included_countries":{"type":"array","items":{"type":"string","example":"AU"}}}}},"creatives_mapping":{"type":"array","items":{}},"campaignsMappingSnapshot":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"touring-markets"},"name":{"type":"string","example":"HighEngagementMarkets"},"cities":{"type":"array","items":{}},"regions":{"type":"array","items":{}},"fraction":{"type":"integer","example":1},"countries":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","example":"AU"},"name":{"type":"string","example":"Australia"},"type":{"type":"string","example":"country"},"supports_city":{"type":"integer","example":true},"supports_region":{"type":"integer","example":true}}}},"fbCampaign":{"type":"object","properties":{"id":{"type":"string","example":"6718545088486"},"error":{"type":"string"},"adsets":{"type":"array","items":{}},"fields":{"type":"object","properties":{"name":{"type":"string","example":"[S]  Boost Engagement / 01/04"},"status":{"type":"string","example":"ACTIVE"},"objective":{"type":"string","example":"OUTCOME_ENGAGEMENT"},"pacing_type":{"type":"array","items":{"type":"string","example":"standard"}},"bid_strategy":{"type":"string","example":"LOWEST_COST_WITHOUT_CAP"},"lifetime_budget":{"type":"integer","example":25000},"destination_type":{"type":"string","example":"ON_POST"},"special_ad_categories":{"type":"string","example":"NONE"}}}}},"excluded_countries":{"type":"array","items":{"type":"string","example":"AD"}},"included_countries":{"type":"array","items":{"type":"string","example":"AU"}}}}}}},"campaign_platforms":{"type":"array","items":{"type":"string","example":"fb"}}}},"createdAt":{"type":"string","example":"2024-12-31T19:26:46.705Z"},"updatedAt":{"type":"string","example":"2025-01-02T14:52:14.229Z"}}},"status":{"type":"integer","example":200}}},"RecordStreams":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":41388},"brand_id":{"type":"integer","example":358},"type":{"type":"string","example":"record_streams"},"name":{"type":"string","example":"Entre Roma y Viena"},"slug":{"type":"string","example":"entre-roma-y-viena"},"createdAt":{"type":"string","format":"date-time","example":"2023-01-09T08:11:53.986Z"},"updatedAt":{"type":"string","format":"date-time","example":"2024-03-27T18:20:18.388Z"},"url":{"type":"string","example":"skrlth-entre-roma-y-viena"},"spotify_id":{"type":"string","example":"78TWg6fTRLxGKYN5RiSsQt"},"record_url":{"type":"string","example":"https://open.spotify.com/album/78TWg6fTRLxGKYN5RiSsQt"},"release_date":{"type":"string","format":"date","example":"2023-01-11"},"thumbnail_url":{"type":"string","example":"https://i.scdn.co/image/ab67616d0000b273b6cada9f4c723d8645647508"},"external_links":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string","example":"https://music.amazon.com/albums/B0BRXRQ3BF"},"name":{"type":"string","example":"amazon_music"},"type":{"type":"string","example":"amazon_music"},"enabled":{"type":"boolean","example":true}}}}}}},"status":{"type":"integer","example":200}}},"ArtistSearchResponse":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"external_urls":{"type":"object","properties":{"spotify":{"type":"string","example":"https://open.spotify.com/artist/3fMbdgg4jU18AjLCKBhRSm"}}},"followers":{"type":"object","properties":{"href":{"type":"number","example":100},"total":{"type":"integer","example":34137466}}},"genres":{"type":"array","items":{"type":"string","example":"r&b"}},"href":{"type":"string","example":"https://api.spotify.com/v1/artists/3fMbdgg4jU18AjLCKBhRSm"},"id":{"type":"string","example":"3fMbdgg4jU18AjLCKBhRSm"},"images":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string","example":"https://i.scdn.co/image/ab6761610000e5eb997cc9a4aec335d46c9481fd"},"height":{"type":"integer","example":640},"width":{"type":"integer","example":640}}}},"name":{"type":"string","example":"Michael Jackson"},"popularity":{"type":"integer","example":85},"type":{"type":"string","example":"artist"},"uri":{"type":"string","example":"spotify:artist:3fMbdgg4jU18AjLCKBhRSm"}}}},"status":{"type":"integer","example":200}}}}},"security":[{"ApiKeyAuth":[],"BrandUserReference":[]}]}